
GO
/****** Object:  StoredProcedure [dbo].[usp_AC_GeneralLedgerReport_New]    Script Date: 9/26/2023 9:14:07 AM ******/
SET ANSI_NULLS ON;
GO
SET QUOTED_IDENTIFIER ON;
GO
/*
====================================
	Author: Unknown
    Creadted Date: Unknown
	Last Modified By: Yawahang
	Last Modified Date: 09/25/2023
====================================

 EXEC dbo.usp_AC_GeneralLedgerReport_New @ACID = '20,30,40,10,19',
                                         @Start = '2023-01-26',
                                         @End = '2023-09-26'
*/
ALTER PROCEDURE [dbo].[usp_AC_GeneralLedgerReport_New]
    @ACID VARCHAR(MAX),
    @Start DATE,
    @End DATE
AS
BEGIN
    BEGIN TRY

        CREATE TABLE #AccountLedger
        (
            ID INT IDENTITY(1, 1),
            TransactionID INT NULL,
            PFinancialAcID INT NULL,
            FinancialAcID INT NULL,
            [Date] DATE NULL,
            ParentAccount VARCHAR(200) NULL,
            AccountHead VARCHAR(200) NULL,
            Particulars VARCHAR(200) NULL,
            Debit DECIMAL(18, 2) NULL,
            Credit DECIMAL(18, 2) NULL,
            Balance DECIMAL(18, 2) NULL,
            [Descriptions] VARCHAR(200) NULL
        );

        INSERT #AccountLedger
        (
            TransactionID,
            PFinancialAcID,
            FinancialAcID,
            ParentAccount,
            [Date],
            AccountHead,
            Particulars,
            Debit,
            Credit,
            Balance,
            [Descriptions]
        )
        SELECT TD.TransactionID,
               FA.PFinancialAcID,
               TD.FinancialAcID,
               afa.Name,
               T.TransactionDate,
               CONCAT(FA.Name, ' #: ', T.VoucherNo),
               TD.Particulars,
               TD.Debit,
               TD.Credit,
               0 AS Balance,
               T.Descriptions
        FROM dbo.Ac_Transaction T
            INNER JOIN dbo.Ac_TransactionDetail TD
                ON T.TransactionID = TD.TransactionID
            INNER JOIN dbo.Ac_FinancialAc FA
                ON FA.FinancialAcID = TD.FinancialAcID
            LEFT JOIN dbo.Ac_FinancialAc AS afa
                ON afa.FinancialAcID = FA.PFinancialAcID
        WHERE (
            (
                @ACID <> ''
                AND EXISTS
        (
            SELECT value FROM STRING_SPLIT(@ACID, ',')WHERE value = FA.FinancialAcID
        )
                OR ISNULL(@ACID, '') = ''
            )
              )
              AND T.TransactionDate
              BETWEEN @Start AND @End
        ORDER BY afa.Name,
                 T.TransactionDate;

        INSERT #AccountLedger
        (
            TransactionID,
            PFinancialAcID,
            FinancialAcID,
            [Date],
            ParentAccount,
            AccountHead,
            Particulars,
            Debit,
            Credit,
            Balance,
            [Descriptions]
        )
        SELECT 0,
               0,
               0,
               @Start,
               a.ParentAccount,
               'Opening Balance',
               '',
               0,
               0,
               ISNULL(o.OpeningBalance, 0),
               ''
        FROM
        (
            SELECT DISTINCT
                   al.ParentAccount,
                   al.PFinancialAcID
            FROM #AccountLedger AS al
        ) a
            CROSS APPLY
        (
            SELECT SUM(TD.Debit) - SUM(TD.Credit) AS OpeningBalance
            FROM dbo.Ac_Transaction AS T
                INNER JOIN dbo.Ac_TransactionDetail TD
                    ON T.TransactionID = TD.TransactionID
            WHERE TD.FinancialAcID = a.PFinancialAcID
                  AND T.TransactionDate < @Start
        ) o;

        SELECT TransactionID,
               FinancialAcID,
               ParentAccount,
               [Date],
               AccountHead,
               Particulars,
               Debit,
               Credit,
               Balance,
               Descriptions
        FROM #AccountLedger;

        DROP TABLE IF EXISTS #AccountLedger;
    END TRY
    BEGIN CATCH
        THROW;
    END CATCH;
END;
