USE [RO-CHICKENSTATION]
GO
/****** Object:  StoredProcedure [dbo].[USP_RO_SAVEMEMBERSHIP]    Script Date: 1/3/2024 11:50:17 AM ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
--DROP PROCEDURE [dbo].[USP_RO_SAVEMEMBERSHIP]
ALTER PROCEDURE [dbo].[USP_RO_SAVEMEMBERSHIP]
(
    @MembershipID INT,	
    @Fname NVARCHAR(256),
    @Lname NVARCHAR(256),
    @Address NVARCHAR(256),
    @City NVARCHAR(256),
    @Country NVARCHAR(256),
    @TelHome NVARCHAR(256),
    @TelWork NVARCHAR(256),
    @TelMobile NVARCHAR(256),
    @Email NVARCHAR(256),
    @Occupation NVARCHAR(256),
    @Company NVARCHAR(256) = NULL,
    @Birthday NVARCHAR(256) = NULL,
    @Anniversary NVARCHAR(256) = NULL,
    @CardNumber NVARCHAR(256) = NULL,
    @DateOfIssue NVARCHAR(256) = NULL,
    @DateOfExpire NVARCHAR(256) = NULL,
    @discount DECIMAL(18, 0) = NULL,
    @PAN NVARCHAR(500),
    @IsCustomer BIT,
    @isvat BIT,
    @Addedby NVARCHAR(256),
    @OpeningBalance DECIMAL(16, 2)
)
AS

DECLARE @DateNow DATETIME = GETDATE();

IF (@MembershipID = 0)
BEGIN
    DECLARE @financialAcId INT;

    INSERT INTO Ac_FinancialAc
    (
        Name,
        PFinancialAcID,
        FinancialSysID,
        AddedBy,
        AddedOn,
        IsArchived,
        OpeningBalance
    )
    VALUES
    (   @Fname + ' ' + @Lname, CASE
                                   WHEN @IsCustomer = 1 THEN
                                       15
                                   ELSE
                                       41
                               END, 2, 'system', GETDATE(), 0, @OpeningBalance);

    SET @financialAcId = CAST(@@IDENTITY AS INT);

    INSERT INTO RO_LoyaltyMembership
    (
        Fname,
        Lname,
        Address,
        City,
        Country,
        TelHome,
        TelWork,
        TelMobile,
        Email,
        Occupation,
        Company,
        Birthday,
        Anniversary,
        CardNumber,
        DateOfIssue,
        DateOfExpire,
        discount,
        PAN,
        IsCustomer,
        RemainingBalance,
        IsVat,
        AddedBy,
        AddedOn,
        FinancialAcId,
        OpeningBalance
    )
    VALUES
    (@Fname, @Lname, @Address, @City, @Country, @TelHome, @TelWork, @TelMobile, @Email, @Occupation, @Company,
     @Birthday, @Anniversary, @CardNumber, @DateOfIssue, @DateOfExpire, @discount, @PAN, @IsCustomer, @OpeningBalance, @isvat,
     @Addedby, GETDATE(), @financialAcId, @OpeningBalance);
    SET @MembershipID = CAST(@@IDENTITY AS INT);

	EXEC [dbo].[USP_Ac_AddACLoyaltyOpeningBalance] 
	@MembershipID,
	@financialAcId, 
	@DateNow,
	@OpeningBalance,
	@AddedBy,
	@IsCustomer,
	1

END;
ELSE
BEGIN
    UPDATE RO_LoyaltyMembership
    SET Fname = @Fname,
        Lname = @Lname,
        Address = @Address,
        City = @City,
        Country = @Country,
        TelHome = @TelHome,
        TelWork = @TelWork,
        TelMobile = @TelMobile,
        Email = @Email,
        Occupation = @Occupation,
        Company = @Company,
        Birthday = @Birthday,
        Anniversary = @Anniversary,
        CardNumber = @CardNumber,
        DateOfIssue = @DateOfIssue,
        DateOfExpire = @DateOfExpire,
        discount = @discount,
        PAN = @PAN,
        IsCustomer = @IsCustomer,
        IsVat = @isvat,
        UpdatedBy = @Addedby,
        UpdatedOn = GETDATE(),
        OpeningBalance = @OpeningBalance,
		RemainingBalance=@OpeningBalance
    WHERE MembershipID = @MembershipID;

	DECLARE @Fcid INT = ISNULL((select FinancialAcId from RO_LoyaltyMembership where MembershipID= @MembershipID ),0)

	EXEC [dbo].[USP_Ac_AddACLoyaltyOpeningBalance] 
	@MembershipID,
	@Fcid,
	'',
	@OpeningBalance,
	@AddedBy,
	@IsCustomer,
	0



END;


