<?xml version="1.0" encoding="UTF-8"?>
<configuration>
    <system.webServer>
        <directoryBrowse enabled="false" />
    </system.webServer>
    <connectionStrings>
        <remove name="OraAspNetConString" />
        <remove name="LocalSqlServer" />
        <remove name="LocalMySqlServer" />
        <add connectionString="Data Source=danfeserver;Initial Catalog=RestroOrder_V1.2;Integrated Security=False;Persist Security Info=False;User ID=db_user;Password=danfeNepal1!;Connect Timeout=120" name="SageFrameConnectionString" />
    </connectionStrings>
</configuration>
