<?xml version="1.0" encoding="UTF-8"?>
<configuration>
    <system.webServer>
        <directoryBrowse enabled="false" />
    </system.webServer>
    <connectionStrings>
        <remove name="OraAspNetConString" />
        <remove name="LocalSqlServer" />
        <remove name="LocalMySqlServer" />
        <add connectionString="Data Source=DESKTOP-9VVHFMK;Initial Catalog=30GrillDurbarDB;Integrated Security=False;Persist Security Info=False;User ID=sa;Password=saa;Connect Timeout=120" name="SageFrameConnectionString" />
    </connectionStrings>
</configuration>
