
GO
/****** Object:  StoredProcedure [dbo].[usp_ac_getProfitLoss]    Script Date: 10/2/2023 10:43:42 AM ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO

/*
====================================
	Author: Unknown
    Creadted Date: Unknown
	Last Modified By: Yawahang
	Last Modified Date: 09/25/2023
====================================

EXEC dbo.usp_ac_getProfitLoss '2018-10-14','2023-09-21'

*/
ALTER PROCEDURE [dbo].[usp_ac_getProfitLoss]
    @StartDate DATETIME,
    @EndDate DATETIME
AS
BEGIN; 
	DECLARE @AccEntryTypeId int 
	SELECT @AccEntryTypeId  = Id from Ac_EntryType where AccountEntryType = 'Profit & Loss A/C'
	  
        CREATE TABLE #AccountLedger
        ( 
            PFinancialAcID INT NULL,
            FinancialAcID INT NULL,
            PFinancialAcName VARCHAR(200) NULL,
            FinancialAcName VARCHAR(200) NULL,
            Debit DECIMAL(18, 2) NULL,
            Credit DECIMAL(18, 2) NULL,
            IsDebit BIT DEFAULT(0)
        );

        INSERT #AccountLedger
        (
            PFinancialAcID,
            FinancialAcID,
            PFinancialAcName,
            FinancialAcName,
            Debit,
            Credit, 
			IsDebit
        )
        SELECT FA.PFinancialAcID,
               TD.FinancialAcID,
               afa.Name,
               FA.Name,
               SUM(TD.Debit),
               SUM(TD.Credit),
			   Fa.IsDebit
        FROM dbo.Ac_Transaction T
            INNER JOIN dbo.Ac_TransactionDetail TD
                ON T.TransactionID = TD.TransactionID
            INNER JOIN dbo.Ac_FinancialAc FA
                ON FA.FinancialAcID = TD.FinancialAcID
            LEFT JOIN dbo.Ac_FinancialAc AS afa
                ON afa.FinancialAcID = FA.PFinancialAcID
        WHERE  T.TransactionDate
              BETWEEN CAST(@StartDate AS DATE) AND  CAST(@EndDate AS DATE)
			  AND ISNULL(FA.AccEntryType,0) = @AccEntryTypeId 
	    GROUP BY 
               TD.FinancialAcID,
               FA.Name ,
			   FA.PFinancialAcID,
               afa.Name,
			   Fa.IsDebit

			   --select * from #AccountLedger

			   DECLARE @OpeningStock money;
			   SELECT @OpeningStock = SUM(TD.Debit) - SUM(TD.Credit)
            FROM dbo.Ac_Transaction AS T
                INNER JOIN dbo.Ac_TransactionDetail TD
                    ON T.TransactionID = TD.TransactionID
            WHERE  T.TransactionDate < @StartDate
			 
			   DECLARE @ClosingStock money;
			   SELECT @ClosingStock = SUM(TD.Debit) - SUM(TD.Credit)
            FROM dbo.Ac_Transaction AS T
                INNER JOIN dbo.Ac_TransactionDetail TD
                    ON T.TransactionID = TD.TransactionID
            WHERE  T.TransactionDate <= @EndDate

     INSERT #AccountLedger
        (
            PFinancialAcID,
            FinancialAcID,
            PFinancialAcName,
            FinancialAcName,
            Debit,
            Credit,
            IsDebit
        )
        SELECT 0,
               0,
               'OPENING STOCK',
               'OPENING STOCK',
               0,
               ISNULL(@OpeningStock, 0),
               1 
		UNION
		SELECT 0,
               0,
               'CLOSING STOCK',
               'CLOSING STOCK',
               0,
               ISNULL(@ClosingStock, 0),
               0
       
	   SELECT  
               FinancialAcID,
               PFinancialAcName, 
               FinancialAcName,
               Debit,
               Credit,
               IsDebit
        FROM #AccountLedger
		 ORDER BY IsDebit,
			   PFinancialAcID,
               PFinancialAcName,
               FinancialAcID,
               FinancialAcName
				  

        DROP TABLE IF EXISTS #AccountLedger;
END;
