<?xml version="1.0" encoding="UTF-8"?>
<connectionStrings>
  <clear />
  
   <!--<add connectionString="Data Source=(local);Initial Catalog=DevRestroMaster;Integrated Security=False;Persist Security Info=False;Trusted_Connection=True;TrustServerCertificate=True" name="SageFrameConnectionString" providerName="System.Data.SqlClient" />-->

  <add connectionString="Server=49.236.212.117,65511;Initial Catalog=UATRestroMaster;Trusted_Connection=False;MultipleActiveResultSets=True;user id=dev;password=Dev@560$conn" name="SageFrameConnectionString" providerName="System.Data.SqlClient" />
</connectionStrings>

