<?xml version="1.0" encoding="UTF-8"?>
<appSettings>
	<clear />
	<add key="FCKeditor:BasePath" value="~/Editors/fckeditor/" />
	<add key="CKeditor:BasePath" value="~/Editors/ckeditor" />
	<add key="FCKeditor:UserFilesPath" value="~/Upload/" />
	<add key="ChartImageHandler" value="storage=file;timeout=20;dir=C:\TempImageFiles;" />
	<add key="DatabaseName" value="RO-PRIVE-001" />
	<add key="objectQualifier" value="" />
	<add key="databaseOwner" value="dbo" />
	<add key="databaseVersion" value="02.00.00" />
	<add key="IsInstalled" value="true" />
	<add key="InstallationDate" value="8/20/2015" />
	<add key="SageFrameVersion" value="3.6" />
	<add key="ShowException" value="false" />
	<add key="SplitCostCenterInBill" value="false" />
	<add key="ServChargeInTakeAway" value="false" />
	<add key="VATforBill" value="true" />
	<add key="ItemCharacterLimit" value="100" />
	<add key="CompanyCode" value="RO-PRIVE-001" />
	<add key="FoodCourtOrderPrinting" value="true" />
	<add key="WholeSaleOrderPrinting" value="true" />
	<add key="FoodCourtEstimateOrders" value="true" />
	<add key="foodCourtAutoBillGenerate" value="false" />
	<add key="OrderPrinting" value="true" />
	<add key="costcenterRefreshInterval" value="1" />
	<add key="KOTCharacterLength" value="34" />
	<add key="KOTFontSize" value="10" />
	<add key="Notification" value="true" />
	<add key="CbmsApiBaseUrl" value="http://202.166.207.75:9050/" />
	<add key="TimeToSyncBillsInMinutes" value="120" />
	<add key="SMTPHost" value=" " />
	<add key="SMTPPort" value=" " />
	<add key="MailFrom" value=" " />
	<add key="MailTo" value="yawahangkoyu@gmail.com" />
	<add key="MailCC" value="ujjwal@restroorder.com" />
	<!-- SMS Settings-->
	<add key="Authentication_Token" value="" />
	<add key="SMS_APIUrl" value="https://sms.aakashsms.com/sms/v3/send" />
  <add key="FromNumber" value="AT_Alert" />
  <add key="SMSVendor" value="SMSService" />
  <add key="OrderMenuListType" value="true" />
	<add key="OrderMenuImageshow" value="true" />
	<add key="PaymentAfterGenerateBill" value="true" />
	<add key="NumPinPad" value="false" />
	<add key="OccupiedTableDayClosedEnable" value="false" />
	<add key="AddItemInMenuSearch" value="false" />
	<add key="QRCode" value="false" />
	<!--<add key="SMS_APIUrl" value=""/>-->
	<add key="KOTPRINTCOUNT" value="1" />
	<!--Printer Setting-->
	<add key="DBPrinting" value="true" />
	<add key="PrintOrderShiftBill" value="false" />
  <!--Stock Setting-->
  <add key="IsAutoPurchase" value="false" />
  <!--Bill Setting-->
  <add key="ShowTotalDiscount" value="false" />
</appSettings>