
GO
/****** Object:  UserDefinedFunction [dbo].[fn_getMaxMasterIdByRoom]    Script Date: 10/13/2017 4:18:34 PM ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO

CREATE FUNCTION [dbo].[fn_getMaxMasterIdByRoom]
(
	
	@roomId varchar(128)
)
RETURNS int
AS
BEGIN
Declare @val varchar(128)
	select @val=max(m.OrderMasterID) from RO_OrderMasters m
	where m.RoomId=@roomId
	return @val
	
END



GO
