
GO
/****** Object:  UserDefinedFunction [dbo].[fn_getMaxStatusId]    Script Date: 10/13/2017 4:18:34 PM ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO

CREATE FUNCTION [dbo].[fn_getMaxStatusId] 
(
	@OrderDetailID varchar(128)
)
RETURNS int
AS
BEGIN
Declare @val varchar(128)
	select @val=max(m.OrderItemStatusID) from RO_OrderItemStatus m
	where m.OrderDetailID=@OrderDetailID
	return @val
	
END



GO
