USE [RO-CHICKENSTATION]
GO
/****** Object:  StoredProcedure [dbo].[USP_RO_CancelReason]    Script Date: 1/22/2024 12:42:58 PM ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
ALTER PROCEDURE [dbo].[USP_RO_CancelReason] @salesMasterId INT
	,@Reasons NVARCHAR(max)
	,@userName NVARCHAR(256)
AS
BEGIN
	UPDATE RO_SalesMaster
	SET IsArchived = 1
		,ArchivedBy = @userName
		,ArchivedOn = GETDATE()
		,Reasons = @Reasons
	WHERE salesMasterId = @salesMasterId

	UPDATE RO_Order_Detail
	SET IsCancelled = 1
	WHERE OrderMasterId = (
			SELECT OrderMasterId
			FROM RO_SalesMaster
			WHERE salesMasterId = @salesMasterId
			)
		AND SeatNo = (
			SELECT SeatNo
			FROM RO_SalesMaster
			WHERE salesMasterId = @salesMasterId
			)

			INSERT INTO ROI_SalesReturnStockTransaction (SalesDetailId, StoreId, ItemId, SalesReturnQty, Unit, SalesReturnRate, SalesReturnAmt, TransactionDate)
SELECT
    st.SalesDetailId,
    st.StoreId,
    st.ItemId,
    st.SalesQty AS SalesReturnQty,
    st.SalesUnit AS Unit,
    st.SalesRate AS SalesReturnRate,
    -- You may need to calculate SalesReturnAmt based on the return quantity and return rate
    st.SalesAmt AS SalesReturnAmt,
    CURRENT_TIMESTAMP AS TransactionDate
FROM
    RO_SalesMaster sm
    INNER JOIN ROI_SalesStockTransaction st ON sm.salesMasterId = st.SalesDetailId
WHERE
    sm.IsArchived = 1 and sm.salesMasterId =@salesMasterId;



	/*
		DECLARE @LastItemBalance DECIMAL(18,2)

    -- Get the last ItemBalance from the ROI_StockTransactionMaster table
    SELECT TOP 1 @LastItemBalance = ItemBalance 
    FROM ROI_StockTransactionMaster
    ORDER BY TransactionDate DESC




	Insert into ROI_StockTransactionMaster(SalesReturnId, StoreId, ItemId, AvailableQty, Rate, ItemBalance, ItemBalUnitId, ItemValue, TransactionDate) 
	Select SalesTranId, StoreId, ItemId, SalesReturnQty, SalesReturnRate, @LastItemBalance + SalesReturnQty, Unit, SalesReturnAmt, TransactionDate from ROI_SalesReturnStockTransaction where SalesDetailId = @salesMasterId;
	*/

	
	EXEC [dbo].[usp_SaveTransactionForSalesReturn] @salesMasterId
	
	exec usp_ro_solveTableIssues
END

/*
select * from RO_SalesMaster as RO_SalesMaster
select * from dbo.ROI_SalesStockTransaction

select * from ROI_SalesReturnStockTransaction

select * from ROI_StockTransactionMaster

select * from ROI_StockTransactionMaster;
select * from RO_SalesMaster

*/
