USE [RO-CHICKENSTATION]
GO
/****** Object:  StoredProcedure [dbo].[USP_ROI_AdjustmentDetailsSave]    Script Date: 1/17/2024 11:01:46 AM ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
ALTER PROCEDURE [dbo].[USP_ROI_AdjustmentDetailsSave] @AMId INT
	,@STID INT
	,@ITId INT
	,@UsedUnitId INT
	,@Qnty BIGINT
	,@QntyInText VARCHAR(MAX)
	,@AdType INT
	--,@Conversion Decimal(18,2)
	,@IsAdd BIT
AS
/*
Updated Query Bishal Raj Parajuli
Expected Input
StoreId
ItemId
UnitId
Qty
IsAdd or Deduct
*/

BEGIN

INSERT INTO ROI_AdjustmentDetls (
		AMId
		,ITId
		,UsedUnitId
		,Qnty
		,QntyInText
		,AdType
		,IsAdd
		)
	VALUES (
		@AMId
		,@ITId
		,@UsedUnitId
		,@Qnty
		,@QntyInText
		,@AdType
		,@IsAdd
		)

IF (@IsAdd = 1)
		BEGIN
			--Add Stock
			/*
				Input Paramaters
				@ItemID INT
				,@PurchaseDetailId INT
				,@StoreId INT
				,@OPBal INT NOT REQUIRED
				,@CLBal decimal(18,2) NOT REQUIRED

			*/
			DECLARE @AdjustmentQty DECIMAL(18,2),
			@SmallUnit INT,
			@AdjustmentRate DECIMAL(18,2),
			@AdjustmentAmt DECIMAL(18,2),
			@AdjustmentTranId INT

			--DECLARING VALUE FOR INSERT IN PURCHASE
		    SET @AdjustmentQty= @Qnty;
			SET @AdjustmentRate = ISNULL((SELECT TOP(1) PurchaseRate From ROI_PurchaseStockTransaction PD where ItemId=@ITId AND StoreId=@STID Order by PurchaseTranId DESC),0)

			SELECT @SmallUnit=ISNULL(ID.SmallUnit,0) From ROI_ItemDetails ID WHERE ITId=@ITId


			/*
			Main Query To Calculate Details
			*/
			DECLARE @LastBalance DECIMAL(15,2)
			DECLARE @LastValue DECIMAL(15,2)
			DECLARE @MasterTranId INT


			SET @LastBalance = ISNULL((SELECT TOP(1) ItemBalance From [dbo].[ROI_StockTransactionMaster] WHERE ItemId=@ITId AND StoreId=@STId ORDER BY StockTranMasterId DESC),0)
			SET @LastValue = ISNULL((SELECT TOP(1) ItemValue From [dbo].[ROI_StockTransactionMaster] WHERE ItemId=@ITId AND StoreId=@STId ORDER BY StockTranMasterId DESC),0)
	

			--INSERT DATA INSIDE PURCHASE TRANSACTIOn
			INSERT INTO [dbo].[ROI_AdjustStockTransaction]
			(StoreId,ItemId,AdjQty,AdjUnit,AdjRate,AdjAmt,AvailableQty,TransactionDate)
			VALUES
			(@STId,
			@ITId,
			@AdjustmentQty,
			@SmallUnit,
			@AdjustmentRate,
			@AdjustmentRate*@AdjustmentQty,
			CASE 
			WHEN @LastBalance < 0 THEN 0 
			ELSE @AdjustmentQty 
			END,
			GETDATE())

			SET @AdjustmentTranId = @@IDENTITY


			--INSERT INTO MAIN STOCK TABLE
			INSERT INTO [dbo].[ROI_StockTransactionMaster]
			(AdjustTranId,StoreId,ItemId,AvailableQty,[Rate],ItemBalance,ItemBalUnitid,ItemValue,TransactionDate)
			VALUES
			(@AdjustmentTranId,
			@STId,
			@ITId,
			CASE 
			WHEN @LastBalance < 0 THEN 0 
			ELSE @AdjustmentQty 
			END,
			@AdjustmentRate,
			@LastBalance+@AdjustmentQty,
			@SmallUnit,
			CASE WHEN @LastBalance < 0 THEN 0 ELSE @LastValue+(@AdjustmentQty*@AdjustmentRate) END,
			GETDATE()
			)

			SET @MasterTranId = @@IDENTITY

			--When Last Balance is Zero and new Balance Creates Positive Balance

			DECLARE @LastTranBalance DECIMAL(18,2) = ISNULL((SELECT ItemBalance FROM [dbo].[ROI_StockTransactionMaster] WHERE StockTranMasterId=@MasterTranId),0)

			IF (@LastBalance < 0 AND @LastTranBalance > 0 )
			BEGIN
				UPDATE [dbo].[ROI_AdjustStockTransaction] SET AvailableQty=@LastTranBalance WHERE AdjTranId=@AdjustmentTranId
				UPDATE [dbo].[ROI_StockTransactionMaster] SET AvailableQty=@LastTranBalance, [Rate]=@AdjustmentRate,
					ItemValue=ISNULL((SELECT AvailableQty*AdjRate FROM [dbo].[ROI_AdjustStockTransaction] WHERE AdjTranId=@AdjustmentTranId),0)
				WHERE StockTranMasterId=@MasterTranId
			END
			
		END
		ELSE
		BEGIN
			
			--Adjustment when is adjust is false

						DECLARE 
						@SUnitName INT,
						@StoreId INT


						select  @SUnitName = ID.SmallUnit from ROI_ItemDetails ID
						Where Id.ITId=@ITId

						SET @StoreId = @STID


						DECLARE @RemainingSQty DECIMAL = @Qnty

						DECLARE
						@AvailableQty DECIMAL,
						@AdjPurchaseRate DECIMAL,
						@StockMasterTranId INT,
						@TotalSellAmt DECIMAL = 0,
						@AdjLastBalance DECIMAL(15,2),
						@AdjLastValue DECIMAL(15,2)

						SET @AdjLastBalance = ISNULL((SELECT TOP(1) ItemBalance From [dbo].[ROI_StockTransactionMaster] WHERE ItemId=@ITId AND StoreId=@StoreId ORDER BY StockTranMasterId DESC),0)
						SET @AdjLastValue = ISNULL((SELECT TOP(1) ItemValue From [dbo].[ROI_StockTransactionMaster] WHERE ItemId=@ITId AND StoreId=@StoreId ORDER BY StockTranMasterId DESC),0)

						
							
							--Declare
						DECLARE crusor_transaction CURSOR
							FOR (SELECT StockTranMasterId,AvailableQty,Rate From [dbo].[ROI_StockTransactionMaster] WHERE ItemId=@ITId AND StoreId=@StoreId AND AvailableQty IS NOT NULL);


						--Open Crusor
						OPEN crusor_transaction;

						--Fetch From Declare
						FETCH NEXT FROM crusor_transaction INTO @StockMasterTranId,@AvailableQty,@AdjPurchaseRate;

						WHILE @@FETCH_STATUS = 0  
							BEGIN

								IF (@RemainingSQty > @AvailableQty)
								BEGIN 

									SET @RemainingSQty = @RemainingSQty - @AvailableQty; -- Calculation of Remaining Selling Qty

									SET @TotalSellAmt = @TotalSellAmt + (@AvailableQty * @AdjPurchaseRate); --Calculation of Total Selling Value
								
									UPDATE [dbo].[ROI_StockTransactionMaster] SET AvailableQty=0 WHERE StockTranMasterId=@StockMasterTranId

								END
								ELSE --If RemainingSelling Qty is Less than Available Balance 
								BEGIN
			
									SET @TotalSellAmt = @TotalSellAmt + (@RemainingSQty * @AdjPurchaseRate); --Calculation of Total Selling Value
			
									UPDATE [dbo].[ROI_StockTransactionMaster] SET AvailableQty=@AvailableQty-@RemainingSQty WHERE StockTranMasterId=@StockMasterTranId
									BREAK;
								END
		

									FETCH NEXT FROM crusor_transaction 
									INTO
									@StockMasterTranId,@AvailableQty,@AdjPurchaseRate
									;

							END;
							CLOSE crusor_transaction;

							DEALLOCATE crusor_transaction;


							INSERT INTO [dbo].[ROI_AdjustStockTransaction]
							(StoreId,ItemId,AdjQty,AdjUnit,AdjRate,AdjAmt,TransactionDate)
							VALUES
							(@STId,
							@ITId,
							-@Qnty,
							@SUnitName,
							@AdjPurchaseRate,
							@AdjPurchaseRate*@Qnty,
							GETDATE())

							DECLARE @AdjTranId INT = @@IDENTITY
		
							INSERT INTO [dbo].[ROI_StockTransactionMaster]
							(AdjustTranId,StoreId,ItemId,ItemBalance,ItemBalUnitId,ItemValue,TransactionDate)
							VALUES
							(@AdjTranId,@StoreId,@ITId,@AdjLastBalance-@Qnty,@SUnitName,@AdjLastValue-@TotalSellAmt,GETDATE())




		END


END








/*
Old Query
*/
--BEGIN
--	DECLARE @result INT = 0

--	SELECT @result = COUNT(1)
--	FROM DBO.ROI_ITEMBal
--	WHERE ITId = @ITID
--		AND STId = @STID

--	IF @result IS NULL
--		SET @result = 0

--	IF (@result = 0)
--	BEGIN
--		INSERT INTO ROI_ITEMBal (
--			ITId
--			--,PDId
--			,STId
--			,CLBal
--			,OPBal
--			)
--		VALUES (
--			@ITId
--			--,'0'
--			,@STId
--			,@Qnty
--			,0
--			)
--	END
--	ELSE
--	BEGIN
--		IF (@IsAdd = 1)
--		BEGIN
--			UPDATE ROI_ITEMBal
--			SET CLBal = CLBal + @Qnty 
--			WHERE ITId = @ITID
--				AND STId = @STID
--		END
--		ELSE
--		BEGIN
--			UPDATE ROI_ITEMBal
--			SET CLBal = CLBal - @Qnty 
--			WHERE ITId = @ITID
--				AND STId = @STID
--		END
--	END

--	INSERT INTO ROI_AdjustmentDetls (
--		AMId
--		,ITId
--		,UsedUnitId
--		,Qnty
--		,QntyInText
--		,AdType
--		--,Conversion
--		,IsAdd
--		)
--	VALUES (
--		@AMId
--		,@ITId
--		,@UsedUnitId
--		,@Qnty
--		,@QntyInText
--		,@AdType
--		--,@Conversion
--		,@IsAdd
--		)
--		--SELECT @@IDENTITY  
--END

