USE [RO-CHICKENSTATION]
GO
/****** Object:  StoredProcedure [dbo].[USP_GetStockTransactionDetail]    Script Date: 1/17/2024 10:44:28 AM ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO

/*
====================================
	Author: Unknown
    Creadted Date: Unknown
	Last Modified By: Yawahang
	Last Modified Date: 10/09/2023
====================================


EXEC dbo.[USP_GetStockTransactionDetail] @ItemId = 237 ,                        -- int
                                       @StartDate = '12/20/2023' , -- datetime
                                       @EndDate = '01/17/2024' ,   -- datetime
                                       @StoreId = 2                         -- int


  
*/
ALTER PROCEDURE [dbo].[USP_GetStockTransactionDetail]
    @ItemId INT ,
    @StartDate DATETIME ,
    @EndDate DATETIME ,
    @StoreId INT
AS
    BEGIN
        IF ( @StoreId = 0 )
            BEGIN
                SELECT T.StockTranMasterId ,
                       T.TransactionDate ,
                       T.ITId ,
                       T.ITCode ,
                       T.StoreId ,
                       T.Symbol ,
                       T.OpeningTranId ,
                       T.OpeningUnit ,
                       T.OpeningRate ,
                       T.OpeningAmt ,
                       T.PurchaseDetailId ,
                       T.PurchaseTranId ,
                       T.PurchaseUnit ,
                       T.PurchaseRate ,
                       T.PurchaseAmt ,
                       T.SalesTranId ,
                       T.SalesDetailId ,
                       T.SalesUnit ,
                       T.SalesAmt ,
                       T.AdjustTranId ,
                       T.AdjRate ,
                       T.AdjUnit ,
                       T.AdjAmt ,
                       T.CompTranId ,
                       T.CompUnit ,
                       T.CompAmt ,
                       T.IssueTranId ,
                       T.FromStoreId ,
                       T.ToStoreId ,
                       T.IssueUnit ,
                       T.IssueAmt ,
                       T.AvailableQty ,
                       T.Rate ,
                       T.ItemBalance ,
                       T.ItemValue ,
                       T.SalesReturnDetailId ,
                       T.Unit ,
                       T.SalesReturnRate ,
                       T.SalesReturnAmt ,
                       ISNULL (T.OpeningQty, 0) AS OpeningQty ,
                       ISNULL (T.PurchaseQty, 0) AS PurchaseQty ,
                       ISNULL (T.AdjQty, 0) AS AdjustQty ,
                       ISNULL (T.CompQty, 0) AS ComplementQty ,
                       ISNULL (T.IssueQty, 0) AS [IssueQty] ,
                       CASE WHEN tt.ITId IS NULL THEN ISNULL (SD.qty, 0)
                            ELSE ISNULL (T.SalesQty, 0)
                       END AS SalesQty ,
                       CASE WHEN OM.IsCancelled = 1 THEN T.SalesReturnQty
                            ELSE 0
                       END AS SalesReturnQty
                FROM   [dbo].[vw_ROI_StockReportView] T
                       LEFT JOIN dbo.RO_SalesDetail SD ON SD.salesDetailId = T.SalesDetailId
                       LEFT JOIN dbo.RO_SalesMaster SM ON SM.salesMasterId = SD.salesMasterId
                       LEFT JOIN dbo.RO_OrderMasters OM ON OM.OrderMasterID = SM.OrderMasterId
                       LEFT JOIN ( SELECT rim.ITId ,
                                          rim.PITId ,
                                          ri.Ingredient ,
                                          ri.Quantity ,
                                          u1.Symbol
                                   FROM   dbo.ROI_ITEMMain AS rim
                                          INNER JOIN dbo.Ro_Ingredient AS ri ON ri.ItemID = rim.ITId
                                          JOIN ROI_ItemDetails id ON id.ITId = ri.Ingredient
                                          JOIN ROI_Unit1 u1 ON u1.Unit1Id = id.SmallUnit ) tt ON  tt.Ingredient = T.ITId
                                                                                              AND tt.ITId = SD.ItemId
                                                                                              AND tt.Symbol IN ( 'ml', 'gm' )
                WHERE  T.ITId = @ItemId
                AND    CAST(T.TransactionDate AS DATE) BETWEEN @StartDate AND @EndDate;
            END;
        ELSE
            BEGIN

                SELECT StoreId ,
                       CAST(TransactionDate AS DATE) AS [TransactionDate] ,
                       ItemBalance
                INTO   #Temp1
                FROM   ( SELECT T.StoreId ,
                                T.TransactionDate ,
                                T.ItemBalance ,
                                ROW_NUMBER () OVER ( PARTITION BY CAST(T.TransactionDate AS DATE)
                                                     ORDER BY T.TransactionDate DESC ) AS rownum
                         FROM   [dbo].[vw_ROI_StockReportView] T
                                LEFT JOIN dbo.RO_SalesDetail SD ON SD.salesDetailId = T.SalesDetailId
                                LEFT JOIN dbo.[ROI_PurchaseStockTransaction] AS [rpst] ON  rpst.StoreId = T.StoreId
                                                                                       AND rpst.ItemId = SD.ItemId
                                                                                       AND CAST(rpst.TransactionDate AS DATE) = CAST(T.TransactionDate AS DATE)
                         WHERE  T.ITId = @ItemId
                         AND    T.StoreId = @StoreId
                         AND    CAST(T.TransactionDate AS DATE) BETWEEN @StartDate AND @EndDate ) AS Suv
                WHERE  rownum = 1;

			


                SELECT   CAST(T.TransactionDate AS DATE) AS [TransactionDate] ,
                         T.ITId ,
                         T.ITCode ,
                         T.Symbol ,
                         SUM (ISNULL (T.OpeningQty, 0)) AS [OpeningQty] ,
                         SUM (ISNULL (T.PurchaseQty, 0)) AS [PurchaseQty] ,
                         SUM (ISNULL (T.AdjQty, 0)) AS [AdjustQty] ,
                         SUM (ISNULL (T.CompQty, 0)) AS [ComplementQty] ,
                         SUM (ISNULL (T.IssueQty, 0)) AS [IssueQty] ,
                         SUM (CASE WHEN tt.ITId IS NULL THEN ISNULL (SD.qty, 0)
                                   ELSE ISNULL (tt.Quantity, 0) * ISNULL (SD.qty, 0)
                              END) AS SalesQty ,
                         SUM (CASE WHEN OM.IsCancelled = 1 THEN T.SalesReturnQty
                                   ELSE 0
                              END) AS SalesReturnQty
                INTO     #Temp2
                FROM     [dbo].[vw_ROI_StockReportView] T
                         LEFT JOIN dbo.RO_SalesDetail SD ON SD.salesDetailId = T.SalesDetailId
                         LEFT JOIN dbo.RO_SalesMaster SM ON SM.salesMasterId = SD.salesMasterId
                         LEFT JOIN dbo.RO_OrderMasters OM ON OM.OrderMasterID = SM.OrderMasterId
                         LEFT JOIN ( SELECT rim.ITId ,
                                            rim.PITId ,
                                            ri.Ingredient ,
                                            ri.Quantity ,
                                            u1.Symbol
                                     FROM   dbo.ROI_ITEMMain AS rim
                                            INNER JOIN dbo.Ro_Ingredient AS ri ON ri.ItemID = rim.ITId
                                            JOIN dbo.ROI_ItemDetails id ON id.ITId = ri.Ingredient
                                            JOIN dbo.ROI_Unit1 u1 ON u1.Unit1Id = id.SmallUnit ) tt ON  tt.Ingredient = T.ITId
                                                                                                    AND tt.ITId = SD.ItemId
                                                                                                    AND tt.Symbol IN ( 'ml' ,
                                                                                                                       'gm' )
                WHERE    T.ITId = @ItemId
                AND      T.StoreId = @StoreId
                AND      CAST(T.TransactionDate AS DATE) BETWEEN @StartDate AND @EndDate
                GROUP BY CAST(T.TransactionDate AS DATE) ,
                         T.ITId ,
                         T.ITCode ,
                         T.Symbol;

                CREATE TABLE #tempResult
                (   [TransactionDate] DATE ,
                    [ITId] INT ,
                    [ITCode] VARCHAR (250) ,
                    [Symbol] VARCHAR (50) ,
                    [OpeningQty] DECIMAL (18, 2) ,
                    [PurchaseQty] DECIMAL (18, 2) ,
                    [SalesQty] DECIMAL (18, 2) ,
                    [SalesReturnQty] DECIMAL (18, 2) ,
                    [AdjustQty] DECIMAL (18, 2) ,
                    [ComplementQty] DECIMAL (18, 2) ,
                    [IssueQty] DECIMAL (18, 2) ,
                    [ItemBalance] DECIMAL (18, 2));


                DECLARE @MinTransactionDate DATE;
                DECLARE @MaxTransactionDate DATE;
                DECLARE @PreviousTransactionDate DATE;
                DECLARE @OldItemBalance INT = 0;
                DECLARE @ItemBalance INT = 0;

                SELECT @MinTransactionDate = MIN (t.TransactionDate) ,
                       @MaxTransactionDate = MAX (t.TransactionDate)
                FROM   #Temp1 AS t;

                WHILE @MinTransactionDate <= @MaxTransactionDate
                    BEGIN 
						 SELECT @PreviousTransactionDate = MAX (t.TransactionDate)  
							 FROM   #Temp1 AS t where t.TransactionDate < @MinTransactionDate
						

					--	SELECT  MAX (t.TransactionDate)  PreviousTransactionDate
					--		 FROM   #Temp1 AS t where t.TransactionDate < @MinTransactionDate


                        IF EXISTS ( SELECT TOP ( 1 ) 1
                                    FROM   #tempResult AS tr
                                    WHERE  tr.TransactionDate = @PreviousTransactionDate )
                            BEGIN
                                SELECT @OldItemBalance = tr.ItemBalance
                                FROM   #tempResult AS tr
                                WHERE  tr.TransactionDate = @PreviousTransactionDate;
                            END;
                        ELSE
                            BEGIN

							
						if @PreviousTransactionDate is null
						begin  
						SELECT @OldItemBalance = 0 
							end
                              else 
							  begin
							    SELECT @OldItemBalance = t.ItemBalance
                                FROM   #Temp1 AS t
                                WHERE  t.TransactionDate = @MinTransactionDate; 
							  end
                            END;
						--	select @OldItemBalance aaaa

						/*	    SELECT   SUM (ISNULL (t.AdjustQty, 0))
                                              + SUM (ISNULL (t.PurchaseQty, 0)) - SUM (ISNULL (t.SalesQty, 0))
                                              + SUM (ISNULL (t.SalesReturnQty, 0))
                        FROM   #Temp2 AS t


                        WHERE  t.TransactionDate = @MinTransactionDate;*/
                        SELECT @ItemBalance = @OldItemBalance + SUM (ISNULL (t.AdjustQty, 0))
                                              + SUM (ISNULL (t.PurchaseQty, 0)) - SUM (ISNULL (t.SalesQty, 0))
                                              + SUM (ISNULL (t.SalesReturnQty, 0))
                        FROM   #Temp2 AS t
                        WHERE  t.TransactionDate = @MinTransactionDate;

                        INSERT #tempResult ( TransactionDate ,
                                             ITId ,
                                             ITCode ,
                                             Symbol ,
                                             OpeningQty ,
                                             PurchaseQty ,
                                             SalesQty ,
                                             SalesReturnQty ,
                                             AdjustQty ,
                                             ComplementQty ,
                                             IssueQty ,
                                             ItemBalance )
                               SELECT t1.TransactionDate ,
                                      t2.ITId ,
                                      t2.ITCode ,
                                      t2.Symbol ,
                                      t2.OpeningQty ,
                                      t2.PurchaseQty ,
                                      t2.SalesQty ,
                                      t2.SalesReturnQty ,
                                      t2.AdjustQty ,
                                      t2.ComplementQty ,
                                      t2.IssueQty ,
                                      @ItemBalance
                               FROM   #Temp1 AS t1
                                      INNER JOIN #Temp2 t2 ON t1.TransactionDate = t2.TransactionDate
                               WHERE  t1.TransactionDate = @MinTransactionDate;

                        SELECT @MinTransactionDate = DATEADD (DAY, 1, @MinTransactionDate);
                    END;

                SELECT   tr.TransactionDate ,
                         tr.ITId ,
                         tr.ITCode ,
                         tr.Symbol ,
                         tr.OpeningQty ,
                         tr.PurchaseQty ,
                         tr.SalesQty ,
                         tr.SalesReturnQty ,
                         tr.AdjustQty ,
                         tr.ComplementQty ,
                         tr.IssueQty ,
                         tr.ItemBalance
                FROM     #tempResult AS tr
                ORDER BY tr.TransactionDate;

                DROP TABLE #Temp1;
                DROP TABLE #Temp2;
                DROP TABLE #tempResult;
            END;
    END;
