
GO
/****** Object:  StoredProcedure [dbo].[usp_ac_getProfitLoss]    Script Date: 9/25/2023 9:12:04 AM ******/
SET ANSI_NULLS ON;
GO
SET QUOTED_IDENTIFIER ON;
GO

/*
====================================
	Author: Unknown
    Creadted Date: Unknown
	Last Modified By: Yawahang
	Last Modified Date: 09/25/2023
====================================

EXEC dbo.usp_ac_getProfitLoss '2018-10-14','2023-09-21'

*/
ALTER PROCEDURE [dbo].[usp_ac_getProfitLoss]
    @StartDate DATETIME,
    @EndDate DATETIME
AS
BEGIN;

    WITH Hierarchy ([FinancialAcID], [FinancialSysID], [Name], [PFinancialAcID], [Parents], [Level],
                    GroupFinancialAcID, IsDebit
                   )
    AS (SELECT [FinancialAcID],
               [FinancialSysID],
               [Name],
               [PFinancialAcID],
               CAST([FinancialAcID] AS VARCHAR(MAX)),
               0 AS Level,
               [FinancialAcID] AS GroupFinancialAcID,
               IsDebit
        FROM [Ac_FinancialAc] AS FirtGeneration
        WHERE ISNULL(PFinancialAcID, 0) = 0
              AND IsArchived = 0
              AND AccEntryType = 2
        UNION ALL
        SELECT NextGeneration.FinancialAcID,
               NextGeneration.[FinancialSysID],
               NextGeneration.[Name],
               Parent.FinancialAcID,
               CAST(CASE
                        WHEN Parent.Parents = '' THEN
               (CAST(NextGeneration.FinancialAcID AS VARCHAR(MAX)))
                        ELSE
               (Parent.Parents + '.' + CAST(NextGeneration.PFinancialAcID AS VARCHAR(MAX)))
                    END AS VARCHAR(MAX)),
               [Level] + 1,
               CASE
                   WHEN
                   (
                       fs.IsGroup = 1
                       OR ISNULL(NextGeneration.IsShownInBalanceSheet, 0) = 1
                   ) THEN
                       NextGeneration.FinancialAcID
                   ELSE
                       Parent.GroupFinancialAcID
               END,
               NextGeneration.IsDebit
        FROM Ac_FinancialAc AS NextGeneration
            INNER JOIN Ac_FinancialSys AS fs
                ON NextGeneration.FinancialSysID = fs.FinancialSysID
            INNER JOIN Hierarchy AS Parent
                ON NextGeneration.PFinancialAcID = Parent.FinancialAcID
                   AND NextGeneration.IsArchived = 0)
    SELECT a.[FinancialAcID],
           [FinancialSysID],
           [Name],
           [PFinancialAcID],
           [Parents],
           [Level],
           GroupFinancialAcID,
           SUM(Debit) AS Debit,
           SUM(Credit) AS Credit,
           IsDebit
    INTO #Temp_AccountHead_Balance
    FROM Hierarchy a
        LEFT JOIN Ac_TransactionDetail td
            ON a.FinancialAcID = td.FinancialAcID
        INNER JOIN Ac_Transaction TM
            ON TM.TransactionID = td.TransactionID
    WHERE TM.TransactionDate
    BETWEEN @StartDate AND @EndDate
    GROUP BY a.[FinancialAcID],
             [FinancialSysID],
             [Name],
             [PFinancialAcID],
             [Parents],
             [Level],
             GroupFinancialAcID,
             IsDebit;

    SELECT a.FinancialAcID,
           a.Name,
           a.PFinancialAcID,
           CASE
               WHEN ISNULL([Level], 0) = 0
                    AND a.PFinancialAcID = 0 THEN
                   a.Name
               WHEN ISNULL([Level], 0) = 0
                    AND a.PFinancialAcID > 0 THEN
                   REPLICATE('- ', 1) + ' ' + a.Name
               ELSE
                   REPLICATE('- ', [Level]) + ' ' + a.Name
           END AS [Items],
           fs.IsGroup,
           b.GroupFinancialAcID,
           ISNULL(b.[Level], 0) AS [Level],
           b.Credit,
           b.Debit,
           a.IsDebit
    INTO #Temp_TrialBalance
    FROM Ac_FinancialAc a
        INNER JOIN Ac_FinancialSys AS fs
            ON a.FinancialSysID = fs.FinancialSysID
        LEFT JOIN
        (
            SELECT GroupFinancialAcID,
                   [Level],
                   SUM(Debit) AS Debit,
                   SUM(Credit) AS Credit
            FROM #Temp_AccountHead_Balance
            GROUP BY GroupFinancialAcID,
                     [Level],
                     IsDebit
        ) b
            ON a.FinancialAcID = b.GroupFinancialAcID
    WHERE ISNULL(a.IsArchived, 0) = 0
          AND
          (
              FinancialAcID = 3
              OR FinancialAcID = 4
              OR PFinancialAcID > 0
          );


    WITH cte (FinancialAcID, Name, PFinancialAcID, Items, IsGroup, GroupFinancialAcID, [Level], Credit, Debit, AcOrder,
              IsDebit
             )
    AS (SELECT FinancialAcID,
               Name,
               PFinancialAcID,
               Items,
               IsGroup,
               GroupFinancialAcID,
               [Level],
               Credit,
               Debit,
               ROW_NUMBER() OVER (ORDER BY Name) * 1000 AS AcOrder,
               IsDebit
        FROM #Temp_TrialBalance
        WHERE PFinancialAcID = 0
        UNION ALL
        SELECT tb.FinancialAcID,
               tb.Name,
               tb.PFinancialAcID,
               tb.Items,
               tb.IsGroup,
               tb.GroupFinancialAcID,
               tb.[Level],
               tb.Credit,
               tb.Debit,
               p.AcOrder + ROW_NUMBER() OVER (ORDER BY tb.Name) * 100 AS AcOrder,
               tb.IsDebit
        FROM #Temp_TrialBalance tb
            INNER JOIN cte p
                ON tb.PFinancialAcID = p.FinancialAcID
        WHERE tb.PFinancialAcID <= 4
        UNION ALL
        SELECT tb.FinancialAcID,
               tb.Name,
               tb.PFinancialAcID,
               tb.Items,
               tb.IsGroup,
               tb.GroupFinancialAcID,
               tb.[Level],
               tb.Credit,
               tb.Debit,
               p.AcOrder + ROW_NUMBER() OVER (ORDER BY tb.Name) * 10 AS AcOrder,
               tb.IsDebit
        FROM #Temp_TrialBalance tb
            INNER JOIN cte p
                ON tb.PFinancialAcID = p.FinancialAcID
        WHERE tb.PFinancialAcID >= 5)
    SELECT FinancialAcID,
           Name,
           PFinancialAcID,
           Items,
           IsGroup,
           GroupFinancialAcID,
           [Level],
           ISNULL(Credit, 0) AS Credit,
           ISNULL(Debit, 0) AS Debit,
           IsDebit,
           AcOrder
    INTO #tempresult
    FROM cte
    ORDER BY AcOrder;

    DECLARE @OpeningStock MONEY = 0;
    SELECT @OpeningStock = ISNULL(SUM(ISNULL(t.Credit, 0)) - SUM(ISNULL(t.Debit, 0)), 0)
    FROM Ac_FinancialAc a
        INNER JOIN Ac_TransactionDetail t
            ON t.FinancialAcID = a.FinancialAcID
        INNER JOIN dbo.Ac_Transaction AS tm
            ON tm.TransactionID = t.TransactionID
    WHERE tm.TransactionDate < @StartDate;

    DECLARE @ClosingStock MONEY = 0;
    SELECT @ClosingStock = ISNULL(@OpeningStock + (ISNULL(SUM(ISNULL(t.Credit, 0)) - SUM(ISNULL(t.Debit, 0)), 0)), 0)
    FROM Ac_FinancialAc a
        INNER JOIN Ac_TransactionDetail t
            ON t.FinancialAcID = a.FinancialAcID
        INNER JOIN dbo.Ac_Transaction AS tm
            ON tm.TransactionID = t.TransactionID
    WHERE tm.TransactionDate
    BETWEEN @StartDate AND @EndDate;
    SELECT 0 AS FinancialAcID,
           'Opening Stock' AS Name,
           0 AS PFinancialAcID,
           'Opening Stock' AS Items,
           CAST(1 AS BIT) AS IsGroup,
           NULL AS GroupFinancialAcID,
           0 AS [Level],
           CAST(0 AS MONEY) AS Credit,
           IIF(@OpeningStock < 0, 0, @OpeningStock) AS Debit,
           CAST(1 AS BIT) AS IsDebit
    UNION
    SELECT 0 AS FinancialAcID,
           'Closing Stock' AS Name,
           0 AS PFinancialAcID,
           'Closing Stock' AS Items,
           CAST(1 AS BIT) AS IsGroup,
           NULL AS GroupFinancialAcID,
           0 AS [Level],
           IIF(@ClosingStock < 0, 0, @ClosingStock) AS Credit,
           CAST(0 AS MONEY) AS Debit,
           CAST(0 AS BIT) AS IsDebit
    UNION
    SELECT FinancialAcID,
           Name,
           PFinancialAcID,
           Items,
           IsGroup,
           GroupFinancialAcID,
           [Level],
           ISNULL(Credit, 0) AS Credit,
           ISNULL(Debit, 0) AS Debit,
           IsDebit
    FROM #tempresult;


    DROP TABLE IF EXISTS #tempresult;
    DROP TABLE IF EXISTS #TempOpeningStockTran;
    DROP TABLE IF EXISTS #TempclosingStockTran;
    DROP TABLE IF EXISTS #Temp_AccountHead_Balance;
    DROP TABLE IF EXISTS #Temp_TrialBalance;
END;
