USE [RestroChicken]
GO
/****** Object:  StoredProcedure [dbo].[usp_ac_getVerifiedTransactionByID]    Script Date: 05/10/2023 10:36:09 AM ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO


ALTER PROCEDURE [dbo].[usp_ac_getVerifiedTransactionByID] @transactionID INT
/*
====================================
	Author: Unknown
    Creadted Date: Unknown
	Last Modified By: ADARSHA KARKI
	Last Modified Date: 10/05/2023 MM/DD/YYYY
====================================

--EXEC usp_ac_getVerifiedTransactionByID  10
*/
AS
BEGIN 


	DECLARE @SalesVoucherTypeId int;
	SELECT @SalesVoucherTypeId = VoucherTypeID FROM Ac_VoucherType t where t.VoucherName ='Sales Voucher'
	IF ((SELECT VoucherTypeID FROM Ac_Transaction where TransactionID = @transactionID) = @SalesVoucherTypeId)
		BEGIN
			
			DECLARE @code varchar(50);
			SELECT @code = Code FROM RO_CompanyInfo

			 SELECT     DISTINCT  
						it.ITName AS Particulars ,  
						CASE WHEN fa.IsDebit = 1
								THEN (sd.qty * sd.rate)
								ELSE 0 
								END as Debit,
						CASE WHEN fa.IsDebit = 0
								THEN (sd.qty * sd.rate)
								ELSE 0 
								END as Credit,
						--sd.qty * sd.rate AS  Debit1,
						--sd.qty * sd.rate AS  Credit1,
						fa.Name AS financialAcName,
						td.FinancialAcID as FinancialAcID,
						td.ChequeNo,
						td.ChequeDate,
						t.PostedBy,
						cast(t.PostedOn AS DATe) AS PostedOn,
						td.TransactionDetailID,
						t.VoucherTypeID 
						INTO #temptrandetail
					FROM RO_SalesMaster SM
					left JOIN RO_SalesDetail SD ON SM.salesMasterId = SD.salesMasterId
					--inner JOIN RO_restroTable rt ON rt.restrotableId = sm.TableId
					inner JOIN RO_fiscalYear fy ON fy.fyId = sm.FiscalYearID
					inner JOIN ROI_ITEMMain it ON it.ITId = sd.ItemId
					inner join RO_SalesPaymentMode sp on sp.salesMasterId = SM.salesMasterId
					inner JOIN CostCenterInfo CC on CC.CostCenterId = SD.CostCenterId
					left JOIN RO_CostCenterGroup CCG on CCG.GroupId = CC.GroupId  
					INNER JOIN Ac_Transaction t on CAST(SUBSTRING(SUBSTRING(t.Descriptions,CHARINDEX(@code,t.Descriptions,0), LEN(t.Descriptions)),
													CHARINDEX('-',SUBSTRING(t.Descriptions,CHARINDEX(@code,t.Descriptions,0), LEN(t.Descriptions)),0) + 1,
													LEN(SUBSTRING(t.Descriptions,CHARINDEX(@code,t.Descriptions,0), LEN(t.Descriptions)))) as int)
													+ fy.FirstSalesMasterID = SM.InvoiceNo  
					inner JOIN Ac_TransactionDetail td on td.TransactionID = t.TransactionID
					left JOIN Ac_FinancialAc fa on fa.FinancialAcID = td.FinancialAcID AND CCG.FinancialAcId = fa.FinancialAcID
					WHERE t.TransactionID = @transactionID
					AND  fa.FinancialAcID IS NOT NULL
					AND t.VoucherTypeID = @SalesVoucherTypeId
					

					INSERT #temptrandetail 
					SELECT
						DISTINCT
						td.Particulars AS Particulars,
						td.Debit AS Debit,
						td.Credit AS Credit,
						--CASE WHEN fa.IsDebit = 1 THEN (sd.qty * sd.rate) ELSE 0 END AS Debit1,
						--CASE WHEN fa.IsDebit = 0 THEN (sd.qty * sd.rate) ELSE 0 END AS Credit1,
						FAA.Name AS financialAcName,
						FAA.FinancialAcID as FinancialAcID,
						td.ChequeNo AS ChequeNo,
						td.ChequeDate AS ChequeDate,
						t.PostedBy AS PostedBy,
						CAST(t.PostedOn AS DATE) AS PostedOn,
						td.TransactionDetailID AS TransactionDetailID,
						t.VoucherTypeID AS VoucherTypeID 
					FROM RO_SalesMaster SM
					LEFT JOIN RO_SalesDetail SD ON SM.salesMasterId = SD.salesMasterId
					INNER JOIN RO_fiscalYear FY ON FY.fyId = SM.FiscalYearID
					INNER JOIN ROI_ITEMMain it ON it.ITId = SD.ItemId
					INNER JOIN RO_SalesPaymentMode sp ON sp.salesMasterId = SM.salesMasterId
					INNER JOIN CostCenterInfo CC ON CC.CostCenterId = SD.CostCenterId
					LEFT JOIN RO_CostCenterGroup CCG ON CCG.GroupId = CC.GroupId  
					INNER JOIN Ac_Transaction t on CAST(SUBSTRING(SUBSTRING(t.Descriptions,CHARINDEX(@code,t.Descriptions,0), LEN(t.Descriptions)),
													CHARINDEX('-',SUBSTRING(t.Descriptions,CHARINDEX(@code,t.Descriptions,0), LEN(t.Descriptions)),0) + 1,
													LEN(SUBSTRING(t.Descriptions,CHARINDEX(@code,t.Descriptions,0), LEN(t.Descriptions)))) as int)
													+ fy.FirstSalesMasterID = SM.InvoiceNo 
					INNER JOIN Ac_TransactionDetail td ON td.TransactionID = t.TransactionID
					LEFT JOIN Ac_FinancialAc fa ON fa.FinancialAcID = td.FinancialAcID  
					LEFT JOIN Ac_FinancialAc FAA ON FAA.FinancialAcID = td.FinancialAcID 
					WHERE t.TransactionID = @transactionID 
						AND t.VoucherTypeID = @SalesVoucherTypeId
						AND CCG.FinancialAcId <> td.FinancialAcID
						AND NOT EXISTS (SELECT TOP (1) 1 FROM RO_CostCenterGroup WHERE FinancialAcId = td.FinancialAcID)
					--group by FAA.FinancialAcID
				
				SELECT * FROM #temptrandetail as td
				ORDER BY TD.FinancialAcID,
					TD.financialAcName,
					TD.Particulars, 
						td.ChequeNo,
						td.ChequeDate,
						TD.PostedBy,
						cast(TD.PostedOn AS DATe),
						td.TransactionDetailID,
						TD.VoucherTypeID  
					
					DROP TABLE IF EXISTS #temptrandetail
	
		END
	ELSE
		BEGIN 
 
		SELECT fa.NAME AS financialAcName
			,ttd.FinancialAcID
			,ttd.Particulars
			,ttd.Debit
			,ttd.Credit
			,ttd.ChequeNo
			,ttd.ChequeDate
			,tt.PostedBy
			,cast(tt.PostedOn AS DATE) AS PostedOn
			,ttd.TransactionDetailID
			,tt.VoucherTypeID 
		FROM Ac_TransactionDetail ttd
		JOIN Ac_FinancialAc fa ON ttd.FinancialAcID = fa.FinancialAcID
		JOIN Ac_Transaction tt ON tt.TransactionID = ttd.TransactionID
		WHERE ttd.TransactionID = @transactionID
	END

END
		 