
GO
/****** Object:  StoredProcedure [dbo].[usp_SaveTransactionForPurchase]    Script Date: 05/10/2023 11:45:35 AM ******/
SET ANSI_NULLS ON;
GO
SET QUOTED_IDENTIFIER ON;
GO

/*
====================================
	Author: Unknown
    Creadted Date: Unknown
	Last Modified By: Yawahang
	Last Modified Date: 10/05/2023
====================================

EXEC dbo.usp_SaveTransactionForPurchase @GoodsReceivedMainID = 1

*/
ALTER PROC [dbo].usp_SaveTransactionForPurchase
(
    @GoodsReceivedMainID INT )
AS
    BEGIN
        DECLARE @PREFX NVARCHAR (10) ,
                @VoucherCount INT = 0 ,
                @VoucherTypeID INT = 16 ,
                @VoucherNo NVARCHAR (50) = N'';
        DECLARE @BillDate DATETIME ,
                @Description NVARCHAR (256) = N'';
        DECLARE @TransactionID INT = 0;
        DECLARE @FoodSales DECIMAL (16, 2) = 0;
        DECLARE @MembershipID INT = 0;
        DECLARE @PayAmount DECIMAL (18, 2) = 0;
        DECLARE @netamount DECIMAL (18, 2) = 0;
        DECLARE @purchaseno NVARCHAR (25);
        DECLARE @PurchaseDiscount DECIMAL (10, 2) = 0;
        DECLARE @Discount DECIMAL (10, 2) = 0;
        DECLARE @ExtraDiscount DECIMAL (10, 2) = 0;
        DECLARE @vat DECIMAL (10, 2) = 0;
        DECLARE @vatTotal DECIMAL (10, 2) = 0;
        DECLARE @vatDiscount DECIMAL (10, 2) = 0;
        DECLARE @TotalPayAmount DECIMAL (18, 2) = 0;
        DECLARE @GoodsStoreId INT = 0;

        DECLARE @BarStoreId INT = 0;
        SELECT   TOP ( 1 ) @BarStoreId = STId
        FROM     dbo.ROI_Store
        WHERE    StName LIKE '%bar%'
        ORDER BY StName;

        DECLARE @KitchenStoreId INT = 0;
        SELECT   TOP ( 1 ) @KitchenStoreId = STId
        FROM     dbo.ROI_Store
        WHERE    StName LIKE '%kitchen%'
        ORDER BY StName;

        DECLARE @BarFinancialAcId INT = 0;
        DECLARE @BarFinancialAc NVARCHAR (MAX) = 0;
        SELECT   TOP ( 1 ) @BarFinancialAcId = FinancialAcID ,
                           @BarFinancialAc = Name
        FROM     dbo.Ac_FinancialAc
        WHERE    Name LIKE '%BAR PURCHASE A/C%'
        ORDER BY Name;

        DECLARE @FoodFinancialAcId INT = 0;
        DECLARE @FoodFinancialAc NVARCHAR (MAX) = 0;
        SELECT   TOP ( 1 ) @FoodFinancialAcId = FinancialAcID ,
                           @FoodFinancialAc = Name
        FROM     dbo.Ac_FinancialAc
        WHERE    Name LIKE '%FOOD PURCHASE A/C%'
        ORDER BY Name;

        SELECT DISTINCT @purchaseno = pm.PuNo
        FROM   dbo.ROI_PurchaseMain pm
               JOIN dbo.ROI_PurchaseDetails pd ON pd.PurchaseMainID = pm.PurchaseMainID
               JOIN dbo.RO_GoodsReceivedDetls gd ON  pd.PurchaseDetailsID = gd.PDId
                                                 AND gd.GMId = @GoodsReceivedMainID;


        SELECT @VoucherCount = 0 ,
               @VoucherTypeID = 25 ,
               @VoucherNo = N'';

        SELECT @PREFX = Prefix ,
               @VoucherCount = VoucherCount
        FROM   dbo.Ac_VoucherType
        WHERE  VoucherTypeID = @VoucherTypeID;

        SET @VoucherCount = @VoucherCount + 1;
        SET @VoucherNo = @PREFX + N'-' + CAST (@VoucherCount AS VARCHAR (20));
        SET @Description = N'';

        SELECT @BillDate = SM.InvoiceDate ,
               @Description = N'Purchase No :- ' + @purchaseno + N' and Goods Receive No :-'
                              + CAST (SM.GMNo AS NVARCHAR (20)) ,
               @GoodsStoreId = SM.STId
        FROM   dbo.RO_GoodsReceivedMain SM
        WHERE  GMId = @GoodsReceivedMainID;

        SELECT @vatTotal = ISNULL (SUM (Total), 0)
        FROM   dbo.RO_GoodsReceivedDetls
        WHERE  IsVat = 1
        AND    GMId = @GoodsReceivedMainID;

        SELECT @ExtraDiscount = ISNULL (ExtraDiscount, 0)
        FROM   dbo.RO_GoodsReceivedMain
        WHERE  GMId = @GoodsReceivedMainID;
        SELECT @Discount = ISNULL (SUM (Discount), 0)
        FROM   dbo.RO_GoodsReceivedDetls
        WHERE  GMId = @GoodsReceivedMainID;
        SELECT @vatDiscount = ISNULL (SUM (Discount), 0)
        FROM   dbo.RO_GoodsReceivedDetls
        WHERE  IsVat = 1
        AND    GMId = @GoodsReceivedMainID;
        SET @PurchaseDiscount = @ExtraDiscount + @Discount;

        SET @vat = ( @vatTotal - @vatDiscount ) * 0.13;
        SET @TransactionID = 0;

        INSERT INTO dbo.Ac_TempTransaction ( TransactionDate ,
                                             BillDate ,
                                             VoucherTypeID ,
                                             VoucherNo ,
                                             Descriptions ,
                                             PostedBy ,
                                             PostedOn )
        VALUES ( @BillDate, @BillDate, @VoucherTypeID, @VoucherNo, @Description, 'System', @BillDate );

        SET @TransactionID = SCOPE_IDENTITY ();

        -- Food Sales    
        SET @FoodSales = 0;

        SELECT @FoodSales = SUM (Total)
        FROM   dbo.RO_GoodsReceivedDetls
        WHERE  GMId = @GoodsReceivedMainID;


        IF ISNULL (@FoodSales, 0) <> 0
            BEGIN
                INSERT INTO dbo.Ac_TempTransactionDetail ( TransactionID ,
                                                           FinancialAcID ,
                                                           MemberShipID ,
                                                           Particulars ,
                                                           Debit ,
                                                           Credit )
                            SELECT @TransactionID ,
                                   CASE WHEN @GoodsStoreId = @BarStoreId THEN @BarFinancialAcId
                                        WHEN @GoodsStoreId = @KitchenStoreId THEN @FoodFinancialAcId
                                        ELSE 40
                                   END ,
                                   NULL ,
                                   CASE WHEN @GoodsStoreId = @BarStoreId THEN @BarFinancialAc
                                        WHEN @GoodsStoreId = @KitchenStoreId THEN @FoodFinancialAc
                                        ELSE 'Regular Purchase'
                                   END ,
                                   @FoodSales ,
                                   0;

            END;
        -- Purchase Discount
        IF ISNULL (@PurchaseDiscount, 0) <> 0
            INSERT INTO dbo.Ac_TempTransactionDetail ( TransactionID ,
                                                       FinancialAcID ,
                                                       MemberShipID ,
                                                       Particulars ,
                                                       Debit ,
                                                       Credit )
            VALUES ( @TransactionID, 45, NULL, 'Discount Received', 0, @PurchaseDiscount );

        -- Vat
        SET @FoodSales = NULL;


        IF ISNULL (@vat, 0) <> 0
            INSERT INTO dbo.Ac_TempTransactionDetail ( TransactionID ,
                                                       FinancialAcID ,
                                                       MemberShipID ,
                                                       Particulars ,
                                                       Debit ,
                                                       Credit )
            VALUES ( @TransactionID, 30, NULL, 'Paid Vat', @vat, 0 );

        DECLARE @FinancialAcID INT ,
                @CustFinancialAcID INT ,
                @provFinancialAcID INT ,
                @paymentMode INT;
        DECLARE @CreditParty NVARCHAR (256) ,
                @TransactionNo NVARCHAR (256);

        SELECT @TotalPayAmount = SUM (PayAmount)
        FROM   dbo.RO_PurchasePaymentMode
        WHERE  GMId = @GoodsReceivedMainID;


        SELECT @netamount = SUM (Total)
        FROM   dbo.RO_GoodsReceivedDetls
        WHERE  GMId = @GoodsReceivedMainID;


        DECLARE @MyCursor CURSOR;
        DECLARE @MyField INT;
        SET @MyCursor = CURSOR FOR
        SELECT ppm.purchasePaymentID
        FROM   dbo.RO_PurchasePaymentMode ppm
        WHERE  ppm.GMId = @GoodsReceivedMainID;

        OPEN @MyCursor;

        FETCH NEXT FROM @MyCursor
        INTO @MyField;

        WHILE @@FETCH_STATUS = 0
            BEGIN
                SET @PayAmount = NULL;
                SELECT @PayAmount = ppm.PayAmount ,
                       @paymentMode = ppm.paymentModeID ,
                       @MembershipID = ppm.VendorID ,
                       @CreditParty = ppm.VendorName ,
                       @CustFinancialAcID = lm.FinancialAcId ,
                       @provFinancialAcID = cp.FinancialAcId ,
                       @TransactionNo = ( CASE WHEN ppm.paymentModeID = 2 THEN ppm.ChequeNo
                                               WHEN ppm.paymentModeID = 3 THEN ppm.TransactionNo
                                               ELSE NULL
                                          END )
                FROM   dbo.RO_PurchasePaymentMode ppm
                       LEFT JOIN dbo.RO_LoyaltyMembership lm ON ppm.VendorID = lm.MembershipID
                       LEFT JOIN dbo.RO_CardProvider cp ON cp.ProviderID = ppm.ProviderID
                WHERE  ppm.purchasePaymentID = @MyField
                AND    ISNULL (lm.IsArchived, 0) <> 1;

                IF ISNULL (@PayAmount, 0) <> 0
                    BEGIN
                        SET @FinancialAcID = CASE WHEN @paymentMode = 1 THEN 10
                                                  WHEN @paymentMode = 4 THEN @CustFinancialAcID
                                                  ELSE @provFinancialAcID
                                             END;

                        INSERT INTO dbo.Ac_TempTransactionDetail ( TransactionID ,
                                                                   FinancialAcID ,
                                                                   MemberShipID ,
                                                                   Particulars ,
                                                                   Debit ,
                                                                   Credit )
                        VALUES ( @TransactionID, ISNULL (@FinancialAcID, 41), @MembershipID ,
                                 CASE WHEN @paymentMode = 1 THEN 'Paid in Cash '
                                      WHEN @paymentMode = 4 THEN 'Credit Party - ' + @CreditParty
                                      ELSE 'Bank Transaction - ' + @TransactionNo
                                 END, 0, @PayAmount );
                    END;

                FETCH NEXT FROM @MyCursor
                INTO @MyField;
            END;

        CLOSE @MyCursor;

        DEALLOCATE @MyCursor;


        SELECT @FoodSales = SUM (Total)
        FROM   dbo.RO_GoodsReceivedDetls
        WHERE  GMId = @GoodsReceivedMainID;
        SET @TotalPayAmount = @TotalPayAmount + @PurchaseDiscount;
        SET @netamount = @FoodSales + @vat;

        IF ( @netamount <> @TotalPayAmount )
            BEGIN
                INSERT INTO dbo.Ac_TempTransactionDetail ( TransactionID ,
                                                           FinancialAcID ,
                                                           MemberShipID ,
                                                           Particulars ,
                                                           Debit ,
                                                           Credit )
                VALUES ( @TransactionID, 43, NULL, CASE WHEN @netamount < @TotalPayAmount THEN 'Given Deficit Amount'
                                                        ELSE 'Given Surplus Amount '
                                                   END ,
                         CASE WHEN @netamount < @TotalPayAmount THEN @TotalPayAmount - @netamount
                              ELSE 0
                         END, CASE WHEN @netamount > @TotalPayAmount THEN @netamount - @TotalPayAmount
                                   ELSE 0
                              END );
            END;
    END;
