USE [RO-CHICKENSTATION]
GO
/****** Object:  StoredProcedure [dbo].[usp_SaveTransactionForPurchase]    Script Date: 10/4/2023 4:16:21 PM ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO

/*
====================================
	Author: Unknown
    Creadted Date: Unknown
	Last Modified By: Yawahang
	Last Modified Date: 10/05/2023
====================================

EXEC dbo.[usp_SaveTransactionForPurchase] @GoodsReceivedMainID = 1

*/
-- usp_SaveTransactionForPurchase 1  
-- drop PROC [dbo].[usp_SaveTransactionForPurchase] 
ALTER PROC [dbo].[usp_SaveTransactionForPurchase]  @GoodsReceivedMainID INT
AS
BEGIN
	DECLARE @PREFX NVARCHAR(10)
		,@VoucherCount INT = 0
		,@VoucherTypeID INT = 16
		,@VoucherNo NVARCHAR(50) = ''
	DECLARE @BillDate DATETIME
		,@Description NVARCHAR(256) = ''
	DECLARE @TransactionID INT = 0
	DECLARE @FoodSales DECIMAL(16, 2) = 0;
	DECLARE @MembershipID INT = 0
	DECLARE @MemberPayId VARCHAR(128) = 0
	DECLARE @PayAmount DECIMAL(18, 2) = 0
	DECLARE @netamount DECIMAL(18, 2) = 0;
	DECLARE @isvat BIT = 0;
	declare @purchaseno nvarchar(25)
	declare @PurchaseDiscount DECIMAL(10, 2) = 0
	declare @Discount DECIMAL(10, 2) = 0
	declare @ExtraDiscount DECIMAL(10, 2) = 0
	declare @NonVatTotal DECIMAL(10, 2) = 0
	declare @Total DECIMAL(10, 2) = 0
	DECLARE @vat DECIMAL(10, 2) = 0
		DECLARE @vatTotal DECIMAL(10, 2) = 0
		DECLARE @vatamount DECIMAL(10, 2) = 0
		DECLARE @vatDiscount DECIMAL(10, 2) = 0
		DECLARE @TotalPayAmount DECIMAL(18, 2) = 0

	DECLARE @GoodsStoreId int = 0;

	DECLARE @BarStoreId int = 0;
	SELECT top(1) @BarStoreId = STId from ROI_Store where StName like '%bar%';

	DECLARE @KitchenStoreId int = 0; 
	SELECT top(1) @KitchenStoreId = STId from ROI_Store where StName like '%kitchen%';
	
	DECLARE @BarFinancialAcId int = 0;
	DECLARE @BarFinancialAc nvarchar(max) = 0;
	SELECT top(1) @BarFinancialAcId = FinancialAcID, @BarFinancialAc= Name from Ac_FinancialAc where Name like '%BAR PURCHASE A/C%';
	
	DECLARE @FoodFinancialAcId int = 0;
	DECLARE @FoodFinancialAc nvarchar(max) = 0;
	SELECT top(1) @FoodFinancialAcId = FinancialAcID, @FoodFinancialAc= Name from Ac_FinancialAc where Name like '%FOOD PURCHASE A/C%';

	select   distinct @purchaseno =PuNo from ROI_PurchaseMain  pm
	join ROI_PurchaseDetails pd on pd.PurchaseMainID = pm.PurchaseMainID
	join RO_GoodsReceivedDetls gd on pd.PurchaseDetailsID = gd.PDId and GMId=@GoodsReceivedMainID


	SELECT @VoucherCount = 0
		,@VoucherTypeID = 25
		,@VoucherNo = ''

	SELECT @PREFX = Prefix
		,@VoucherCount = VoucherCount
	FROM Ac_VoucherType
	WHERE VoucherTypeID = @VoucherTypeID

	SET @VoucherCount = @VoucherCount + 1
	--update Ac_VoucherType set VoucherCount= @VoucherCount where VoucherTypeID = @VoucherTypeID    
	SET @VoucherNo = @PREFX + '-' + cast(@VoucherCount AS VARCHAR(20))
	SET @Description = ''

	SELECT @BillDate = InvoiceDate
		,@Description = 'Purchase No :- '+ @purchaseno +' and Goods Receive No :-' + cast(SM.GMNo AS NVARCHAR(20)),
		@GoodsStoreId = sm.STId
	FROM RO_GoodsReceivedMain SM
	WHERE GMId = @GoodsReceivedMainID
	
	select @NonVatTotal=isnull(SUM(Total),0)
		FROM RO_GoodsReceivedDetls
		WHERE  GMId=  @GoodsReceivedMainID and (IsVat=0 or IsVat is null)

	select @vatTotal = isnull(SUM(Total),0)
		FROM RO_GoodsReceivedDetls
		WHERE IsVat=1 and GMId= @GoodsReceivedMainID

			select @ExtraDiscount=isnull(ExtraDiscount, 0) from RO_GoodsReceivedMain where GMId = @GoodsReceivedMainID
			select @Discount = isnull(sum(Discount),0) from RO_GoodsReceivedDetls where GMId = @GoodsReceivedMainID
			select @vatDiscount = isnull(sum(Discount),0) from RO_GoodsReceivedDetls where IsVat=1 and GMId = @GoodsReceivedMainID
			set @PurchaseDiscount = @ExtraDiscount + @Discount

			 SET @vat = (@vatTotal - @vatDiscount) * 0.13
	--select @PREFX,@VoucherCount,@VoucherTypeID,@BillDate,@Description,@VoucherNo    
	SET @TransactionID = 0

	INSERT INTO Ac_TempTransaction (
		TransactionDate
		,VoucherTypeID
		,VoucherNo
		,Descriptions
		,PostedBy
		,PostedOn
		)
	VALUES (
		@BillDate
		,@VoucherTypeID
		,@VoucherNo
		,@Description
		,'System'
		,@BillDate
		)

	SET @TransactionID = @@IDENTITY

		-- Food Sales    
		SET @FoodSales = 0;

		SELECT @FoodSales = SUM(Total)
		FROM RO_GoodsReceivedDetls
		WHERE GMId = @GoodsReceivedMainID

		--select @FoodSales = SUM(Quentity*UnitRate) from ROI_PurchaseDetails where PurchaseMainID = @PurchaseMainID    
		IF ISNULL(@FoodSales, 0) <> 0
		BEGIN
			INSERT INTO Ac_TempTransactionDetail (
				TransactionID
				,FinancialAcID
				,MemberShipID
				,Particulars
				,Debit
				,Credit
				)
			select 
				@TransactionID, 
				CASE WHEN @GoodsStoreId= @BarStoreId 
					THEN @BarFinancialAcId 
				ELSE
					40 
				END,
				NULL,
				CASE WHEN @GoodsStoreId= @BarStoreId 
					THEN @BarFinancialAc 
					WHEN @GoodsStoreId= @FoodFinancialAcId 
					THEN @FoodFinancialAc 
				ELSE
					'Regular Purchase'
				END
				,@FoodSales
				,0
				 
		END
			-- Purchase Discount
	IF ISNULL(@PurchaseDiscount, 0) <> 0
		INSERT INTO Ac_TempTransactionDetail (
			TransactionID
			,FinancialAcID
			,MemberShipID
			,Particulars
			,Debit
			,Credit
			)
		VALUES (
			@TransactionID
			,45
			,NULL
			,'Discount Received'
			,0
			,@PurchaseDiscount
			)

		-- Vat
		SET @FoodSales = NULL;


		IF ISNULL(@vat, 0) <> 0
			INSERT INTO Ac_TempTransactionDetail (
				TransactionID
				,FinancialAcID
				,MemberShipID
				,Particulars
				,Debit
				,Credit
				)
			VALUES (
				@TransactionID
				,30
				,NULL
				,'Paid Vat'
				,@vat
				,0
				)

		DECLARE 
		@FinancialAcID INT
		,@CustFinancialAcID INT
		,@provFinancialAcID INT
		,@paymentMode INT
	 DECLARE @CreditParty NVARCHAR(256)
		,@TransactionNo NVARCHAR(256)

	SELECT @TotalPayAmount = sum(PayAmount)
	FROM RO_PurchasePaymentMode
	WHERE GMId = @GoodsReceivedMainID


	SELECT @NetAmount = SUM(Total)
	FROM RO_GoodsReceivedDetls
	WHERE GMId = @GoodsReceivedMainID


	DECLARE @MyCursor CURSOR;
	DECLARE @MyField INT;SET @MyCursor = CURSOR
	FOR
	SELECT ppm.purchasePaymentID
	FROM RO_PurchasePaymentMode ppm
	WHERE ppm.GMId=@GoodsReceivedMainID

	OPEN @MyCursor

	FETCH NEXT
	FROM @MyCursor
	INTO @MyField
	END

	WHILE @@FETCH_STATUS = 0
	BEGIN
		SET @PayAmount = NULL;
			SELECT @PayAmount = ppm.PayAmount
			,@paymentMode = ppm.paymentModeID
			,@MembershipID = ppm.VendorID
			,@CreditParty = ppm.VendorName
			,@CustFinancialAcID = lm.FinancialAcId
			,@provFinancialAcID =  cp.FinancialAcId
			,@TransactionNo = (
			CASE 
					WHEN PaymentModeID = 2
						THEN ppm.ChequeNo
					WHEN PaymentModeID = 3
						THEN ppm.TransactionNo
					ELSE NULL
					END
					)
		FROM RO_PurchasePaymentMode ppm
		left join RO_LoyaltyMembership lm on ppm.VendorID = lm.MembershipID
		left join RO_CardProvider cp on cp.ProviderID = ppm.ProviderID
		WHERE ppm.purchasePaymentID = @MyField and isnull(lm.IsArchived,0) != 1

		--IF (@vat = 0)
		--BEGIN
		--SELECT @PayAmount= @vatTotal + @NonVatTotal - @PurchaseDiscount
		--END
		--ELSE
		--BEGIN
		--		SELECT @PayAmount= @vatTotal + @NonVatTotal + @vat - @PurchaseDiscount
		--END

		IF ISNULL(@PayAmount, 0) <> 0
		BEGIN
			SET @FinancialAcID = CASE 
					WHEN @paymentMode = 1
						THEN 10
					WHEN @paymentMode = 4
						THEN @CustFinancialAcID
					ELSE @provFinancialAcID
					END;

			INSERT INTO Ac_TempTransactionDetail (
				TransactionID
				,FinancialAcID
				,MemberShipID
				,Particulars
				,Debit
				,Credit
				)
			VALUES (
				@TransactionID
				,isnull(@FinancialAcID,41)
				,@MembershipID
				,CASE 
					WHEN @paymentMode = 1
						THEN 'Paid in Cash '
					WHEN @paymentMode = 4
						THEN 'Credit Party - ' + @CreditParty
					ELSE 'Bank Transaction - ' + @TransactionNo
					END
				,0
				,@PayAmount
				)
		END

		FETCH NEXT
		FROM @MyCursor
		INTO @MyField
	END;

	CLOSE @MyCursor;

	DEALLOCATE @MyCursor;


	SELECT @FoodSales = SUM(Total)
		FROM RO_GoodsReceivedDetls
		WHERE GMId =@GoodsReceivedMainID
	set @TotalPayAmount = @TotalPayAmount + @PurchaseDiscount
	set @NetAmount = @FoodSales + @vat

	IF (@NetAmount != @TotalPayAmount )
	BEGIN
		INSERT INTO Ac_TempTransactionDetail (
			TransactionID
			,FinancialAcID
			,MemberShipID
			,Particulars
			,Debit
			,Credit
			)
		VALUES (
			@TransactionID
			,43
			,NULL
			,CASE 
				WHEN @NetAmount < @TotalPayAmount
					THEN 'Given Deficit Amount'
				ELSE 'Given Surplus Amount '
				END
			,CASE 
			WHEN @NetAmount < @TotalPayAmount
					THEN @TotalPayAmount - @NetAmount 
				ELSE 0
				END
				
			,CASE 
				WHEN @NetAmount > @TotalPayAmount
					THEN @NetAmount - @TotalPayAmount
				ELSE 0
				END
			)
	END

	
