
GO
/****** Object:  StoredProcedure [dbo].[USP_GetStockTransactionDetail]    Script Date: 10/16/2023 2:18:58 PM ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO

/*
====================================
	Author: Unknown
    Creadted Date: Unknown
	Last Modified By: Yawahang
	Last Modified Date: 10/09/2023
====================================

EXEC dbo.USP_GetStockTransactionDetail @ItemId = 243 ,                        -- int
                                  @StartDate = '09/01/2023' , -- datetime
                                  @EndDate = '10/15/2023' ,   -- datetime
                                  @StoreId = 2                         -- int
  
*/
ALTER PROCEDURE [dbo].[USP_GetStockTransactionDetail]
    @ItemId INT ,
    @StartDate DATETIME ,
    @EndDate DATETIME ,
    @StoreId INT
AS
    BEGIN
        IF ( @StoreId = 0 )
            BEGIN
                SELECT T.StockTranMasterId ,
                       T.TransactionDate ,
                       T.ITId ,
                       T.ITCode ,
                       T.StoreId ,
                       T.Symbol ,
                       T.OpeningTranId ,
                       T.OpeningQty ,
                       T.OpeningUnit ,
                       T.OpeningRate ,
                       T.OpeningAmt ,
                       T.PurchaseDetailId ,
                       T.PurchaseTranId ,
                       T.PurchaseQty ,
                       T.PurchaseUnit ,
                       T.PurchaseRate ,
                       T.PurchaseAmt ,
                       T.SalesTranId ,
                       T.SalesDetailId ,
                       T.SalesUnit ,
                       T.SalesAmt ,
                       T.AdjustTranId ,
                       T.AdjQty ,
                       T.AdjRate ,
                       T.AdjUnit ,
                       T.AdjAmt ,
                       T.CompTranId ,
                       T.CompQty ,
                       T.CompUnit ,
                       T.CompAmt ,
                       T.IssueTranId ,
                       T.IssueQty ,
                       T.FromStoreId ,
                       T.ToStoreId ,
                       T.IssueUnit ,
                       T.IssueAmt ,
                       T.AvailableQty ,
                       T.Rate ,
                       T.ItemBalance ,
                       T.ItemValue ,
                       T.SalesReturnDetailId ,
                       T.Unit ,
                       T.SalesReturnRate ,
                       T.SalesReturnAmt ,
                       T.SalesQty ,
                       T.SalesReturnQty
                FROM   [dbo].[vw_ROI_StockReportView] T
                       left JOIN dbo.RO_SalesDetail SD ON SD.salesDetailId = T.SalesDetailId
                WHERE  T.ITId = @ItemId
                AND    T.TransactionDate BETWEEN @StartDate AND DATEADD (DAY, 1, @EndDate);
            END;
        ELSE
            BEGIN
			 
                SELECT StoreId ,
                       CAST (TransactionDate AS DATE) [TransactionDate] ,
                       ItemBalance
                INTO   #Temp1
                FROM   ( SELECT T.StoreId ,
                                T.TransactionDate ,
                                T.ItemBalance ,
                                ROW_NUMBER () OVER ( PARTITION BY CAST (T.TransactionDate AS DATE)
                                                     ORDER BY T.TransactionDate DESC ) AS rownum
                         FROM   [dbo].[vw_ROI_StockReportView] T
                         LEFT JOIN dbo.RO_SalesDetail SD ON SD.salesDetailId = T.SalesDetailId
                         WHERE  T.ITId = @ItemId
                         AND    T.StoreId = @StoreId
                         AND    T.TransactionDate BETWEEN @StartDate AND @EndDate ) AS Suv
                WHERE  rownum = 1;
				 
                SELECT    
                         CAST (T.TransactionDate AS DATE) [TransactionDate] ,
                         T.ITId ,
                         T.ITCode ,
                         T.Symbol ,
                         SUM (isnull(T.OpeningQty,0)) [OpeningQty] ,
                         SUM (isnull(T.PurchaseQty,0)) [PurchaseQty] ,
                         SUM (isnull(T.AdjQty,0)) [AdjustQty] ,
                         SUM (isnull(T.CompQty,0)) [ComplementQty] ,
                         SUM (isnull(T.IssueQty,0)) [IssueQty] ,
						 SUM(isnull(T.SalesQty,0)) AS SalesQty,
                         SUM( CASE WHEN OM.IsCancelled = 1 THEN t.SalesReturnQty ELSE 0 END) as SalesReturnQty
                INTO     #Temp2
                FROM     [dbo].[vw_ROI_StockReportView] T
                         left JOIN dbo.RO_SalesDetail SD ON SD.salesDetailId = T.SalesDetailId
                         left JOIN dbo.RO_SalesMaster SM ON SM.salesMasterId = SD.salesMasterId
                         left JOIN dbo.RO_OrderMasters OM ON OM.OrderMasterID = SM.OrderMasterID
                WHERE    T.ITId = @ItemId
                AND      T.StoreId = @StoreId
                AND      T.TransactionDate BETWEEN @StartDate AND DATEADD (DAY, 1, @EndDate)
                GROUP BY CAST (TransactionDate AS DATE) ,
                         T.ITId ,
                         T.ITCode ,
                         T.Symbol , 
						 T.SalesReturnQty

					 
--SELECT SRV.StockTranMasterId ,
--       SRV.ITId ,
--       SRV.TransactionDate
--INTO   #Temp3
--FROM   [dbo].[vw_ROI_StockReportView] SRV
--       INNER JOIN ( SELECT   MAX (TransactionDate) AS TransactionDate ,
--                             ITId
--                    FROM     [dbo].[vw_ROI_StockReportView]
--                    GROUP BY ITId ,
--                             StoreId ) SV ON  SRV.ITId = SV.ITId
--                                          AND SRV.TransactionDate = SV.TransactionDate;

--	SELECT   t.ITId ,
--         t.ITCode AS ITName ,
--         t.ItemBalance ,
--         t.Symbol ,
--         t.ItemValue AS TotalValue,
--		 cast(t3.TransactionDate as date) as TransactionDate
--		 INTO #TempItemBal
--FROM     [dbo].[vw_ROI_StockReportView] t
--inner join #Temp3 AS t3 on t3.StockTranMasterId = t.StockTranMasterId
--WHERE     StoreId = @StoreId

  --SELECT distinct t1.TransactionDate ,
  --                     t2.ITId ,
  --                     t2.ITCode ,
  --                     t2.Symbol ,
  --                     t2.OpeningQty ,
  --                     t2.PurchaseQty ,
  --                     t2.SalesQty ,
  --                     t2.SalesReturnQty ,
  --                     t2.AdjustQty ,
  --                     t2.ComplementQty ,
  --                     t2.IssueQty ,
  --                     t1.ItemBalance
  --                     --,t1.ItemBalance
  --              FROM   #TempItemBal t1
  --                     INNER JOIN #Temp2 t2 ON t1.TransactionDate = t2.TransactionDate
		--			   order by  t1.TransactionDate 

					  SELECT distinct t1.TransactionDate ,
                       t2.ITId ,
                       t2.ITCode ,
                       t2.Symbol ,
                       t2.OpeningQty ,
                       t2.PurchaseQty ,
                       t2.SalesQty ,
                       t2.SalesReturnQty ,
                       t2.AdjustQty ,
                       t2.ComplementQty ,
                       t2.IssueQty ,
					   t1.ItemBalance
                FROM   #Temp1 t1
                       INNER JOIN #Temp2 t2 ON t1.TransactionDate = t2.TransactionDate
					   order by  t1.TransactionDate 


                --DROP TABLE #TempItemBal;
                DROP TABLE #Temp1;
                DROP TABLE #Temp2;




            END;



    END;
