
GO
/****** Object:  StoredProcedure [dbo].[usp_FileManagerEnableRootFolder]    Script Date: 10/13/2017 4:10:10 PM ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO

CREATE PROCEDURE [dbo].[usp_FileManagerEnableRootFolder]
 @FolderID INT
AS
  BEGIN
      SET NOCOUNT ON;
      UPDATE folder
      SET    isactive = 1
      WHERE  folderid = @FolderID
  END



GO
