
GO
/****** Object:  StoredProcedure [dbo].[USP_GET_MEMBER_EXTRABILLING]    Script Date: 10/13/2017 4:10:10 PM ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO

CREATE PROCEDURE [dbo].[USP_GET_MEMBER_EXTRABILLING]
@eid int
AS
BEGIN

SELECT * 
FROM tbl_ExtraBillingMaster
FULL OUTER JOIN tbl_ExtraBillingDetails
ON tbl_ExtraBillingMaster.ExtraBillingID=tbl_ExtraBillingDetails.BillingID
Where ExtraBillingID = @eid

END


GO
