
GO
/****** Object:  StoredProcedure [dbo].[usp_VaultData_InsertForCounterTransaction]    Script Date: 10/13/2017 4:10:11 PM ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
create procedure [dbo].[usp_VaultData_InsertForCounterTransaction]
@NoteID int,
@Number int,
@TID int,
@CTID int,
@CTcID int

as

begin
			insert into tbl_Roi_Data
			(
			NoteID,
			Number,
			TID,
			CTID,
		    CTcID
			) Values(
			@NoteID,
			@Number,
			@TID,
			@CTID,
			@CTcID
			)
			end


GO
