
GO
/****** Object:  StoredProcedure [dbo].[usp_purchase_delete]    Script Date: 10/13/2017 4:10:10 PM ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE procedure [dbo].[usp_purchase_delete]
@PurchaseMainID int,
@PurchaseDetailsID int
as
delete from ROI_PurchaseMain where PurchaseMainID=@PurchaseMainID
delete from ROI_PurchaseDetails where PurchaseMainID=@PurchaseMainID
delete from ROI_PurchaseLotNo where PurchaseDetailsID=@PurchaseDetailsID


GO
