
GO
/****** Object:  StoredProcedure [dbo].[usp_PollInstalled]    Script Date: 10/13/2017 4:10:10 PM ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO

CREATE PROCEDURE [dbo].[usp_PollInstalled]
AS
BEGIN 
 SELECT ModuleName FROM Modules WHERE FolderName='Polling'  
END



GO
