
GO
/****** Object:  StoredProcedure [dbo].[ro_updateIsPrinted]    Script Date: 10/13/2017 4:10:10 PM ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE PROC [dbo].[ro_updateIsPrinted]
@OrderMasterId int	
AS
DECLARE @val BIT=1
BEGIN
	UPDATE dbo.RO_OrderMasters SET
	isPrinted=@val
	WHERE OrderMasterID=@OrderMasterId
END	


GO
