
GO
/****** Object:  StoredProcedure [dbo].[usp_getUserByPin]    Script Date: 10/13/2017 4:10:10 PM ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
create proc [dbo].[usp_getUserByPin]  
@pin varchar(max)
as
		SELECT pu.Username as UserName,us.UserID,Roles = STUFF((SELECT DISTINCT ', ' + aspr.RoleName
           FROM aspnet_Roles aspr 
           WHERE aspr.RoleId in (select RoleId from dbo.aspnet_UsersInRoles uir where uir.UserId=pu.UserID)
          FOR XML PATH('')), 1, 2, '')
		FROM dbo.PortalUser pu
		inner join dbo.Users us
		on us.Username = pu.Username
		WHERE 
		pu.PINcode=@pin

GO
