
GO
/****** Object:  StoredProcedure [dbo].[USP_RO_GETRESTROTABLEBYID]    Script Date: 10/13/2017 4:10:10 PM ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO

--[dbo].[USP_RO_GETRESTROTABLEBYID] 14
CREATE PROC [dbo].[USP_RO_GETRESTROTABLEBYID] @restrotableId INT
AS
BEGIN
	SELECT *
	FROM dbo.RO_restroTable
	WHERE restrotableId = @restrotableId
END


GO
