
GO
/****** Object:  StoredProcedure [dbo].[USP_CancelledBillBYYEARLY]    Script Date: 10/13/2017 4:10:10 PM ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
--[dbo].[USP_GETDATABYYEARLY] 2016
CREATE proc [dbo].[USP_CancelledBillBYYEARLY] 
@year varchar(10)
AS
BEGIN
select 
om.BillDate,
om.NetAmount,
om.Waiter,
rt.restrotableTitle,
rr.restroRoom
,om.billNo
,om.TableId
,salesMasterId
,om.OrderMasterId
--,om.PrintCount
,om.Reasons
,om.ArchivedBy
,om.IsArchived
 from dbo.RO_SalesMaster om
 left join dbo.RO_restroTable rt on rt.restrotableId = om.TableId
 left join RO_RestroRoom rr on rr.restroRoomId=om.RoomId
 --where EXTRACT(Year FROM om.Date), EXTRACT(Month FROM om.Date)  = '2015-11'
 where Year(om.ArchivedOn)=@year and om.IsArchived=1

END








GO
