
GO
/****** Object:  StoredProcedure [dbo].[USP_ROI_SaveSplittedData]    Script Date: 10/13/2017 4:10:10 PM ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO

--USP_ROI_SaveSplittedData 11507,2,78
CREATE procedure [dbo].[USP_ROI_SaveSplittedData]
@OrderDetailsID int,
@SeatNo int,
@restrotableId int
AS
declare @val int
select top(1) @val=OrderMasterID from RO_OrderMasters
update RO_Order_Detail set SeatNo=@SeatNo where OrderDetailsID=@OrderDetailsID
update RO_OrderMasters set IsSplit=1 where OrderMasterID = (select top 1 OrderMasterId from RO_Order_Detail where OrderDetailsID=@OrderDetailsID)
--select * from RO_Order_Detail where OrderDetailsID=11507
--select * from RO_OrderMasters where

GO
