
GO
/****** Object:  StoredProcedure [dbo].[usp_Ac_FinancialSysName]    Script Date: 10/13/2017 4:10:10 PM ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
--********************SP-3****************
CREATE PROC [dbo].[usp_Ac_FinancialSysName]
AS
SELECT FinancialSysID
	,NAME AS FinancialSysName
	,IsGroup
FROM dbo.Ac_FinancialSys

GO
