
GO
/****** Object:  StoredProcedure [dbo].[USP_ROI_GETISSUES]    Script Date: 10/13/2017 4:10:10 PM ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE PROCEDURE [dbo].[USP_ROI_GETISSUES]
AS
BEGIN

SELECT * FROM DBO.ROI_IssueMain I
left JOIN DBO.ROI_Store S ON S.STId = I.IssuedFrSTId

END




GO
