
GO
/****** Object:  StoredProcedure [dbo].[usp_CDNGetLink]    Script Date: 10/13/2017 4:10:10 PM ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO

CREATE PROC [dbo].[usp_CDNGetLink] --1
@PortalID INT
AS
BEGIN
SELECT * FROM CDN WHERE PortalID = @PortalID ORDER BY URLOrder asc
END



GO
