
GO
/****** Object:  StoredProcedure [dbo].[USP_RO_getCreditPayReportByDates]    Script Date: 10/13/2017 4:10:10 PM ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
-- USP_RO_getCreditPayReportByDates '9/06/2017','9/13/2017'
CREATE procedure [dbo].[USP_RO_getCreditPayReportByDates] 
@sdate date,
@edate date
as
SELECT [MemberPayID]
      ,[MemberID]
	  ,lm.Fname + ' ' + lm.Lname as CustName
      ,[PayAmount]
      ,[AddedOn]
      ,[AddedBy]
	  , CASE WHEN lm.IsCustomer < 1 THEN 'Vendor' ELSE 'Customer' END AS CustType
  FROM [dbo].[RO_MemberPay] mp
  inner join RO_LoyaltyMembership lm
  on lm.MembershipID=mp.MemberID
   where (cast(AddedOn as date) between @sdate and @edate) and [PayAmount] != 0.00
   order by AddedOn desc

GO
