
GO
/****** Object:  StoredProcedure [dbo].[usp_ac_deleteTransactionDetailByID]    Script Date: 10/13/2017 4:10:10 PM ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
create proc [dbo].[usp_ac_deleteTransactionDetailByID]
@TransactionID int
as
delete Ac_TempTransactionDetail where TransactionID=@TransactionID

GO
