
GO
/****** Object:  StoredProcedure [dbo].[usp_ModuleWebInfoGetAll]    Script Date: 10/13/2017 4:10:10 PM ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO

CREATE PROCEDURE [dbo].[usp_ModuleWebInfoGetAll] 
AS
BEGIN
 SELECT 
  *,
  ROW_NUMBER() OVER
      (
       ORDER BY AddedOn DESC
      ) AS rowNum
 FROM 
  (
   SELECT 
     * 
   FROM 
    [dbo].[ModuleWebInfo]
  ) DataTable
END



GO
