
GO
/****** Object:  StoredProcedure [dbo].[usp_getflatandperdiscount]    Script Date: 10/13/2017 4:10:10 PM ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE PROC [dbo].[usp_getflatandperdiscount]
@masterOrderId int	
AS
begin
SELECT * FROM dbo.ro_flatandPerDiscount WHERE orderMasterId=@masterOrderId
end


GO
