
GO
/****** Object:  StoredProcedure [dbo].[usp_saveCanceledOrderDetailItem]    Script Date: 10/13/2017 4:10:10 PM ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO

CREATE procedure [dbo].[usp_saveCanceledOrderDetailItem]
@CanceledBy nvarchar(max),
@OrderBy nvarchar(max),
@Item nvarchar(max),
@Quantity int,
@Reason nvarchar(max),
@Date nvarchar(max),
@Responsible nvarchar(max)
as

insert into Order_Detail_Cancel(CanceledBy,
OrderBy,
Item,
Quantity,
Reason,
Date,
Responsible
) values(@CanceledBy,
@OrderBy,
@Item,
@Quantity,
@Reason,
@Date,
@Responsible
)


GO
