
GO
/****** Object:  StoredProcedure [dbo].[usp_ScheduleHistoryGetMax]    Script Date: 10/13/2017 4:10:10 PM ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO

CREATE PROCEDURE [dbo].[usp_ScheduleHistoryGetMax]
(
 @ScheduleID INT
)
AS
BEGIN
SELECT MAX(ScheduleHistoryID) AS  ScheduleHistoryID FROM dbo.ScheduleHistory
END;



GO
