
GO
/****** Object:  StoredProcedure [dbo].[usp_ro_extraitemsave]    Script Date: 10/13/2017 4:10:10 PM ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE PROCEDURE [dbo].[usp_ro_extraitemsave] @ItemID INT
	,@ExtraItem NVARCHAR(200)
	,@ExtraPrice DECIMAL(18, 2)
	,@IsActive BIT
	,@AddedBy NVARCHAR(250)
AS
--IF NOT EXISTS (
--		SELECT *
--		FROM RO_ExtraItem
--		WHERE ItemID = @ItemID
--		)
IF (@ExtraItem  not in  (
		SELECT ExtraItem
		FROM RO_ExtraItem
		WHERE ItemID=@ItemID
		))
BEGIN
	--SELECT * FROM DBO.RO_ExtraItem
	INSERT INTO RO_ExtraItem (
		ItemID
		,ExtraItem
		,ExtraPrice
		,IsActive
		,AddedOn
		,IsArchived
		,AddedBy
		)
	VALUES (
		@ItemID
		,@ExtraItem
		,@ExtraPrice
		,@IsActive
		,GETDATE()
		,0
		,@AddedBy
		)
		--WHERE ExtraItem=@ExtraItem
END
ELSE
BEGIN
	--SELECT * FROM DBO.RO_ExtraItem
	UPDATE RO_ExtraItem
	SET 
	--ExtraItem = @ExtraItem,
		ExtraPrice = @ExtraPrice
		,IsActive = @IsActive
		,UpdatedBy = @AddedBy
		,UpdatedOn = GETDATE()
	WHERE ExtraItem = @ExtraItem
END

GO
