
GO
/****** Object:  StoredProcedure [dbo].[USP_RO_GETBILLTERMBYSalesMasterId]    Script Date: 10/13/2017 4:10:10 PM ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO

--USP_RO_GETBILLTERMBYSalesMasterId 23
CREATE PROCEDURE [dbo].[USP_RO_GETBILLTERMBYSalesMasterId] @salesMasterID INT
AS
SELECT bt.NAME as BillTerm
	,ba.rate as Rate
	,ba.Amount
	,bt.IsAdd
	,bt.SequenceOrder as seq
FROM RO_BillingAmount ba
JOIN RO_SalesMaster sm ON sm.salesMasterId = ba.SalesMasterID
LEFT JOIN RO_BillTerm bt ON bt.BilingID = ba.BilingID
WHERE ba.SalesMasterID = @salesMasterID
	AND ba.rate <> 0 --(ba.rate <> 0 or ba.Amount <> 0)
--ORDER BY bt.SequenceOrder ASC

union
select 'NetAmount' as BillTerm
	,0 as Rate
	,NetAmount as Amount
	,1 as IsAdd
	,999 as seq
 from RO_SalesMaster
 where salesMasterId=@salesMasterID
 ORDER BY seq ASC  
 

GO
