
GO
/****** Object:  StoredProcedure [dbo].[usp_NewsRssContentGet]    Script Date: 10/13/2017 4:10:10 PM ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO

CREATE PROCEDURE [dbo].[usp_NewsRssContentGet]

AS
BEGIN
 SET NOCOUNT ON;
  SELECT 
  NewsContent 
 FROM 
  dbo.NewsRssContent    
END



GO
