
GO
/****** Object:  StoredProcedure [dbo].[USP_AC_getVerifiedTransactionList]    Script Date: 10/13/2017 4:10:10 PM ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE proc [dbo].[USP_AC_getVerifiedTransactionList]
as
select tt.TransactionID,sum(ttd.Debit) as totalDebit,sum(ttd.Credit) as totalCredit,vt.VoucherName,tt.TransactionDate
--,(fa.Name+', ') as FinancialAcName
,tt.Descriptions
,tt.VoucherNo,tt.VerifiedOn,tt.VerifiedBy
 from Ac_Transaction tt 
join Ac_TransactionDetail ttd on tt.TransactionID=ttd.TransactionID
join  Ac_VoucherType vt on tt.VoucherTypeID=vt.VoucherTypeID
join Ac_FinancialAc fa on fa.FinancialAcID=ttd.FinancialAcID
 group by tt.TransactionID, vt.VoucherName,tt.TransactionDate,tt.VoucherNo,tt.VerifiedOn,tt.VerifiedBy
 --,fa.Name
 , tt.Descriptions 

GO
