
GO
/****** Object:  StoredProcedure [dbo].[ROI_SAVEPURCHASEMAIN]    Script Date: 10/13/2017 4:10:10 PM ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE PROCEDURE [dbo].[ROI_SAVEPURCHASEMAIN] @PurchaseMainID INT
	,@PuNo NVARCHAR(200)
	,@PbDate DATETIME
	,@IvNo NVARCHAR(200)
	,@Vid INT
	,@Remarks NVARCHAR(MAX)
	,@FyId NVARCHAR(200)
	,@PostedOn VARCHAR(100)
	,@PostedBy NVARCHAR(100)
	,@SPMID INT
AS
BEGIN
	DELETE
	FROM ROI_PurchaseDetails
	WHERE PurchaseMainID = @PurchaseMainID

	DECLARE @pdID INT

	SELECT @pdID = PurchaseDetailsID
	FROM ROI_PurchaseDetails
	WHERE PurchaseMainID = @PurchaseMainID

	DELETE
	FROM ROI_PurchaseLotNo
	WHERE PurchaseDetailsID = @pdID

	IF @PurchaseMainID = 0
	BEGIN
		INSERT INTO ROI_PurchaseMain (
			PuNo
			,PbDate
			,IvNo
			,Vid
			,Remarks
			,FyId
			,PostedOn
			,PostedBy
			,SPMID
			)
		VALUES (
			@PuNo
			,@PbDate
			,@IvNo
			,@Vid
			,@Remarks
			,@FyId
			,@PostedOn
			,@PostedBy
			,@SPMID
			)

		SELECT @@IDENTITY
	END
	ELSE
	BEGIN
		UPDATE ROI_PurchaseMain
		SET PuNo = @PuNo
			,PbDate = @PbDate
			,IvNo = @IvNo
			,Vid = @Vid
			,Remarks = @Remarks
			,FyId = @FyId
			,PostedOn = @PostedOn
			,PostedBy = @PostedBy
			,SPMID = @SPMID
		WHERE PurchaseMainID = @PurchaseMainID

		SELECT cast(@PurchaseMainID AS INT)
	END
END
	--[ROI_SAVEPURCHASEMAIN] '0','PO_1','2017/5/5','22','33', 'remaslf','1','5255222','asdf'
	--select * from ROI_PurchaseMain
	--select * from ROI_PurchaseDetails
	--select * from ROI_PurchaseLotNo
	--alter table ROI_PurchaseMain
	--add MoP int
	--update ROI_PurchaseMain set mop=4 where PurchaseMainID in (1,2)

GO
