
GO
/****** Object:  StoredProcedure [dbo].[USP_RO_GETUNITBYITEM]    Script Date: 10/13/2017 4:10:10 PM ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE PROCEDURE [dbo].[USP_RO_GETUNITBYITEM]
(
@unitID INT
)
AS
BEGIN
select * FROM  dbo.RO_Units
  WHERE dbo.RO_Units.UnitID = @unitID
end



GO
