
GO
/****** Object:  StoredProcedure [dbo].[usp_roi_SaveItemsDetailsOfRestro]    Script Date: 10/13/2017 4:10:10 PM ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE PROCEDURE [dbo].[usp_roi_SaveItemsDetailsOfRestro] @ITId INT
	,@ITCode NVARCHAR(250)
	,@ImagePath NVARCHAR(256) = NULL
	,@IsExpirable BIT
	,@IsProdMaterial BIT
	,@IsUnitWiseRate BIT
	,@ItemCostCentreID INT
	,@Details NVARCHAR(max) = NULL
	,@SmallUnit INT
	,@AddedBy NVARCHAR(250)
	,@IsExtra bit
AS
IF NOT EXISTS (
		SELECT *
		FROM ROI_ItemDetails
		WHERE ITId = @ITId
		)
BEGIN
	INSERT INTO ROI_ItemDetails (
		ITId
		,ITCode
		,ImagePath
		,IsExpirable
		,IsProdMaterial
		,IsUnitWiseRate
		,ItemCostCentreID
		,Details
		,SmallUnit
		,AddedBy
		,AddedOn
		,IsArchived
		,IsExtra
		)
	VALUES (
		@ITId
		,@ITCode
		,@ImagePath
		,@IsExpirable
		,@IsProdMaterial
		,@IsUnitWiseRate
		,@ItemCostCentreID
		,@Details
		,@SmallUnit
		,@AddedBy
		,GETDATE()
		,0
		,@IsExtra
		)
END
ELSE
BEGIN
	UPDATE ROI_ItemDetails
	SET ITCode = @ITCode
		,ImagePath = @ImagePath
		,IsExpirable = @IsExpirable
		,IsProdMaterial = @IsProdMaterial
		,IsUnitWiseRate = @IsUnitWiseRate
		,ItemCostCentreID = @ItemCostCentreID
		,Details = @Details
		,SmallUnit = @SmallUnit
		,UpdatedBy = @AddedBy
		,UpdatedOn = GETDATE()
		,IsExtra=@IsExtra
	WHERE ITId = @ITId
END


GO
