
GO
/****** Object:  StoredProcedure [dbo].[usp_MaterializedReportView]    Script Date: 10/13/2017 4:10:10 PM ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
--  [usp_MaterializedReportView] '2017-08-21', '2017-08-28',-1          
CREATE PROCEDURE [dbo].[usp_MaterializedReportView]          
@StartDate DATETIME,          
@EndDate DATETIME  ,
@Valid int        
as          
set @EndDate = DATEADD(day,1,@EndDate)          
SELECT  fy.fyName AS FiscalYear        
 , 'RO'+ fy.fyName +'-'+ cast((SM.InvoiceNo- fy.FirstSalesMasterID) as varchar(20)) AS Bill_No        
 , SM.CusName AS Customer_Name        
 , '' AS Customer_PAN        
 , SM.BillDate AS Bill_Date        
 , SM.BasicAmount +SM.totaldiscount AS AMOUNT        
 , ISNULL( SM.totaldiscount,0) AS Discount        
 , ISNULL( ba1.Amount,0) AS ServiceCharge        
 , ISNULL( sm.BasicAmount + ba1.Amount,0) AS TaxableAmount        
 , ISNULL( bA2.Amount,0) AS Tax_Amount        
 , case when PD.PrintedBy is null then 0 else 1 end AS Is_Printed        
 , ~(sm.IsArchived) AS Is_Active        
 ,MIN( PD.PrintedDate) AS Printed_Time        
 ,MIN( SM.AddedBy) AS Entered_by        
 ,MIN(PD.PrintedBy) AS Printed_by
 ,SM.Reasons     
FROM   dbo.RO_SalesMaster AS SM       
   inner join RO_fiscalYear  fy on sm.FiscalYearID = fy.fyId      
   left JOIN dbo.PrintDetail AS PD ON SM.salesMasterId = PD.PrintBillNo --AND PD.PrintedNumber = 1         
   left join dbo.RO_BillingAmount bA1 on bA1.SalesMasterID = sm.salesMasterId and (BA1.IsVoid = 0 or bA1.IsVoid is null) and bA1.BilingID = 62       
   left join dbo.RO_BillingAmount bA2 on bA2.SalesMasterID = sm.salesMasterId and (BA2.IsVoid = 0 or BA2.IsVoid is null) and bA2.BilingID = 54       
      WHERE (sm.BillDate BETWEEN @StartDate AND @EndDate  )   and   (sm.IsArchived = @Valid or @Valid = -1)
   group by SM.FiscalYearID,fy.fyName,SM.salesMasterId,sm.InvoiceNo, fy.FirstSalesMasterID, SM.CusName, SM.BillDate,SM.BasicAmount ,SM.totaldiscount  
   ,ba1.Amount,bA2.Amount,PD.PrintedBy,sm.IsArchived,SM.Reasons 
   order by SM.salesMasterId ASC

GO
