
GO
/****** Object:  StoredProcedure [dbo].[USP_RO_CancelReason]    Script Date: 10/13/2017 4:10:10 PM ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
--[dbo].[USP_RO_CancelReason] 60,'test','superuser'
CREATE procedure [dbo].[USP_RO_CancelReason]
	@salesMasterId int,
	@Reasons nvarchar(max),
	@userName nvarchar(256)
as
	update RO_SalesMaster 
			set IsArchived=1,
			  ArchivedBy=@userName,
			  ArchivedOn=GETDATE(),
			  Reasons=@Reasons
				where salesMasterId= @salesMasterId


GO
