
GO
/****** Object:  StoredProcedure [dbo].[usp_getsystemuser]    Script Date: 10/13/2017 4:10:10 PM ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO

CREATE PROCEDURE [dbo].[usp_getsystemuser]
AS
SELECT [UserID]
	,[UserName]
FROM [dbo].[UserDetails]

GO
