
GO
/****** Object:  StoredProcedure [dbo].[usp_getrestrotable]    Script Date: 10/13/2017 4:10:10 PM ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE PROC [dbo].[usp_getrestrotable]
AS
BEGIN
	SELECT * FROM dbo.RO_restroTable
END	


GO
