
GO
/****** Object:  StoredProcedure [dbo].[usp_DashboardQuickLinkDelete]    Script Date: 10/13/2017 4:10:10 PM ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO

CREATE PROCEDURE [dbo].[usp_DashboardQuickLinkDelete]
 @QuickLinkID INT 
AS
BEGIN
 SET NOCOUNT ON;
 DELETE FROM [dbo].[DashboardQuickLinks] WHERE QuickLinkID=@QuickLinkID
END



GO
