
GO
/****** Object:  StoredProcedure [dbo].[USP_RO_GetPreviousItemByID]    Script Date: 10/13/2017 4:10:10 PM ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO


--[USP_RO_GetPreviousItemByID] 73

CREATE PROCEDURE [dbo].[USP_RO_GetPreviousItemByID] 

@ID INT

AS

Begin



declare @val varchar(90)

set @val= dbo.fn_getMaxMasterId(@ID)



	select ITName AS ItemName, 

	ROI_ItemID as ItemId,

	OD.Quantity,

	OD.ExtraItem,

	OD.SeatNo,

	OD.IsHomeDelivery,

	OD.OrderDetailsID,

	OD.OrderMasterId,

	om.TableId,

	iss.ItemStatus,

	od.ExtraCharge,

	od.Note,
	od.BillPaid,
	om.IsSplit,
	0 isCombo

	 from RO_Order_Detail od 

	inner join RO_OrderMasters om  on od.OrderMasterId = om.OrderMasterId

	inner join ROI_ITEMMain im on im.ITId = od.ROI_ItemId

	left join dbo.RO_OrderItemStatus os on os.OrderDetailID=od.OrderDetailsID

	left join dbo.RO_ItemStatus iss on iss.StatusID=os.StatusID



WHERE om.TableId =@ID AND om.BillPaid = 0 AND om.IsCancelled = 0 and om.OrderMasterID=@val and ISCombo = 0

UNION



select Name AS ItemName, 

	ROI_ItemID as ItemId,

	OD.Quantity,

	OD.ExtraItem,

	OD.SeatNo,

	OD.IsHomeDelivery,

	OD.OrderDetailsID,

	OD.OrderMasterId,

	om.TableId,

	iss.ItemStatus,

	od.ExtraCharge,

	od.Note,
	od.BillPaid,
	om.IsSplit,
	1 isCombo

	 from RO_Order_Detail od 

	inner join RO_OrderMasters om  on od.OrderMasterId = om.OrderMasterId

	inner join RO_Combo cm on cm.ComboID= od.ROI_ItemId

	left join dbo.RO_OrderItemStatus os on os.OrderDetailID=od.OrderDetailsID

	left join dbo.RO_ItemStatus iss on iss.StatusID=os.StatusID



WHERE om.TableId =@ID AND om.BillPaid = 0 AND om.IsCancelled = 0 and om.OrderMasterID=@val and ISCombo = 1





end














GO
