
GO
/****** Object:  StoredProcedure [dbo].[usp_SEOGenerateRobots]    Script Date: 10/13/2017 4:10:10 PM ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO

CREATE PROCEDURE [dbo].[usp_SEOGenerateRobots]
@UserAgent NVARCHAR(50)
AS
BEGIN
SELECT PortalID,UserAgent,PagePAth FROM [dbo].[robots] WHERE UserAgent=@UserAgent
END



GO
