
GO
/****** Object:  StoredProcedure [dbo].[USP_RO_CheckDuplicteRoomType]    Script Date: 10/13/2017 4:10:10 PM ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE PROC [dbo].[USP_RO_CheckDuplicteRoomType]
@RoomType VARCHAR(250)
AS 
BEGIN
	SELECT Title FROM Ro_RoomType WHERE Title = @RoomType
END


GO
