
GO
/****** Object:  StoredProcedure [dbo].[USP_ROI_SaveAdjustmentType]    Script Date: 10/13/2017 4:10:10 PM ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
create procedure [dbo].[USP_ROI_SaveAdjustmentType]
@AdjustmentTypeName nvarchar(max),
@IsActive bit,
@AddedBy nvarchar(max)
AS
INSERT INTO Ro_AdjustmentType(AdjustmentTypeName,IsActive,AddedBy,AddedOn)
VALUES (@AdjustmentTypeName,@IsActive,@AddedBy,GETDATE());

GO
