
GO
/****** Object:  StoredProcedure [dbo].[usp_PortalGetParent]    Script Date: 10/13/2017 4:10:10 PM ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO

CREATE PROCEDURE [dbo].[usp_PortalGetParent]
AS
BEGIN
 
 SET NOCOUNT ON;
 SELECT PortalID,SEOName From [dbo].[Portal]
 WHERE parentID=0
END



GO
