
GO
/****** Object:  StoredProcedure [dbo].[usp_CDNDeleteLink]    Script Date: 10/13/2017 4:10:10 PM ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO

CREATE PROC [dbo].[usp_CDNDeleteLink]
@UrlID int,
@PortalID int
AS
BEGIN
DELETE FROM CDN WHERE URLID=@UrlID AND PortalID=@PortalID
END



GO
