
GO
/****** Object:  StoredProcedure [dbo].[usp_GetAuditLog]    Script Date: 10/13/2017 4:10:10 PM ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
--  [usp_GetAuditLog]  '2017-02-09', '2017-03-09'   , 'superuser'   
CREATE PROCEDURE [dbo].[usp_GetAuditLog]       
     
                           @StartDate DATETIME,       
                           @EndDate   DATETIME   ,  
         @UserName  NVARCHAR(256)    
AS       
SET @EndDate = DATEADD(DAY,1,@EndDate);      
  BEGIN       
    DECLARE @t1 TABLE       
        ( SalesMasterid INT,      
     FiscalYEARID INT,      
           ordermasterid INT,       
           tableid       INT,       
           roomid        INT,      
           [date]        DATETIME,       
           menu          NVARCHAR(1000) ,      
     OrdrBy     NVARCHAR(256),      
     [Event] NVARCHAR(256)      
        );       
      DECLARE @t TABLE       
        (       
     SalesMasterid INT,      
     FiscalYEARID INT,      
           ordermasterid INT,       
           tableid       INT,       
           roomid        INT,      
           [date]        DATETIME,       
           menu          NVARCHAR(1000) ,      
     OrdrBy     NVARCHAR(256)      
        );       
      
      INSERT INTO @t       
      SELECT '',      
    '',      
    OM.ordermasterid,       
             OM.tableid,       
             OM.roomid,       
             OM.[date],       
             I.itname ,      
    OM.UserName      
      FROM   ro_ordermasters OM       
             INNER JOIN ro_order_detail OD       
                     ON OM.ordermasterid = OD.ordermasterid       
             INNER JOIN roi_itemmain I       
                     ON I.itid = OD.roi_itemid       
  WHERE OM.UserName = @UserName AND OM.DATE BETWEEN @StartDate AND @EndDate;      
   INSERT INTO @t1      
      SELECT t.SalesMasterid,      
    t.FiscalYEARID,      
    t.ordermasterid,       
             t.tableid,       
             t.roomid,       
             MIN(t.[date])       
             [DateTime],       
             STUFF((SELECT ', ' + menu       
                    FROM   @t t1       
                    WHERE  t1.ordermasterid = t.ordermasterid       
                    FOR XML PATH(''), TYPE).value('.', 'varchar(max)'), 1, 1,       
             ' ')       
             [Menus] ,      
    OrdrBy,      
    'Ordere Items'      
      FROM   @t t       
      GROUP  BY t.SalesMasterid,      
    t.FiscalYEARID,      
    t.ordermasterid,       
                t.tableid,       
                t.roomid ,      
    OrdrBy;      
 INSERT INTO @t1      
      SELECT salesmasterid,       
             fiscalyearid,       
             ordermasterid,       
             tableid,       
             roomid,       
             billdate,      
            'Cost:' +  CAST(netamount AS VARCHAR(30)),       
             addedby,      
    'Billing '      
      FROM   ro_salesmaster WHERE (BillDate BETWEEN  @StartDate AND @EndDate) AND AddedBy = @UserName;      
  INSERT INTO  @t1      
   SELECT salesMasterId,FiscalYearID,OrderMasterId,TableId,RoomId,PD.PrintedDate      
   ,'No Of Print:' +CAST(PD.PrintedNumber+1 AS VARCHAR(4)),PrintedBy ,'Print Bill'FROM RO_SalesMaster sm      
   INNER JOIN  PrintDetail PD ON sm.salesMasterId = pd.PrintBillNo      
   WHERE PrintDate BETWEEN @StartDate AND @EndDate AND PrintedBy = @UserName;      
         
   INSERT INTO @t1      
      SELECT salesmasterid,       
             fiscalyearid,       
             ordermasterid,       
             tableid,       
             roomid,       
             ArchivedOn,      
            'Reasons:' +  Reasons,       
             ArchivedBy      
    ,'Bill cancel'      
      FROM   ro_salesmaster WHERE (ArchivedOn BETWEEN  @StartDate AND @EndDate) AND ArchivedBy = @UserName AND IsArchived = 1;      
    
  INSERT INTO @t1    
  SELECT '',       
             '',       
             '',       
             '',       
             '',       
             IR.AddedON,      
            'Rate of ' +  IM.ITName +' is set to RS.' + cast( IR.Rate as nvarchar(256)),       
             IR.AddedBy      
    ,'Item Rate Update'      
      FROM   ROI_ItemRateHistory IR    
   inner join ROI_ITEMMain IM on IM.ITId = IR.ItemID and IR.IsCombo = 0    
   WHERE (IR.AddedON BETWEEN  @StartDate AND @EndDate) AND  IR.AddedBy  = @UserName      
   union    
    SELECT '',       
             '',       
             '',       
             '',      
             '',       
             IR.AddedON,      
            'Rate of ' +  IM.Name +' is set to RS.' + cast( IR.Rate as nvarchar(256)),       
             IR.AddedBy      
    ,'Item Rate Update'      
      FROM   ROI_ItemRateHistory IR    
   inner join RO_Combo IM on IM.ComboID = IR.ItemID and IR.IsCombo = 1    
   WHERE (IR.AddedON BETWEEN  @StartDate AND @EndDate) AND  IR.AddedBy  = @UserName      
   -- SalesMasterid INT,      
     --FiscalYEARID INT,      
     --      ordermasterid INT,       
     --      tableid       INT,       
     --      roomid        INT,      
     --      [date]        DATETIME,       
     --      menu          NVARCHAR(1000) ,      
     --OrdrBy     NVARCHAR(256),      
     --[Event] NVARCHAR(256)  
   INSERT INTO @t1    
 SELECT '',       
             '',       
             '',       
             '',      
             '',       
             IR.OperationTime,      
         case when IR.Operation ='R' then 'Database restore from '+IR.FileNameAndPath when IR.Operation= 'B' then 'Database backup from '+IR.FileNameAndPath   END,       
             IR.OperationBy   
    ,'Database Backup And Restore'      
      FROM   DBLog IR    
   WHERE (IR.OperationTime BETWEEN  @StartDate AND @EndDate) AND  IR.OperationBy  = @UserName  
      
   SELECT       
   CASE       
   WHEN t.SalesMasterid <> 0       
  THEN 'RO'+ fy.fyName +'-'+ CAST((t.salesMasterId- fy.FirstSalesMasterID) AS VARCHAR(20))       
   ELSE       
  '' END AS Bill_No       
   ,t.ordermasterid,t.DATE,t.OrdrBy UserName,t.EVENT, rt.restrotableTitle,rmt.Title RoomType,Menu [Description]      
    FROM @t1 t       
   LEFT JOIN RO_fiscalYear fy ON t.FiscalYEARID = fy.fyId      
  LEFT JOIN RO_restroTable rt ON rt.restrotableId = tableid      
  LEFT JOIN Ro_RoomType rmt ON rmt.RoomTypeID = roomid      
   ORDER BY DATE;      
  END;  

GO
