
GO
/****** Object:  StoredProcedure [dbo].[usp_GetApplicationInfo]    Script Date: 10/13/2017 4:10:10 PM ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO

Create Procedure [dbo].[usp_GetApplicationInfo]
@ApplicationName nvarchar(256)
AS
BEGIN
SELECT [ApplicationName]
      ,[ApplicationId]
      ,[Description]
  FROM [dbo].[aspnet_Applications] where [LoweredApplicationName] =  @ApplicationName
END



GO
