
GO
/****** Object:  StoredProcedure [dbo].[USP_STOCKREPORTAll]    Script Date: 10/13/2017 4:10:11 PM ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
--USP_STOCKREPORTAll 2
CREATE PROCEDURE [dbo].[USP_STOCKREPORTAll] @storeId DATETIME
AS
IF (@storeId = 0)
BEGIN
	BEGIN
		--declare @storeId int=1
		SELECT ITName
			,OPBal
			,CLBal
			,StName
			,ru.Symbol as ITUnit
		FROM DBO.ROI_ITEMBal ib
		INNER JOIN DBO.ROI_ITEMMain IM ON IB.ITId = IM.ITId
		INNER JOIN DBO.ROI_Store RS ON RS.STId = IB.STId
		left join ROI_ItemDetails itd on IM.ITId=itd.ITId
	left join ROI_Unit1 ru on ru.Unit1Id=itd.SmallUnit

			--where rs.STId=@storeId
	END
END
ELSE
BEGIN
	BEGIN
		--declare @storeId int=1
		SELECT ITName
			,sum(OPBal) OPBal
			,sum(CLBal) CLBal
			--,StName
			,ru.Symbol as ITUnit
		FROM DBO.ROI_ITEMBal ib
		INNER JOIN DBO.ROI_ITEMMain IM ON IB.ITId = IM.ITId
		INNER JOIN DBO.ROI_Store RS ON RS.STId = IB.STId
		left join ROI_ItemDetails itd on IM.ITId=itd.ITId
	left join ROI_Unit1 ru on ru.Unit1Id=itd.SmallUnit

		WHERE rs.STId = @storeId 
		or PSTId=@storeId
		group by ITName
		--,StName
		,ru.Symbol
	END
END

GO
