
GO
/****** Object:  StoredProcedure [dbo].[USP_RO_GETINVITEM]    Script Date: 10/13/2017 4:10:10 PM ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE PROCEDURE [dbo].[USP_RO_GETINVITEM]
AS
BEGIN
select m.ITId, m.ITName, r.SRate  from ROI_ITEMMain m  Inner Join ROI_ItemRate r on m.ITId = r.ItemID
--select ROI_ITEMMain.ITId as ItemId, RO_Items.ItemName, RO_Items.ItemDescription, dbo.RO_Items.PhotoPath, dbo.RO_Items.Price, RO_Items.ItemCode, RO_Items.UnitID, RO_Items.CategoryID as CategoriesID, RO_Items.CostCenterID,    RO_Units.UnitName, dbo.RO_Cat
--egories.CategoriesName, CostCenterInfo.CostCenterName FROM dbo.R join RO_Units ON RO_Items.UnitID = RO_Units.UnitID  JOIN dbo.RO_Categories ON dbo.RO_Categories.CategoriesID = RO_Items.CategoryID
-- JOIN dbo.CostCenterInfo ON dbo.CostCenterInfo.CostCenterId = RO_Items.CostCenterID

end





GO
