
GO
/****** Object:  StoredProcedure [dbo].[sp_SettingPortalList]    Script Date: 10/13/2017 4:10:10 PM ******/
SET ANSI_NULLS OFF
GO
SET QUOTED_IDENTIFIER ON
GO

CREATE PROCEDURE [dbo].[sp_SettingPortalList]
AS
SELECT
 [SettingPortalID],
 [SettingID],
 [Value],
 [PortalID]
FROM 
 [dbo].[SettingPortal]



GO
