
GO
/****** Object:  StoredProcedure [dbo].[usp_SageBannerLoadBannerHTMLContentOnGrid]    Script Date: 10/13/2017 4:10:10 PM ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO

CREATE PROCEDURE [dbo].[usp_SageBannerLoadBannerHTMLContentOnGrid] 
(
 @BannerID INT,
 @UserModuleID INT,
 @PortalID INT,
 @CultureCode NVARCHAR(100)
)
AS
BEGIN
 SELECT [ImageID],[HTMLBodyText] 
 FROM BannerImage 
 WHERE DATALENGTH(HTMLBodyText)>0 
 AND BannerID=@BannerID
 AND UserModuleID=@UserModuleID
 AND PortalID=@PortalID
 AND CultureCode=@CultureCode
END



GO
