
GO
/****** Object:  StoredProcedure [dbo].[usp_GetSageFrameUserList]    Script Date: 10/13/2017 4:10:10 PM ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO

CREATE PROCEDURE [dbo].[usp_GetSageFrameUserList]
AS
BEGIN
SELECT UserName From dbo.PortalUser
END



GO
