
GO
/****** Object:  StoredProcedure [dbo].[usp_ac_getAllFinancialAcForGrid]    Script Date: 10/13/2017 4:10:10 PM ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE PROC [dbo].[usp_ac_getAllFinancialAcForGrid] 
AS
DECLARe @table table(FinancialAcID int, [Name] nvarchar(256), PFinancialAcID int,[level] int, Items VARCHAR(MAX))
;WITH Hierarchy(FinancialAcID, [Name], PFinancialAcID, Parents,[level])
AS
(
    SELECT FinancialAcID, [Name], PFinancialAcID, CAST(FinancialAcID AS VARCHAR(MAX)),0
        FROM Ac_FinancialAc AS FirtGeneration
        WHERE isnull(PFinancialAcID,0)=0
    UNION ALL
    SELECT NextGeneration.FinancialAcID, NextGeneration.[Name], Parent.FinancialAcID,
    CAST(CASE WHEN Parent.Parents = ''
        THEN(CAST(NextGeneration.FinancialAcID AS VARCHAR(MAX)))
        ELSE(Parent.Parents + '.' + CAST(NextGeneration.PFinancialAcID AS VARCHAR(MAX)))
    END AS VARCHAR(MAX)), [level]+1
        FROM Ac_FinancialAc AS NextGeneration
        INNER JOIN Hierarchy AS Parent ON NextGeneration.PFinancialAcID = Parent.FinancialAcID    
)
insert into @table SELECT FinancialAcID,[Name],PFinancialAcID,[level],CASE [level] when 0 then [Name] else REPLICATE('- - ',[level])+' '+[Name] end  [Items]--,*
    FROM Hierarchy order by Parents+'.'+CAST(FinancialAcID as varchar(20))
OPTION(MAXRECURSION 32767);
select t.FinancialAcID
,t.[Name] FinancialAcName
,ISNULL(FaP.[Name],'Root') as    PFinancialAcName
,Fs.[Name] FinancialSysName
,Fs.IsGroup
,Fs.FinancialSysID
,t.PFinancialAcID 
,t.[level]
,t.Items
,Fa.AddedBy
,Fa.AddedOn
, ISNULL(Fa.OpeningBalance,0) as OpeningBalance
from @table t
inner join Ac_FinancialAc Fa on t.FinancialAcID = Fa.FinancialAcID and Fa.IsArchived = 0
left join Ac_FinancialAc FaP on t.PFinancialAcID = FaP.FinancialAcID
inner join Ac_FinancialSys Fs on Fa.FinancialSysID = Fs.FinancialSysID
--*********************sp_9*******************

GO
