
GO
/****** Object:  StoredProcedure [dbo].[sp_SettingAdd]    Script Date: 10/13/2017 4:10:10 PM ******/
SET ANSI_NULLS OFF
GO
SET QUOTED_IDENTIFIER ON
GO

CREATE PROCEDURE [dbo].[sp_SettingAdd]
 @SettingID INT = NULL OUTPUT,
 @Name NVARCHAR(200),
 @Value NVARCHAR(2000),
 @Description NTEXT
AS

INSERT INTO [dbo].[Setting] (
 [Name],
 [Value],
 [Description]
) VALUES (
 @Name,
 @Value,
 @Description
)

SET @SettingID= SCOPE_IDENTITY()



GO
