
GO
/****** Object:  StoredProcedure [dbo].[usp_venderForDropDown]    Script Date: 10/13/2017 4:10:11 PM ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
create procedure [dbo].[usp_venderForDropDown]
as
select * from dbo.RO_LoyaltyMembership where IsCustomer=0


GO
