
GO
/****** Object:  StoredProcedure [dbo].[usp_SEOGetRobots]    Script Date: 10/13/2017 4:10:10 PM ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO

CREATE PROCEDURE [dbo].[usp_SEOGetRobots] 
@PortalID INT
AS
BEGIN   
SELECT PageName,TabPath,SEOName,Description FROM [dbo].[Pages] WHERE PortalID =  @PortalID and Isdeleted =0
END



GO
