
GO
/****** Object:  StoredProcedure [dbo].[USP_RO_SAVEMEMBERSHIP]    Script Date: 10/13/2017 4:10:10 PM ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE PROCEDURE [dbo].[USP_RO_SAVEMEMBERSHIP]
(
	@MembershipID INT,
	@Fname     nvarchar  (256)   ,
	@Lname     nvarchar  (256)   ,
	@Address     nvarchar  (256)   ,
	@City     nvarchar  (256)   ,
	@Country     nvarchar  (256)   ,
	@TelHome     nvarchar  (256)   ,
	@TelWork     nvarchar  (256)   ,
	@TelMobile     nvarchar  (256)   ,
	@Email     nvarchar  (256)   ,
	@Occupation     nvarchar  (256)   ,
	@Company     nvarchar  (256)=null   ,
	@Birthday     nvarchar  (256)=null   ,
	@Anniversary     nvarchar  (256)=null  ,
	@CardNumber nvarchar  (256)=null  ,
	@DateOfIssue nvarchar(256)=null,
	@DateOfExpire nvarchar(256)=null,
	@discount decimal(18, 0)=null,
	@PAN nvarchar(500),
	@IsCustomer bit,
	@isvat bit
)
AS
--select * from RO_LoyaltyMembership
--declare @IsCustomer bit
--if(@PAN=0)
--set @IsCustomer=1
--else
--set @IsCustomer=0
	IF(@MembershipID = 0)
			BEGIN
			INSERT INTO RO_LoyaltyMembership (
				Fname        ,
				Lname        ,
				Address        ,
				City        ,
				Country        ,
				TelHome        ,
				TelWork        ,
				TelMobile        ,
				Email        ,
				Occupation        ,
				Company        ,
				Birthday        ,
				Anniversary    ,
				CardNumber ,
				DateOfIssue   ,
				DateOfExpire,
				discount,
				PAN,
				IsCustomer,
				RemainingBalance
				,isvat )

			values
			(@Fname        ,
				@Lname      ,
				@Address      ,
				@City      ,
				@Country      ,
				@TelHome      ,
				@TelWork      ,
				@TelMobile        ,
				@Email        ,
				@Occupation        ,
				@Company        ,
				@Birthday        ,
				@Anniversary   ,  
				@CardNumber ,
				@DateOfIssue   ,
				@DateOfExpire,
				@discount ,
				@PAN,
				@IsCustomer,
				'0',
				@isvat )
				END

	
		ELSE
		BEGIN
		UPDATE RO_LoyaltyMembership SET 
		Fname = @Fname,
		Lname = @Lname,
		Address = @Address,
		City= @City      ,
		Country		 =	@Country      ,
		TelHome		 =	@TelHome      ,
		TelWork		=	@TelWork      ,
		TelMobile	=	@TelMobile        ,
		Email		=	@Email        ,
		Occupation	=	@Occupation        ,
		Company		=	@Company        ,
		Birthday	=	@Birthday        ,
		Anniversary	=	@Anniversary   ,  
		CardNumber 	=	@CardNumber ,
		DateOfIssue	=	@DateOfIssue   ,
		DateOfExpire =	@DateOfExpire,
		discount  	=	@discount,
		PAN=@PAN,
		IsCustomer=@IsCustomer,
		IsVat = @isvat
		where MembershipID= @MembershipID

		END


GO
