
GO
/****** Object:  StoredProcedure [dbo].[USP_RO_getItemForApi]    Script Date: 10/13/2017 4:10:10 PM ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE PROCEDURE [dbo].[USP_RO_getItemForApi]  
AS  
BEGIN  
select m.ITID as ItemId, m.ITName as ItemName,m.PITId as PItemId, d.Details,  
d.ITCode as ItemCode,d.ImagePath,d.ItemCostCentreID as CostCenterID,d.MUnitId,d.DSUnitId,d.DPUnitId,d.IsExpirable,IsProdMaterial,  
d.ROrderLevel as Level,d.IsUnitWiseRate, r.SRate as SRate, cu.CurrencyName as Currency, 0 as IsCombo
,m.IsCategory

 from ROI_ITEMMain m    
inner join ROI_ItemDetails d on d.ITId = m.ITId  
left join ROI_ItemRate r on r.ItemID = m.ITId  
left join RO_CompanyInfo c on c.ID=5  
left join RO_Currency cu on cu.CurrencyID = c.CurrencyID   
where m.IsArchived=0 
--and d.IsProdMaterial=0   
and m.IsMenu = 1    
and ISNULL(m.IsActive,1) = 1  
--order by m.ITName asc  
union  all  
select m.ComboID as ItemId, m.Name as ItemName,0 as PItemId,m.[Description]  Details,  
m.ComboCode as ItemCode,m.ImagePath as ImagePath,m.CostCenterID,0 MUnitId,0 DSUnitId,0 DPUnitId,0 IsExpirable, 0 IsProdMaterial,  
0 as Level,0 IsUnitWiseRate, m.SalesPrice as SRate, 'NRS' as Currency, 1 as IsCombo
,0
 from RO_Combo m    
--inner join RO_ComboDetails d on d.ComboID = m.ComboID   
where IsActive = 1 and IsDeleted = 0  
  
end  
--where r.SRate IS NOT NULL   
 --and d.IsProdMaterial= 0   
  


GO
