
GO
/****** Object:  StoredProcedure [dbo].[USP_AC_deleteVoucherTypeByID]    Script Date: 10/13/2017 4:10:10 PM ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE PROC [dbo].[USP_AC_deleteVoucherTypeByID] @VoucherTypeID INT
	,@ArchivedBy NVARCHAR(256)
AS
UPDATE Ac_VoucherType
SET [IsArchived] = 1
	,[ArchivedBy] = @ArchivedBy
	,[ArchivedOn] = GETDATE()
WHERE [VoucherTypeID] = @VoucherTypeID


GO
