
GO
/****** Object:  StoredProcedure [dbo].[usp_FileManagerGetFolders]    Script Date: 10/13/2017 4:10:10 PM ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO

CREATE PROCEDURE [dbo].[usp_FileManagerGetFolders]
AS
BEGIN
SELECT [FolderID]
      ,[PortalID]
      ,[FolderPath]
      ,[StorageLocation]
      ,[IsProtected]
      ,[IsCached]
      ,[UniqueId]
      ,[VersionGuid]
      ,[IsActive]
      ,[IsDeleted]
      ,[IsModified]
      ,[AddedOn]
      ,[UpdatedOn]
      ,[DeletedOn]
      ,[AddedBy]
      ,[UpdatedBy]
      ,[DeletedBy]
  FROM [dbo].[Folder]
  WHERE IsRoot=0
END;



GO
