
GO
/****** Object:  StoredProcedure [dbo].[usp_ac_deleteFinancialAcByID]    Script Date: 10/13/2017 4:10:10 PM ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
--select * from Ac_FinancialAc
CREATE proc [dbo].[usp_ac_deleteFinancialAcByID]
@id int ,
@username nvarchar(256)
as
--declare @username nvarchar(256)
update Ac_FinancialAc set IsArchived=1,ArchivedOn=getdate(),ArchivedBy=@username where FinancialAcID=@id

GO
