
GO
/****** Object:  StoredProcedure [dbo].[usp_CTransaction_Insert]    Script Date: 10/13/2017 4:10:10 PM ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE procedure [dbo].[usp_CTransaction_Insert]
			@CPBalID int output
           ,@CID int
           ,@IsOpening bit
           ,@Amount nchar(10)
           ,@NCPID int
           ,@Date datetime
           ,@CostCenterID int
           ,@OCPID int
		   as
INSERT INTO [dbo].[tbl_CTransaction]
           ([CID]
           ,[IsOpening]
           ,[Amount]
           ,[NCPID]
           ,[Date]
           ,[CostCenterID]
           ,[OCPID])
     VALUES
           (@CID
		   ,@IsOpening
		   ,@Amount
		   ,@NCPID
		   ,@Date
		   ,@CostCenterID
		   ,@OCPID
		   )
Select @@IDENTITY



GO
