
GO
/****** Object:  StoredProcedure [dbo].[USP_DELETE_ITEMBALANCE]    Script Date: 10/13/2017 4:10:10 PM ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE PROCEDURE [dbo].[USP_DELETE_ITEMBALANCE]
@ItemBalID INT
AS
BEGIN

DELETE from dbo.ROI_ITEMBal where ItemBalID = @ItemBalID

END


GO
