
GO
/****** Object:  StoredProcedure [dbo].[usp_NewsRssContentUpdate]    Script Date: 10/13/2017 4:10:10 PM ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO

CREATE PROCEDURE [dbo].[usp_NewsRssContentUpdate]
@NewsContent TEXT
AS
BEGIN
 SET NOCOUNT ON;
  BEGIN TRAN
   DELETE FROM 
    dbo.NewsRssContent
   IF(@@ERROR<>0) 
    GOTO ErrorHandler     
   INSERT INTO 
    dbo.NewsRssContent
         (
          NewsContent,
          UpdatedDate
         ) 
        VALUES
         (
          @NewsContent,
          GETDATE()
         )
   IF(@@ERROR<>0) 
    GOTO ErrorHandler
  COMMIT TRAN
  RETURN 0

  ERRORHANDLER:
   ROLLBACK TRAN
  RETURN 1    
END



GO
