
GO
/****** Object:  StoredProcedure [dbo].[usp_ac_CheckForDisplayChequeNo]    Script Date: 10/13/2017 4:10:10 PM ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
create proc [dbo].[usp_ac_CheckForDisplayChequeNo]
@FinancialAcID int
as
--declare @FinancialAcID int=2
declare @ischeque bit

if((select FinancialSysID from Ac_FinancialAc where FinancialAcID=@FinancialAcID)=4)
begin
set @ischeque=1
select @ischeque as ischeque
end
else
begin
set @ischeque=0
select @ischeque as ischeque
end
--***************sp_12*************

GO
