
GO
/****** Object:  StoredProcedure [dbo].[USP_RO_GetItemByCategoryID]    Script Date: 10/13/2017 4:10:10 PM ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
--[dbo].[USP_RO_GetItemByCategoryID] 2
CREATE PROCEDURE [dbo].[USP_RO_GetItemByCategoryID] @CategoriesID INT
AS
--select * from RO_Items where CategoryID = @CategoriesID
SELECT m.ITID AS ItemId
	,m.ITName AS ItemName
	,m.PITId AS PItemId
	,d.ROrderLevel AS LEVEL
	,d.ImagePath
	,ir.SRate
FROM ROI_ITEMMain m
INNER JOIN ROI_ItemDetails d ON d.ITId = m.ITId
INNER JOIN ROI_ItemRate ir ON ir.ItemID = m.ITId
WHERE m.PITId = @CategoriesID
	AND m.IsArchived = 0
	AND m.IsMenu = 1


GO
