
GO
/****** Object:  StoredProcedure [dbo].[usp_getfiscalYear]    Script Date: 10/13/2017 4:10:10 PM ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE PROC [dbo].[usp_getfiscalYear]
AS
BEGIN
	SELECT * FROM RO_fiscalYear
END


GO
