
GO
/****** Object:  StoredProcedure [dbo].[usp_GetDailyVisit]    Script Date: 10/13/2017 4:10:10 PM ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO

CREATE PROC [dbo].[usp_GetDailyVisit] 
@DashBoardStartDate DATETIME ,
@DashBoardEndDate DATETIME
AS
BEGIN
SELECT   DATENAME(YEAR,[start]) +  '-' + CAST(DATEPART(MONTH,[start])
AS NVARCHAR(4))+  '-' + CAST(DATEPART(DAY,[start]) 
         AS VARCHAR(4)) AS VisitedDate,
        COUNT(*) AS [VisitTime]
        FROM    SessionTracker  
        WHERE [start] BETWEEN @DashBoardStartDate AND @DashBoardEndDate
        GROUP BY  DATENAME(YEAR,[start]) +  '-' +CAST(DATEPART(MONTH,[start])
AS NVARCHAR(4)) + '-' + CAST(DATEPART(DAY,[start]) AS VARCHAR(4))
ORDER BY [VisitTime]
DESC
END



GO
