
GO
/****** Object:  StoredProcedure [dbo].[usp_roi_goodsreceive]    Script Date: 10/13/2017 4:10:10 PM ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
  --[dbo].[usp_roi_goodsreceive] 'PO_41'
CREATE procedure [dbo].[usp_roi_goodsreceive]  
@PONO nvarchar(250)  
as  
begin  
SELECT  PD.ItemID,  
  PD.PurchaseDetailsID,  
  IM.ITName,  
  PD.Quentity,  
  PD.Quentity -sum (ISNULL(GD.Qnty,0)) as Total  
  ,u1.Symbol
  ,isnull(pd.conversion,1) as conversion
 FROM DBO.ROI_PurchaseDetails PD  
 INNER JOIN DBO.ROI_PurchaseMain PM ON PM.PurchaseMainID = PD.PurchaseMainID  
 INNER JOIN DBO.ROI_ITEMMain IM ON IM.ITId = PD.ItemID  
 LEFT JOIN DBO.RO_GoodsReceivedDetls GD ON GD.PDId = PD.PurchaseDetailsID
 left join ROI_Unit1 u1 on u1.Unit1Id=pd.UsedUnitID
  where pm.PuNo = @PONO  
 GROUP BY  PD.ItemID,PD.PurchaseDetailsID,IM.ITName,PD.Quentity, pd.conversion ,u1.Symbol 
end  

GO
