
GO
/****** Object:  StoredProcedure [dbo].[usp_sftemplate_GetActiveTemplate]    Script Date: 10/13/2017 4:10:11 PM ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO

CREATE PROC [dbo].[usp_sftemplate_GetActiveTemplate] (@PortalID INT) AS
 BEGIN
   SELECT TemplateName
   FROM sftemplate       
   WHERE PortalID =@PortalID 
 END



GO
