
GO
/****** Object:  StoredProcedure [dbo].[USP_AC_getTempTransactionList]    Script Date: 10/13/2017 4:10:10 PM ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE proc [dbo].[USP_AC_getTempTransactionList]
as
select tt.TransactionID,sum(ttd.Debit) as totalDebit,sum(ttd.Credit) as totalCredit,vt.VoucherName,tt.TransactionDate
--,(fa.Name+', ') as FinancialAcName
,tt.Descriptions
,tt.VoucherNo
 from Ac_TempTransaction tt 
join Ac_TempTransactionDetail ttd on tt.TransactionID=ttd.TransactionID
join  Ac_VoucherType vt on tt.VoucherTypeID=vt.VoucherTypeID
join Ac_FinancialAc fa on fa.FinancialAcID=ttd.FinancialAcID
where tt.IsDeleted=0 and isverified=0
 group by tt.TransactionID, vt.VoucherName,tt.TransactionDate,tt.VoucherNo
 --,fa.Name
 , tt.Descriptions 

GO
