
GO
/****** Object:  StoredProcedure [dbo].[usp_FileManagerDeleteRootFolder]    Script Date: 10/13/2017 4:10:10 PM ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO

CREATE PROCEDURE [dbo].[usp_FileManagerDeleteRootFolder]
 @FolderID INT
AS
BEGIN
 DELETE FROM [File]
 WHERE FolderID=@FolderID
 DELETE FROM Folder
 WHERE FolderID=@FolderID
END



GO
