
GO
/****** Object:  StoredProcedure [dbo].[RO_GET_UNIT]    Script Date: 10/13/2017 4:10:10 PM ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE proc [dbo].[RO_GET_UNIT]
as
begin
 select * from FGetUnitTB()
end



GO
