
GO
/****** Object:  StoredProcedure [dbo].[ROI_GetUnitByUNITID]    Script Date: 10/13/2017 4:10:10 PM ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREate procedure [dbo].[ROI_GetUnitByUNITID] 
@muid int
as
begin
select FUnit, SUnit from dbo.FGetUnitTB() WHERE UnitId = @muid
end





GO
