
GO
/****** Object:  StoredProcedure [dbo].[ROI_UNIT1DELETE]    Script Date: 10/13/2017 4:10:10 PM ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE PROC [dbo].[ROI_UNIT1DELETE]
@Unit1Id INT
AS
BEGIN
DELETE FROM ROI_Unit1 WHERE Unit1Id = @Unit1Id
END

SELECT * FROM ROI_Unit1


GO
