
GO
/****** Object:  StoredProcedure [dbo].[USP_RO_SAVECARDPROVIDER]    Script Date: 10/13/2017 4:10:10 PM ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO


Create proc [dbo].[USP_RO_SAVECARDPROVIDER]
@ProviderID int,
@ProviderName varchar(128),
@Description nvarchar(256)
as
begin
	if(@ProviderID=0)
	begin
	insert into RO_CardProvider (ProviderName, Description) values (@ProviderName, @Description)
--	insert into RO_CardProvider(Pro, restroRoomId, Seatcap, restrotablesStatusID) values(@restrotableTitle, @restroRoomId, @SeatNo, 6)
	end
	else
	begin
		update RO_CardProvider set
		ProviderName=@ProviderName,
		Description = @Description
		where ProviderID=@ProviderID
	end
end




GO
