
GO
/****** Object:  StoredProcedure [dbo].[USP_ROI_EditAdjustmentType]    Script Date: 10/13/2017 4:10:10 PM ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
create procedure [dbo].[USP_ROI_EditAdjustmentType]
@TypeId int ,
@AdjustmentTypeName nvarchar(max),
@IsActive int,
@Username nvarchar(max)
as
update Ro_AdjustmentType
 set 
 AdjustmentTypeName=@AdjustmentTypeName
,IsActive=@IsActive
,UpdatedBy=@Username
,UpdatedOn=GETDATE()

where AdjustmentTypeID = @TypeId

GO
