
GO
/****** Object:  StoredProcedure [dbo].[usp_ROI_Purchase_Listing]    Script Date: 10/13/2017 4:10:10 PM ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE procedure [dbo].[usp_ROI_Purchase_Listing]
as
select *, ISNULL(dbm.Vid, 0 ) as vender from ROI_PurchaseMain dbm 

left join RO_LoyaltyMembership dblm on dbm.Vid=dblm.MembershipID


--select *, ISNULL(dbd.Quentity, 0 ) as quantity,ISNULL(dbm.Vid, 0 ) as vender from [ROI_PurchaseDetails] dbd 
--left join [RestrOrder].[dbo]. ROI_PurchaseMain dbm on dbm.PurchaseMainID=dbd.PurchaseMainID 
--left join [RestrOrder].[dbo].[ROI_PurchaseLotNo] dbl on dbd.PurchaseDetailsID=dbl.PurchaseDetailsID 
--left join [RestrOrder].[dbo].[ROI_ITEMMain] dbim on dbim.ITId=dbd.ItemID
--left join RO_LoyaltyMembership dblm on dbm.Vid=dblm.MembershipID
--left join RO_Units dbu on dbu.UnitID=dbd.UsedUnitID



--select * from ROI_PurchaseDetails
--select * from RO_LoyaltyMembership






GO
