
GO
/****** Object:  StoredProcedure [dbo].[USPDELETEALREADYDATA]    Script Date: 10/13/2017 4:10:11 PM ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE procedure [dbo].[USPDELETEALREADYDATA]
@ProductionInstantID INT
AS
BEGIN
DELETE FROM PR_RawUsed WHERE ProductionInstantID = @ProductionInstantID
DELETE FROM PR_ProductRelease WHERE ProductionInstantID = @ProductionInstantID
DELETE FROM PR_ProductionInstant WHERE ProductionInstantID = @ProductionInstantID

END

GO
