
GO
/****** Object:  StoredProcedure [dbo].[usp_ro_getOrderDetailByOrderMasterID]    Script Date: 10/13/2017 4:10:10 PM ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO

CREATE procedure [dbo].[usp_ro_getOrderDetailByOrderMasterID]
@OrderMasterID int
as

SELECT od.ROI_ItemId as ItemID,id.ITName as Item, od.Quantity,om.UserName as OrderBy
  FROM RO_Order_Detail od
  inner join RO_OrderMasters om
  on om.OrderMasterID=od.OrderMasterId
  inner join ROI_ITEMMain id
  on id.ITId=od.ROI_ItemId
  where od.OrderMasterId=@OrderMasterID


GO
