
GO
/****** Object:  StoredProcedure [dbo].[usp_SortAdminPages]    Script Date: 10/13/2017 4:10:11 PM ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO

CREATE PROC [dbo].[usp_SortAdminPages]
( @PageID INT,
 @PageOrder INT,
 @PortalID INT) AS
BEGIN
 UPDATE PAGES
SET PageOrder =@PageOrder
WHERE
 PageID =@PageID  
END



GO
