
GO
/****** Object:  StoredProcedure [dbo].[usp_CounterTotal_getdata]    Script Date: 10/13/2017 4:10:10 PM ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO

CREATE procedure [dbo].[usp_CounterTotal_getdata]
as
SELECT [CTID]
      ,[Balance]
      ,[IsClosing]
      ,[DifAmount]
      ,[CID]
	  ,us.Username as ApprovedBy
	  ,cc.CostCenterName as CCID
  FROM [dbo].[tbl_CounterTotal] ct
  left join Users us on ct.ApprovedBy=us.UserID
  left join CostCenterInfo cc on cc.CostCenterId=ct.CCID
  where ct.[Date]=convert(date,GETDATE())



GO
