
GO
/****** Object:  StoredProcedure [dbo].[usp_CostCenterSaveData]    Script Date: 10/13/2017 4:10:10 PM ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE PROCEDURE [dbo].[usp_CostCenterSaveData]
@CostCenterId INT,
@CostCenterName NVARCHAR(50),
@Username NVARCHAR(50),
@DefaultPrinter NVARCHAR(50),
@coDiscount DECIMAL(8,2),
@NumberOfCounter int
--,@store int
AS

BEGIN

IF(@CostCenterId = 0)
begin
INSERT INTO dbo.CostCenterInfo
        ( CostCenterName,
          CostCenterAddedDate ,
          CostCenterAddedBy,
		  DefaultPrinter,
		  coDiscount,
		  NumberOfCounter
		  --,StoreId
        )
VALUES  (@CostCenterName , -- CostCenterName - nvarchar(50)
          GETDATE() , -- CostCenterAddedDate - datetime
          @Username,  -- CostCenterAddedBy - nvarchar(50)
		  @DefaultPrinter,
		  @coDiscount,
		  @NumberOfCounter
		 -- ,@store
		)
		end
else 
begin

update CostCenterInfo set 
CostCenterName = @CostCenterName,
CostCenterAddedDate = GETDATE(),
CostCenterAddedBy = @Username,
DefaultPrinter = @DefaultPrinter,
coDiscount = @coDiscount,
NumberOfCounter=@NumberOfCounter
--,StoreId=@store
where CostCenterInfo.CostCenterId = @CostCenterId
end 
end




GO
