
GO
/****** Object:  StoredProcedure [dbo].[USP_AC_getVoucherTypeList]    Script Date: 10/13/2017 4:10:10 PM ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE proc [dbo].[USP_AC_getVoucherTypeList]
as
select VoucherTypeID,VoucherName,Prefix from Ac_VoucherType
where IsArchived=0

GO
