
GO
/****** Object:  StoredProcedure [dbo].[USP_PO_SAVIssueDETAILS]    Script Date: 10/13/2017 4:10:10 PM ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE PROCEDURE [dbo].[USP_PO_SAVIssueDETAILS] 
	@IMId INT
	,@ITID INT
	,@UsedUnitId INT
	,@Qnty BIGINT
	,@QntyInText VARCHAR(250)
	,@ReceivedBy VARCHAR(250)
	,@ReceivedOn DATETIME,
	@IssuedToSTId int,
	@IssuedFrSTId int
AS
BEGIN
DECLARE @ItemCount int =0
	SELECT @ItemCount = count(1) FROM ROI_ITEMBal WHERE ITId = @ITID AND STId = @IssuedFrSTId
	set @ItemCount = isnull(@ItemCount,0)
	if @ItemCount >= 1
	update ROI_ITEMBal set CLBal = CLBal-@Qnty where ITId = @ITID AND STId = @IssuedFrSTId
	else
		INSERT INTO ROI_ITEMBal (
		ITId
		,PDId
		,STId
		,CLBal
		,OPBal
		)
	VALUES (
		@ITId
		,'0'
		,@IssuedFrSTId
		,-@Qnty
		,0
		)
		set @ItemCount = 0
	SELECT @ItemCount = count(1) FROM ROI_ITEMBal WHERE ITId = @ITID AND STId = @IssuedToSTId
	set @ItemCount = isnull(@ItemCount,0)
	if @ItemCount >= 1
	update ROI_ITEMBal set CLBal = CLBal+@Qnty where ITId = @ITID AND STId = @IssuedToSTId
	else
		INSERT INTO ROI_ITEMBal (
		ITId
		,PDId
		,STId
		,CLBal
		,OPBal
		)
	VALUES (
		@ITId
		,'0'
		,@IssuedFrSTId
		,@Qnty
		,0
		)



	INSERT INTO dbo.ROI_IssueDetails (
		IMId
		,ITID
		,UsedUnitId
		,Qnty
		,QntyInText
		,ReceivedBy
		,ReceivedOn
		)
	VALUES (
		@IMId
		,@ITID
		,@UsedUnitId
		,@Qnty
		,@QntyInText
		,@ReceivedBy
		,@ReceivedOn
		)
END

GO
