
GO
/****** Object:  StoredProcedure [dbo].[USP_CancelledBillREPORTBtoday]    Script Date: 10/13/2017 4:10:10 PM ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
--[dbo].[USP_CancelledBillREPORTBtoday] '09/13/2017'
CREATE PROCEDURE [dbo].[USP_CancelledBillREPORTBtoday] 
@startdate DateTime,
@enddate datetime
AS
BEGIN
select 
cast(CONVERT(VARCHAR(16),om.BillDate,20) as varchar(120)) as BillDate,
om.NetAmount,
om.Waiter,
rt.restrotableTitle,
rr.restroRoom
,'RO'+convert(nvarchar(10),(SELECT fyName
			FROM dbo.ro_fiscalyear fy
			WHERE fy.fyid = om.fiscalyearid))
			+'-'+convert(nvarchar(10),(om.InvoiceNo - (
			SELECT fy.firstsalesmasterid
			FROM dbo.ro_fiscalyear fy
			WHERE fy.fyid = om.fiscalyearid)
			)
		) as billNo
,om.TableId
,salesMasterId
,om.OrderMasterId
--,om.PrintCount
,om.Reasons
,om.ArchivedBy
,om.IsArchived
--,cast(om.ArchivedOn as Date) as ArchivedOn
,om.ArchivedOn
 from dbo.RO_SalesMaster om
  left join dbo.RO_restroTable rt on rt.restrotableId = om.TableId
 left join RO_RestroRoom rr on rr.restroRoomId=om.RoomId
 where --cast(om.ArchivedOn as Date)=@startdate 
 (
			om.BillDate BETWEEN @startDate
				AND @endDate
			)
 and om.IsArchived=1 order by BillDate desc
 -- where CONVERT(date,om.BillDate)=CONVERT(DATE,getdate())
 END
 --select *  from dbo.RO_SalesMaster om left join dbo.RO_restroTable rt on rt.restrotableId = om.TableId left join RO_RestroRoom rr on rr.restroRoomId=om.RoomId



GO
