
GO
/****** Object:  StoredProcedure [dbo].[usp_ModuleWebInfoDelete]    Script Date: 10/13/2017 4:10:10 PM ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO

CREATE PROCEDURE [dbo].[usp_ModuleWebInfoDelete] 
AS
BEGIN
 DELETE FROM 
  [dbo].[ModuleWebInfo]
END



GO
