
GO
/****** Object:  StoredProcedure [dbo].[USP_UPDATE_MembershipBalance]    Script Date: 10/13/2017 4:10:11 PM ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE PROCEDURE [dbo].[USP_UPDATE_MembershipBalance] (
	@MembershipID INT
	,@RemainingBalance DECIMAL(16, 2)
	,@PayAmount DECIMAL(16, 2)
	,@AddedBy NVARCHAR(256)
	)
AS
BEGIN
	UPDATE RO_LoyaltyMembership
	SET RemainingBalance = @RemainingBalance
	WHERE MembershipID = @MembershipID

	INSERT INTO [dbo].[RO_MemberPay] (
		[MemberID]
		,[RemainingAmount]
		,[PayAmount]
		,[AddedOn]
		,[AddedBy]
		,[IsActive]
		)
	VALUES (
		@MembershipID
		,@RemainingBalance
		,@PayAmount
		,GETDATE()
		,@AddedBy
		,1
		)
END
	--select * from tbl_cus_credit


GO
