
GO
/****** Object:  StoredProcedure [dbo].[usp_DashboardSidebarDelete]    Script Date: 10/13/2017 4:10:10 PM ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO

CREATE proc [dbo].[usp_DashboardSidebarDelete]
@SidebarItemID INT
AS
BEGIN
 DELETE FROM [dbo].[DashboardSidebar] WHERE ParentID=@SidebarItemID
 DELETE FROM [dbo].[DashboardSidebar] WHERE SidebarItemID=@SidebarItemID
END



GO
