
GO
/****** Object:  StoredProcedure [dbo].[USP_RO_GETCUMBO]    Script Date: 10/13/2017 4:10:10 PM ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE PROCEDURE [dbo].[USP_RO_GETCUMBO]  
AS  
BEGIN  
 SELECT [ComboID]  
      ,[Name]  
      ,[ImagePath],  
   ComboCode,  
   CONVERT(VARCHAR(10),[StartDate],102) as StartDatee  
      ,CONVERT(VARCHAR(10),[EndDate],102) as EndDatee   
      ,[SalesPrice]  
      ,[ItemsSalesCost]  
      ,[IsActive]  
      ,[AddedBy]  
      ,[IsDeleted]  
                
 FROM [dbo].[RO_Combo] where IsDeleted = 0   
END  
  
--select * from [RO_Combo]  
  
  
  

GO
