
GO
/****** Object:  StoredProcedure [dbo].[sp_GetUserLastName]    Script Date: 10/13/2017 4:10:10 PM ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO

-- =============================================
-- Author:  
-- Create date: 2010-04-15
-- Description: <Description,,>
-- =============================================
CREATE PROCEDURE [dbo].[sp_GetUserLastName]
@UserName NVARCHAR(256),
@PortalID INT
AS
BEGIN
SELECT LastName FROM
dbo.Users
WHERE PortalID=@PortalId AND Username=@UserName
END



GO
