
GO
/****** Object:  StoredProcedure [dbo].[usp_topLists]    Script Date: 10/13/2017 4:10:11 PM ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO

CREATE proc [dbo].[usp_topLists]
as
SELECT 'Total' as itname, sum(sd.qty) AS cntItem,1 as [order]
from RO_SalesMaster sm
	left join RO_SalesDetail sd on sd.salesMasterId = sm.salesMasterId 
	left join ROI_ITEMMain I ON I.ITId = sd.ItemId 
	where  cast(BillDate as date) = convert(varchar(10), getdate(),102) and sm.IsArchived=0 union
SELECT top 6 i.itname, sum(sd.qty) AS cntItem,2 as [order]
from RO_SalesMaster sm
	left join RO_SalesDetail sd on sd.salesMasterId = sm.salesMasterId 
	left join ROI_ITEMMain I ON I.ITId = sd.ItemId 
	where  cast(BillDate as date) = convert(varchar(10), getdate(),102) and sm.IsArchived=0 
GROUP BY i.itname

--ORDER BY Count(DISTINCT i.ITId) desc
ORDER BY cntItem desc, [order] asc


GO
