
GO
/****** Object:  StoredProcedure [dbo].[usp_PageMenuUpdate]    Script Date: 10/13/2017 4:10:10 PM ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO

CREATE PROCEDURE [dbo].[usp_PageMenuUpdate]
@PageID INT,
@PortalID INT,
@IsAdmin BIT,
@IsFooter BIT
AS
BEGIN
SET NOCOUNT ON;
 UPDATE [dbo].[PageMenu]
 SET IsAdmin=@IsAdmin,IsFooter=@IsFooter
 WHERE
 PageID=@PageID
END



GO
