
GO
/****** Object:  StoredProcedure [dbo].[USP_RO_GetCategoriesBymenuID]    Script Date: 10/13/2017 4:10:10 PM ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
--  GetItemByCategoryID
--  [USP_RO_GetCategoriesBymenuID]   1
CREATE PROCEDURE [dbo].[USP_RO_GetCategoriesBymenuID] @MenuId INT
AS
--select * from RO_Categories where MenuID = @MenuId  
SELECT m.ITID AS ItemId
	,m.ITName AS ItemName
	,m.PITId AS PItemId
	,d.ROrderLevel AS LEVEL
	,d.ImagePath
	,m.IsCategory
	,ir.SRate
FROM ROI_ITEMMain m
INNER JOIN ROI_ItemDetails d ON d.ITId = m.ITId
--left join ROI_ITEMMain m1 on m.ITId = m1.PITId
INNER JOIN ROI_ItemRate ir ON ir.ItemID = m.ITId
WHERE m.PITId = @MenuId
	AND m.IsArchived = 0
	AND m.IsMenu = 1


GO
