
GO
/****** Object:  StoredProcedure [dbo].[USP_GetVenderReportByDate]    Script Date: 10/13/2017 4:10:10 PM ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
--USP_GetVenderReportByDate '8/01/2017','08/27/2017',0
CREATE procedure [dbo].[USP_GetVenderReportByDate] 
@DateFrom nvarchar(max),
@DateTo nvarchar(max),
@VenderId int
as

-- select * from RO_GoodsReceivedDetls
-- select * from RO_GoodsReceivedMain

--select * from ROI_PurchaseDetails
--select * from ROI_PurchaseMain

if(@VenderId = 0)
begin

select 
pm.PurchaseMainID,PM.PuNo,PM.PbDate,PM.IvNo,PM.Vid,lm.Fname,PD.ItemID,itm.ITName,PD.UsedUnitID,PD.Quentity as PurchaseQuantity,PD.UnitRate
,gr.PDId,sum(gr.Qnty) GoodReceivedQuantity,PD.Quentity-sum(gr.Qnty) Remaining,ru.Symbol as Description
from ROI_PurchaseMain pm
inner join ROI_PurchaseDetails PD on PM.PurchaseMainID = PD.PurchaseMainID
inner join ROI_ITEMMain itm on itm.ITId = pd.ItemID
inner join RO_LoyaltyMembership lm on lm.MembershipID=pm.Vid
left join RO_GoodsReceivedDetls gr on PD.PurchaseDetailsID = gr.PDId
left join ROI_ItemDetails itd on itm.ITId=itd.ITId
left join ROI_Unit1 ru on ru.Unit1Id=itd.SmallUnit
where pm.PbDate  between Cast(@DateFrom as datetime) 
and  Cast(@DateTo as datetime)
group by pm.PurchaseMainID,PM.PuNo,PM.PbDate,PM.IvNo,PM.Vid,lm.Fname,PD.ItemID,itm.ITName,PD.UsedUnitID,PD.Quentity,PD.UnitRate
,gr.PDId,ru.Symbol
end
else
begin 
select 
pm.PurchaseMainID,PM.PuNo,PM.PbDate,PM.IvNo,PM.Vid,lm.Fname,PD.ItemID,itm.ITName,PD.UsedUnitID,PD.Quentity as PurchaseQuantity,PD.UnitRate
,gr.PDId,sum(gr.Qnty) GoodReceivedQuantity,PD.Quentity-sum(gr.Qnty) Remaining,ru.Symbol as Description
from ROI_PurchaseMain pm
inner join ROI_PurchaseDetails PD on PM.PurchaseMainID = PD.PurchaseMainID
inner join ROI_ITEMMain itm on itm.ITId = pd.ItemID
inner join RO_LoyaltyMembership lm on lm.MembershipID=pm.Vid
left join RO_GoodsReceivedDetls gr on PD.PurchaseDetailsID = gr.PDId
left join ROI_ItemDetails itd on itm.ITId=itd.ITId
left join ROI_Unit1 ru on ru.Unit1Id=itd.SmallUnit
where pm.PbDate  between Cast(@DateFrom as datetime) 
and  Cast(@DateTo as datetime)
and pm.Vid=@VenderId
group by pm.PurchaseMainID,PM.PuNo,PM.PbDate,PM.IvNo,PM.Vid,lm.Fname,PD.ItemID,itm.ITName,PD.UsedUnitID,PD.Quentity,PD.UnitRate
,gr.PDId,ru.Symbol
end



GO
