
GO
/****** Object:  StoredProcedure [dbo].[sp_ModuleControlsDeleteByModuleControlID]    Script Date: 10/13/2017 4:10:10 PM ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO

-- =============================================
-- Author:  
-- Create date: <Create Date,,>
-- Description: <Description,,>
-- ============================================= 
CREATE PROCEDURE [dbo].[sp_ModuleControlsDeleteByModuleControlID]
 @ModuleControlID INT,
 @DeletedBy NVARCHAR(256)
AS
BEGIN
 UPDATE dbo.ModuleControls SET
 IsDeleted=1,
 DeletedOn=GETDATE(),
 DeletedBy=@DeletedBy
WHERE
 [ModuleControlID] = @ModuleControlID 

END



GO
