
GO
/****** Object:  StoredProcedure [dbo].[usp_SageBannerGetAllBanner]    Script Date: 10/13/2017 4:10:10 PM ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO

CREATE PROCEDURE [dbo].[usp_SageBannerGetAllBanner]
(
 @UserModuleID INT,
 @PortalID INT,
 @CultureCode NVARCHAR(10)
)
AS
BEGIN
 SELECT BannerID,BannerName FROM SageBanner WHERE UserModuleID=@UserModuleID AND PortalID=@PortalID AND CultureCode=@CultureCode
END



GO
