
GO
/****** Object:  StoredProcedure [dbo].[usp_ScheduleGetAllCount]    Script Date: 10/13/2017 4:10:10 PM ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO

CREATE PROCEDURE [dbo].[usp_ScheduleGetAllCount]
AS
BEGIN
 SELECT COUNT(*) AS RowTotal  FROM [dbo].[Schedule] 
END;



GO
