
GO
/****** Object:  StoredProcedure [dbo].[usp_NL_UnSubscribeByEmailLink]    Script Date: 10/13/2017 4:10:10 PM ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO

-- =============================================
-- Author:  <Author,,Name>
-- Create date: <Create Date,,>
-- Description: <Description,,>
-- =============================================
CREATE PROCEDURE [dbo].[usp_NL_UnSubscribeByEmailLink]
@subscriberID INT
AS
BEGIN
 UPDATE DBO.NL_EmailSubscriber 
 SET IsSubscribed=0
 WHERE SubscriberID=@subscriberID
END



GO
