
GO
/****** Object:  StoredProcedure [dbo].[USP_ROI_GettypedatabyId]    Script Date: 10/13/2017 4:10:10 PM ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
create procedure [dbo].[USP_ROI_GettypedatabyId]
@TypeId int
as
select * from Ro_AdjustmentType where AdjustmentTypeID=@TypeId

GO
