
GO
/****** Object:  StoredProcedure [dbo].[usp_CDNSaveLink]    Script Date: 10/13/2017 4:10:10 PM ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO

CREATE PROC [dbo].[usp_CDNSaveLink]
@URL NVARCHAR(500),
@IsJs BIT,
@URLOrder INT,
@PortalID INT,
@Mode NVARCHAR(5)
AS

IF(@Mode = 'A')
    BEGIN
  DECLARE @UOD INT
  IF( EXISTS (SELECT 1 FROM CDN))
   SET @UOD=(SELECT MAX(URLOrder)  FROM CDN) + 1
  ELSE
   SET  @UOD=@URLOrder

  INSERT INTO CDN(URL,IsJS,URLOrder,PortalID) VALUES(@URL,@IsJS,@UOD,@PortalID)

 END
ELSE
  BEGIN
   UPDATE CDN SET URL=@URL WHERE URLID=@Mode
  END



GO
