
GO
/****** Object:  StoredProcedure [dbo].[usp_FileManagerUpdateFile]    Script Date: 10/13/2017 4:10:10 PM ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO

CREATE PROC [dbo].[usp_FileManagerUpdateFile]
(
@FileID INT,
@FileName NVARCHAR(100)
)
AS
BEGIN
SET NOCOUNT ON;
UPDATE [File] 
SET FileName=@FileName
WHERE FileId=@FileID
END;



GO
