
GO
/****** Object:  StoredProcedure [dbo].[usp_ModuleControlGetControlTypeFromModuleID]    Script Date: 10/13/2017 4:10:10 PM ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO

CREATE PROCEDURE [dbo].[usp_ModuleControlGetControlTypeFromModuleID]
 @ModuleDefID INT

AS
BEGIN
 SELECT 
  ControlTitle,
  ControlType,
  ControlSrc 
 FROM 
  [dbo].[ModuleControls] 
 WHERE 
  ModuleDefID = @ModuleDefID 
END



GO
