
GO
/****** Object:  StoredProcedure [dbo].[usp_ModuleControlGetModuleNameFromUserModuleId]    Script Date: 10/13/2017 4:10:10 PM ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO

CREATE PROCEDURE [dbo].[usp_ModuleControlGetModuleNameFromUserModuleId]
 @UserModuleID INT

AS
BEGIN
 SELECT 
  UserModuleTitle 
 FROM 
  [dbo].[UserModules] 
 WHERE 
  UserModuleID = @UserModuleID 
END

SET ANSI_NULLS ON
SET QUOTED_IDENTIFIER ON



GO
