
GO
/****** Object:  StoredProcedure [dbo].[usp_getcompanyInfo]    Script Date: 10/13/2017 4:10:10 PM ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE PROC [dbo].[usp_getcompanyInfo]
AS
BEGIN
	SELECT ci.ID as companyId,
	ci.Name,
	ci.RegistrationNo,
	ci.Address,
	ci.Country,
	ci.Logo,
	ci.PhoneNo,
	ci.PAN,
	ci.CurrencyID
	 FROM dbo.RO_CompanyInfo ci
END


GO
