
GO
/****** Object:  StoredProcedure [dbo].[sp_ImagesGetbyPageID]    Script Date: 10/13/2017 4:10:10 PM ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO

-- =============================================
-- Author:  <Indira Sapkota>
-- Create date: <16 May 2010>
-- Description: <DashBoardModule>
-- =============================================
Create PROCEDURE [dbo].[sp_ImagesGetbyPageID] 
  @PageID int
 
AS

SELECT

 [IconFile]
 
FROM dbo.Pages
WHERE
 [PageID] = @PageID



GO
