
GO
/****** Object:  StoredProcedure [dbo].[usp_getNumberOfCounter]    Script Date: 10/13/2017 4:10:10 PM ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
--[dbo].[usp_getNumberOfCounter] 1
CREATE procedure [dbo].[usp_getNumberOfCounter]
@ccid int
as
select NumberOfCounter from dbo.CostCenterInfo where CostCenterId=@ccid


GO
