
GO
/****** Object:  StoredProcedure [dbo].[usp_deleteCompanyInfo]    Script Date: 10/13/2017 4:10:10 PM ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE PROC [dbo].[usp_deleteCompanyInfo]
 @cId INT
AS
BEGIN
	DELETE FROM dbo.RO_CompanyInfo WHERE ID=@cId
END


GO
