
GO
/****** Object:  StoredProcedure [dbo].[usp_SaveIngredientWithQuantity]    Script Date: 10/13/2017 4:10:10 PM ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
create procedure [dbo].[usp_SaveIngredientWithQuantity]
@ItemID int,
@Ingredient int,
           @Quantity int
as
if(@Ingredient not in (select Ingredient from [Ro_Ingredient] where ItemID=@ItemID))
INSERT INTO [dbo].[Ro_Ingredient]
           ([ItemID]
		   ,[ingredient]
           ,[Quantity])
     VALUES
           (@ItemID,
		   @Ingredient,
           @Quantity)
		   else
		   update [Ro_Ingredient] set Quantity=@Quantity where ItemID=@ItemID and IngredientID=@Ingredient

GO
