
GO
/****** Object:  StoredProcedure [dbo].[usp_Roi_GetDataForGroupItem]    Script Date: 10/13/2017 4:10:10 PM ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE proc [dbo].[usp_Roi_GetDataForGroupItem]
as
select 
--distinct im.ITId,
distinct ig.GroupID,
ig.GroupName,
 --gwi.ItemID,
 ig.GroupID
 ,ig.GroupName
 ,ig.GroupCode
--,im.ITName
from Roi_ItemGroup ig
join Roi_GroupWithItem gwi on ig.GroupID=gwi.GroupID
left join ROI_ITEMMain im on im.ITId=gwi.ItemID  where gwi.IsArchived=0

GO
