
GO
/****** Object:  StoredProcedure [dbo].[sp_LanguageDelete]    Script Date: 10/13/2017 4:10:10 PM ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO

CREATE PROCEDURE [dbo].[sp_LanguageDelete]
 @code  NVARCHAR(200)
AS
    DELETE
     FROM dbo.Languages
     WHERE   CultureCode = @code



GO
