
GO
/****** Object:  StoredProcedure [dbo].[usp_RO_MonthlyClosingSalesStatement]    Script Date: 10/13/2017 4:10:10 PM ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE PROC [dbo].[usp_RO_MonthlyClosingSalesStatement] @startDate DATETIME
	,@endDate DATETIME
AS
BEGIN
	--declare @startDate date='2017-08-1 0:0', @endDate date='2017-08-22 23:59'
	SELECT cast(sm.BillDate AS DATE) AS [DATE]
		,sum(1) AS [BillNo]
		,SUM(sm.BasicAmount) AS [TotalAll]
		,sum(sm.sumBev) AS BEV
		,sum(SM.sumKot) AS KOT
		,sum(sm.totaldiscount) AS [DISCOUNT]
		,sum(sm.sumBev + sm.sumKot) AS Total
		,sum(isnull(b1.Amount, 0)) AS ServiceCharge
		,sum(isnull(b2.Amount, 0)) AS TaxCharge
		,sum(sm.NetAmount) AS NetAmount
		,sum(sm.NetAmount) / sum(1) AS [SalesPerBill]
	FROM RO_SalesMaster sm
	INNER JOIN RO_BillingAmount b1 ON B1.SalesMasterID = sm.salesMasterId
		AND b1.BilingID = 62
	INNER JOIN RO_BillingAmount b2 ON B2.SalesMasterID = sm.salesMasterId
		AND b2.BilingID = 54
	WHERE
		--cast(sm.BillDate as DATE) = CAST(@DATE as date) 
		(
			sm.BillDate BETWEEN @startDate
				AND @endDate
			)
			and sm.IsArchived<>1
	GROUP BY cast(sm.BillDate AS DATE)
	ORDER BY [DATE] ASC
END


GO
