
GO
/****** Object:  StoredProcedure [dbo].[usp_roi_viewItemByID]    Script Date: 10/13/2017 4:10:10 PM ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
--[usp_roi_viewItemByID] 4707
create proc [dbo].[usp_roi_viewItemByID]
@ids int
as
select ir.SRate,ir.ValidFrom,ir.PostedBy,ir.PostedOn from ROI_ItemRate ir
where ir.ItemID=@ids

GO
