
GO
/****** Object:  StoredProcedure [dbo].[usp_ac_SaveVerifiedTransaction]    Script Date: 10/13/2017 4:10:10 PM ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE PROC [dbo].[usp_ac_SaveVerifiedTransaction] @TransactionID INT  
 ,@TransactionDate DATETIME  
 ,@VoucherTypeID INT  
 --,@VoucherNo nvarchar(256)  
 ,@Descriptions NVARCHAR(256)  
 ,@PostedBy NVARCHAR(256)  
 ,@postedOn nvarchar(256)  
 ,@verifiedBy nvarchar(256)  
AS  
begin  
  
INSERT INTO Ac_Transaction (  
 [TransactionDate]  
 ,[VoucherTypeID]  
 --,[VoucherNo]  
 ,[Descriptions]  
 ,[PostedBy]  
 ,[PostedOn]  
 ,[VerifiedOn]  
 ,[VerifiedBy]  
 )  
VALUES (  
 @TransactionDate  
 ,@VoucherTypeID  
 --,@VoucherNo  
 ,@Descriptions  
 ,@PostedBy  
 ,@postedOn  
 ,getdate()  
 ,@verifiedBy  
 )  
SELECT cast(@@IDENTITY AS INT)  
update Ac_TempTransaction set IsVerified=1 where TransactionID=@TransactionID  
update Ac_VoucherType set VoucherCount=VoucherCount+1 where VoucherTypeID =@VoucherTypeID  
  
--declare @VoucherTypeID int=1  
declare @prefix nvarchar(256)  
select  @prefix=Prefix from  Ac_VoucherType where [VoucherTypeID]=@VoucherTypeID  
  
declare @VoucherNo nvarchar(256)  
set @VoucherNo=@prefix+'-'+ convert(nvarchar(256),(select VoucherCount from Ac_VoucherType where VoucherTypeID =@VoucherTypeID))  
--select @VoucherNo,@prefix  
update Ac_Transaction set [VoucherNo]=@VoucherNo where TransactionID=@@IDENTITY  
end  
  
--select * from Ac_VoucherType  
--update Ac_TempTransaction set IsVerified=0  
--truncate table Ac_Transaction  truncate table Ac_TransactionDetail  
--select * from Ac_Transaction

GO
