
GO
/****** Object:  StoredProcedure [dbo].[usp_SageMenuSettingAddUpdate]    Script Date: 10/13/2017 4:10:10 PM ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO

CREATE PROCEDURE [dbo].[usp_SageMenuSettingAddUpdate] 
 @UserModuleID [INT],
 @SettingKey [NVARCHAR](256),
 @SettingValue [NVARCHAR](256),
 @IsActive [BIT],
 @PortalID [INT],
 @UpdatedBy [NVARCHAR](256),
 @AddedBy NVARCHAR(256)
WITH EXECUTE AS CALLER
AS
BEGIN
IF(EXISTS(SELECT * FROM dbo.SageMenuSettingValue WHERE  
 [UserModuleID] = @UserModuleID
 AND [SettingKey] = @SettingKey
 AND PortalID = @PortalID))
BEGIN
UPDATE dbo.SageMenuSettingValue SET 
 [SettingValue] = @SettingValue,
 [IsActive] = @IsActive,
 [IsModified] = 1,
 [UpdatedOn] = GETDATE(),
 [PortalID] = @PortalID,
 [UpdatedBy] = @UpdatedBy
WHERE  
 [UserModuleID] = @UserModuleID
 AND [SettingKey] = @SettingKey
 AND PortalID = @PortalID
END
ELSE
BEGIN
 INSERT INTO dbo.SageMenuSettingValue ( 
 [UserModuleID],
 [SettingKey],
 [SettingValue],
 [IsActive],
 [AddedOn],
 [PortalID],
 [AddedBy]
) VALUES (
 @UserModuleID,
 @SettingKey,
 @SettingValue,
 @IsActive,
 GETDATE(),
 @PortalID,
 @AddedBy
)
END
END



GO
