
GO
/****** Object:  StoredProcedure [dbo].[usp_UserModulePermissionDelete]    Script Date: 10/13/2017 4:10:11 PM ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO

CREATE PROC [dbo].[usp_UserModulePermissionDelete] (
 @UserModuleID INT,
 @PortalID INT
) AS
BEGIN

SET nocount ON ; DELETE
FROM
 UserModulePermission
WHERE
 UserModuleID =@UserModuleID
AND PortalID =@PortalID
END



GO
