
GO
/****** Object:  StoredProcedure [dbo].[USP_RO_DELETEROOMTYPE]    Script Date: 10/13/2017 4:10:10 PM ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE PROC [dbo].[USP_RO_DELETEROOMTYPE]
@ID INT
AS
BEGIN
DELETE FROM dbo.Ro_RoomType WHERE RoomTypeID=@ID
END



GO
