
GO
/****** Object:  StoredProcedure [dbo].[sp_GetAllPortals]    Script Date: 10/13/2017 4:10:10 PM ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO

CREATE PROCEDURE [dbo].[sp_GetAllPortals]
AS
    SELECT *
    FROM   dbo.portal



GO
