
GO
/****** Object:  StoredProcedure [dbo].[usp_DashboardSidebarGetDetails]    Script Date: 10/13/2017 4:10:10 PM ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO

CREATE PROCEDURE [dbo].[usp_DashboardSidebarGetDetails]
@SidebarItemID INT
AS 
BEGIN
 SELECT * from DashboardSidebar WHERE SidebarItemID=@SidebarItemID
END



GO
