
GO
/****** Object:  StoredProcedure [dbo].[usp_SageBannerDeleteBannerContentByID]    Script Date: 10/13/2017 4:10:10 PM ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO

CREATE PROCEDURE [dbo].[usp_SageBannerDeleteBannerContentByID] 
 @ImageId INT
AS
BEGIN
 DELETE FROM BannerImage WHERE ImageID=@ImageId
END



GO
