
GO
/****** Object:  StoredProcedure [dbo].[USP_RO_GETCARDPROVIDER]    Script Date: 10/13/2017 4:10:10 PM ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO


Create proc [dbo].[USP_RO_GETCARDPROVIDER]

as
begin
select * from RO_CardProvider
end




GO
