
GO
/****** Object:  StoredProcedure [dbo].[sp_MessageTemplateDelete]    Script Date: 10/13/2017 4:10:10 PM ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO

CREATE PROCEDURE [dbo].[sp_MessageTemplateDelete]
 @MessageTemplateID INT,
 @PortalID INT,
 @DeletedOn DATETIME,
 @DeletedBy NVARCHAR(256)
WITH EXECUTE AS CALLER
AS
UPDATE [dbo].[MessageTemplate] SET
 [IsDeleted] = 1,
 [DeletedOn] = @DeletedOn,
 DeletedBy = @DeletedBy
WHERE PortalID=@PortalID AND
 [MessageTemplateID] = @MessageTemplateID



GO
