
GO
/****** Object:  StoredProcedure [dbo].[USP_RO_GettabledataByIdforMenu]    Script Date: 10/13/2017 4:10:10 PM ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
--[dbo].[USP_RO_GettabledataByIdforMenu] 1  
CREATE PROCEDURE [dbo].[USP_RO_GettabledataByIdforMenu] @TableId INT
AS
BEGIN
	DECLARE @val VARCHAR(90)

	SET @val = dbo.fn_getMaxMasterId(@TableId)

	SELECT od.OrderDetailsID
		,od.OrderMasterId
		,od.Quantity
		,od.Rate
		,od.Amount
		,od.SeatNo
		,od.ExtraCharge
		,it.ITName
		,ir.SRate
		,rt.restrotableId
		,rt.restrotableTitle
		,om.IsSplit
		,0 isCombo
		,(
				SELECT STUFF((
							SELECT '/' + restrotableTitle
							FROM RO_restroTable
							WHERE restrotableId IN (
									SELECT TableID
									FROM RO_MergeTable
									WHERE MergeTableList = (
											SELECT MergeTableList
											FROM RO_MergeTable
											WHERE TableID = rt.restrotableId
												AND MergeTableList != 0
											)
									)
							FOR XML PATH('')
								,TYPE
							).value('.', 'NVARCHAR(MAX)'), 1, 1, '')
				) AS Note

	FROM dbo.RO_Order_Detail od
	INNER JOIN dbo.ROI_ITEMMain it ON it.ITId = od.ROI_ItemId
	LEFT JOIN dbo.ROI_ItemRate ir ON ir.ItemID = od.ROI_ItemId
	INNER JOIN dbo.RO_OrderMasters om ON om.OrderMasterID = @val
	INNER JOIN dbo.RO_restroTable rt ON rt.restrotableId = om.TableId
	left join dbo.RO_MergeTable mt on mt.TableID = rt.restrotableId 
	--LEFT JOIN DBO.RO_COMBO C ON C.ComboID = OD.ItemId  
	WHERE om.TableId = @TableId
		AND om.BillPaid = 0
		AND om.IsCancelled = 0
		AND od.Quantity != 0
		AND od.IsCancelled = 0
		AND od.OrderMasterID = @val
		AND IsNULL(od.BillPaid, 0) = 0
		AND od.ISCombo = 0
	
	UNION
	
	SELECT od.OrderDetailsID
		,od.OrderMasterId
		,od.Quantity
		,od.Rate
		,od.Amount
		,od.SeatNo
		,od.ExtraCharge
		,it.NAME AS ITName
		,it.SalesPrice AS SRate
		,rt.restrotableId
		,rt.restrotableTitle
		,om.IsSplit
		,1 isCombo
		,(
				SELECT STUFF((
							SELECT '/' + restrotableTitle
							FROM RO_restroTable
							WHERE restrotableId IN (
									SELECT TableID
									FROM RO_MergeTable
									WHERE MergeTableList = (
											SELECT MergeTableList
											FROM RO_MergeTable
											WHERE TableID = rt.restrotableId
												AND MergeTableList != 0
											)
									)
							FOR XML PATH('')
								,TYPE
							).value('.', 'NVARCHAR(MAX)'), 1, 1, '')
				) AS Note
	FROM dbo.RO_Order_Detail od
	INNER JOIN dbo.RO_Combo it ON it.ComboID = od.ROI_ItemId
	INNER JOIN dbo.RO_OrderMasters om ON om.OrderMasterID = @val
	INNER JOIN dbo.RO_restroTable rt ON rt.restrotableId = om.TableId
	left join dbo.RO_MergeTable mt on mt.TableID = rt.restrotableId 
	--LEFT JOIN DBO.RO_COMBO C ON C.ComboID = OD.ItemId  
	WHERE om.TableId = @TableId
		AND om.BillPaid = 0
		AND om.IsCancelled = 0
		AND od.Quantity != 0
		AND od.IsCancelled = 0
		AND od.OrderMasterID = @val
		AND IsNULL(od.BillPaid, 0) = 0
		AND od.ISCombo = 1
END
	--select * from dbo.RO_Order_Detail where OrderMasterId  =6944


GO
