
GO
/****** Object:  StoredProcedure [dbo].[usp_roideleteissue]    Script Date: 10/13/2017 4:10:10 PM ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE procedure [dbo].[usp_roideleteissue]
@IMId int
as
begin
delete from dbo.ROI_IssueDetails where  IMId=@IMId
delete from dbo.ROI_IssueMain where  IMId=@IMId
end


GO
