
GO
/****** Object:  StoredProcedure [dbo].[usp_GetTopFivevisitedPage]    Script Date: 10/13/2017 4:10:10 PM ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO

CREATE PROCEDURE [dbo].[usp_GetTopFivevisitedPage]
@DashBoardStartDate DATETIME,
@DashBoardEndDate DATETIME 
AS
BEGIN 


SELECT TOP(5) SessionUserHostAddress AS Country , COUNT(*) AS [VisitTime] 
  FROM SessionTracker
WHERE [Start] BETWEEN @DashBoardStartDate AND @DashBoardEndDate
 GROUP BY SessionUserHostAddress 
ORDER BY [VisitTime] DESC
END



GO
