
GO
/****** Object:  StoredProcedure [dbo].[usp_Ac_getParentFinancialAcName]    Script Date: 10/13/2017 4:10:10 PM ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO

--***************sp-1***************
CREATE proc [dbo].[usp_Ac_getParentFinancialAcName]  
as  
select FinancialAcID,Name as FinancialAcName from Ac_FinancialAc where IsArchived=0  

GO
