
GO
/****** Object:  StoredProcedure [dbo].[sp_SettingList]    Script Date: 10/13/2017 4:10:10 PM ******/
SET ANSI_NULLS OFF
GO
SET QUOTED_IDENTIFIER ON
GO

CREATE PROCEDURE [dbo].[sp_SettingList]
AS
SELECT
 [SettingID],
 [Name],
 [Value],
 [Description]
FROM 
 [dbo].[Setting]



GO
