
GO
/****** Object:  StoredProcedure [dbo].[usp_vaultCounterPerson_Insert]    Script Date: 10/13/2017 4:10:11 PM ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
create procedure [dbo].[usp_vaultCounterPerson_Insert]
@CPName nvarchar(200),
@CPCode nvarchar(100)
as
insert into tblCounterPerson(
CPName,
CPCode
)values
(
@CPName,
@CPCode)


GO
