
GO
/****** Object:  StoredProcedure [dbo].[sp_LogType]    Script Date: 10/13/2017 4:10:10 PM ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO

-- =============================================
-- Author:  
-- Create date: 2010-04-12
-- Description: HLog Viewer module
-- ============================================= 
CREATE PROCEDURE [dbo].[sp_LogType]
AS
SELECT * FROM dbo.LogType



GO
