
GO
/****** Object:  StoredProcedure [dbo].[usp_FileManagerGetUserID]    Script Date: 10/13/2017 4:10:10 PM ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO

CREATE PROC [dbo].[usp_FileManagerGetUserID]
(
@UserName NVARCHAR(256)
)
AS
BEGIN
DECLARE @UserID INT
SELECT @UserID=UserID FROM Users WHERE Username=@UserName
IF @UserID IS NULL
SET @UserID=0
SELECT @UserID
END;



GO
