
GO
/****** Object:  StoredProcedure [dbo].[usp_ro_savesalesMaster]    Script Date: 10/13/2017 4:10:10 PM ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE PROC [dbo].[usp_ro_savesalesMaster]    
    @billNo varchar(128),    
    @BillDate datetime ,    
    @RoomId INT ,    
    @TableId INT,    
    @BasicAmount Decimal(18,2),    
    @TermAmount Decimal(18,2),    
    @NetAmount Decimal(18,2),    
    @OrderMasterId INT,    
    @WaiterId VARCHAR(128),    
 @totaldiscount DECIMAL(18,2),    
 @sumKot DECIMAL(18,2),    
 @sumBev DECIMAL(18,2),    
 @SPMID INT,    
 @ProviderID INT,    
 @CusName  VARCHAR(256) = null,    
 @CusID  int = null,    
 @AddedBy nvarchar(256),    
 @IsSplit int,    
 @SeatNo int,    
 @Address nvarchar(250)=null,    
 @PAN nvarchar(250)=null,    
 @ChequNO nvarchar(250),    
 @TransactionNo nvarchar(250)  ,  
 @RoomRate decimal(18,2) = null,  
 @NoOfDays decimal(18,2) = null,  
 @IsRoom bit = null  
AS    
BEGIN    
    DECLARE @InvoiceNo Int=0;
DECLARE @fiscalid INT, @firstsalesmasterid int    
SELECT @fiscalid=fyId,@firstsalesmasterid =FirstSalesMasterID  FROM dbo.RO_fiscalYear WHERE (StartDate <= GETDATE()) AND ( EndDate >= GETDATE ())    
IF(@firstsalesmasterid IS NULL)    
BEGIN    
DECLARE @lastsalesmasterid INT    
SELECT TOP(1)@lastsalesmasterid=max(InvoiceNo) from dbo.RO_SalesMaster    
UPDATE dbo.RO_fiscalYear SET FirstSalesMasterID=@lastsalesmasterid WHERE fyId=@fiscalid    
 END    
    Select @InvoiceNo= MAX(InvoiceNo)+1 from RO_SalesMaster
set @InvoiceNo = isnull(@InvoiceNo,1) 
 INSERT INTO dbo.RO_SalesMaster    
        (     
          billNo ,    
          BillDate ,    
          RoomId ,    
          TableId ,    
          BasicAmount ,    
          TermAmount ,    
          NetAmount ,    
          OrderMasterId ,    
          Waiter,    
    totaldiscount,    
    sumBev,    
    sumKot,    
    SPMID,    
    ProviderID,    
    CusName ,    
    CusID,    
    FiscalYearID    
   ,AddedOn,    
    AddedBy,    
    IsSplit,    
    SeatNo    
    ,IsArchived,
	IsUpdated,    
    PAN,    
    ChequeNO,    
    TransactionNo,    
    [Address]  ,  
	[InvoiceNo]
    
    
        )    
VALUES  (     
   @billNo ,    
   @BillDate ,    
   @RoomId ,    
   @TableId ,    
   @BasicAmount ,    
   @TermAmount ,    
   @NetAmount ,    
   @OrderMasterId ,    
   @WaiterId,    
   @totaldiscount,    
   @sumBev,    
   @sumKot,    
   0,    
   @ProviderID,    
   @CusName,    
   @CusID,    
   @fiscalid    
   ,GETDATE(),    
   @AddedBy,    
   @IsSplit,    
   @SeatNo    
   ,0,0,    
   @PAN,    
   @ChequNO,    
   @TransactionNo,    
   @Address  ,  
@InvoiceNo 
        )    
  Declare @id varchar(128)    
  select @id = max(m.salesMasterId) from RO_SalesMaster m    
  SELECT @@IDENTITY    
    
  declare @EmpLoginid int    
  exec @EmpLoginid= USP_RO_BILLTERM 200    
    
  --insert into RO_BillingAmount    
  --(    
  --SalesMasterID,    
  --BilingID,    
  --Amount    
  --)     
  --Values    
  --(    
  --@id,     
  --1,    
  --200    
    
  --)    
--insert into RO_SalesPaymentMode(salesMasterId,BillNo,BillAmount,Customer,Address,PAN,BillPaid) 
--  values(@id,@billNo,@NetAmount,@CusName,@Address,@PAN,0)
    
END 


GO
