
GO
/****** Object:  StoredProcedure [dbo].[getOnlySmallUnit]    Script Date: 10/13/2017 4:10:10 PM ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE PROCEDURE [dbo].[getOnlySmallUnit]
AS
SELECT --u2.*, 
	u.SecondUnit UnitId
	,u1.Symbol Symbol
	,u1.UnitDescription as Particulars
FROM ROI_Unit2 u
INNER JOIN ROI_Unit1 u1 ON u.secondunit = u1.Unit1Id

UNION

SELECT unit1id UnitId
	,Symbol Symbol
	,UnitDescription as Particulars
FROM ROI_Unit1 u1
WHERE u1.Unit1Id NOT IN (
		SELECT SecondUnit
		FROM ROI_Unit2
		)
	AND IsArchived = 0
	AND u1.Unit1Id NOT IN (
		SELECT FirstUnit
		FROM ROI_Unit2
		)

GO
