
GO
/****** Object:  StoredProcedure [dbo].[usp_PaymentGatewaySetting_GetSettingValue]    Script Date: 10/13/2017 4:10:10 PM ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO

CREATE Procedure [dbo].[usp_PaymentGatewaySetting_GetSettingValue]
--@UserModuleID int,
@PortalID int
AS
select UserModuleID , PortalID , PaymentID , SettingValue ,PaymentID
FROM PaymentGateWaySetting 
where PortalID  = @PortalID 
--and UserModuleID = @UserModuleID



GO
