
GO
/****** Object:  StoredProcedure [dbo].[usp_ro_updateOrderDetails]    Script Date: 10/13/2017 4:10:10 PM ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE PROC [dbo].[usp_ro_updateOrderDetails]
@orderDetailsId INT,
@qty VARCHAR(128),
@netAmount DECIMAL(8,2)
AS
BEGIN
	UPDATE dbo.RO_Order_Detail SET	
	Quantity=@qty,
	NetAmount=@netAmount
	--,BillPaid=1
	WHERE OrderDetailsID=@orderDetailsId
END


GO
