
GO
/****** Object:  StoredProcedure [dbo].[USP_DELETE_ITEMRATE]    Script Date: 10/13/2017 4:10:10 PM ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE PROC [dbo].[USP_DELETE_ITEMRATE]
 @RId INT
AS
BEGIN
	DELETE FROM dbo.ROI_ItemRate WHERE ItemRateID=@RId
END

--select * from ROI_ItemRate


GO
