
GO
/****** Object:  StoredProcedure [dbo].[USP_RO_GetDataFromCostCenterID]    Script Date: 10/13/2017 4:10:10 PM ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
--[dbo].[USP_RO_GetDataFromCostCenterID] 1
CREATE PROCEDURE [dbo].[USP_RO_GetDataFromCostCenterID] 
@CostCenterId int
AS
SELECT distinct 
it.ITId,
-- ROI_ItemId as ItemId,  
itd.ImagePath,
od.OrderDetailsID,
iis.ItemStatus,
iis.StatusID,
it.ITName,
od.Quantity,
om.BillPaid, 
om.IsCancelled, 
rr.restroRoom,
rt.restrotableTitle,
od.IsRunningOrder,
om.Date,
CAST(LEFT(CONVERT(TIME(0),om.Date),5) AS VARCHAR(128)) AS billtime
,om.OrderMasterID,
IsCombo = 0
FROM 
ROI_ITEMMain it 
JOIN  dbo.RO_Order_Detail od ON it.ITId = od.ROI_ItemId
Inner Join ROI_ItemDetails itd ON it.ITId = itd.ITId
left JOIN ROI_ItemRate ir ON it.ITId = ir.ItemID
JOIN dbo.RO_OrderMasters om ON om.OrderMasterID = od.OrderMasterId
join RO_OrderItemStatus os on os.OrderDetailID = od.OrderDetailsID
join dbo.RO_ItemStatus iis on iis.StatusID = os.StatusID
LEFT JOIN dbo.RO_restroTable rt on rt.restrotableId  = om.TableId
LEFT JOIN dbo.RO_RestroRoom rr ON rr.restroRoomId = om.RoomId
WHERE itd.ItemCostCentreID=@CostCenterId AND om.BillPaid = 0 
and CONVERT(date, om.Date)=CONVERT(DATE,getdate()) 
and iis.StatusID!=3 and IsCombo = 0

union
SELECT distinct 
--it.ITId,
cm.ComboID,
 --ROI_ItemId as ItemId,  
--itd.ImagePath,
cm.ImagePath,
od.OrderDetailsID,
iis.ItemStatus,
iis.StatusID,
--it.ITName,
cm.Name,
od.Quantity,
om.BillPaid, 
om.IsCancelled, 
rr.restroRoom,
rt.restrotableTitle,
od.IsRunningOrder,
om.Date,
CAST(LEFT(CONVERT(TIME(0),om.Date),5) AS VARCHAR(128)) AS billtime
,om.OrderMasterID,
IsCombo = 1
FROM 

--ROI_ITEMMain it join
dbo.RO_Order_Detail od 
--ON it.ITId = od.ROI_ItemId
join RO_Combo cm on cm.ComboID= od.ROI_ItemId
--Inner Join ROI_ItemDetails itd ON it.ITId = itd.ITId
--left JOIN ROI_ItemRate ir ON it.ITId = ir.ItemID
JOIN dbo.RO_OrderMasters om ON om.OrderMasterID = od.OrderMasterId
join RO_OrderItemStatus os on os.OrderDetailID = od.OrderDetailsID
join dbo.RO_ItemStatus iis on iis.StatusID = os.StatusID
LEFT JOIN dbo.RO_restroTable rt on rt.restrotableId  = om.TableId
LEFT JOIN dbo.RO_RestroRoom rr ON rr.restroRoomId = om.RoomId
--WHERE itd.ItemCostCentreID=@CostCenterId AND om.BillPaid = 0 
WHERE cm.CostCenterID=@CostCenterId AND om.BillPaid = 0 
and CONVERT(date, om.Date)=CONVERT(DATE,getdate()) 
and iis.StatusID!=3 and IsCombo = 1
Order by  om.Date DESC



GO
