
GO
/****** Object:  StoredProcedure [dbo].[USP_PO_SAVEPURCHASEMASTER]    Script Date: 10/13/2017 4:10:10 PM ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO

CREATE PROCEDURE [dbo].[USP_PO_SAVEPURCHASEMASTER] 
(
@OrderMasterID int,
@TableId nvarchar(50),
@BillNo nvarchar(128),
@Date datetime,
@IsCancelled bit,
@BasicAmount decimal,
@TermAmount decimal(18,2),
@NetAmount decimal(18,2),
@UserName nvarchar(128),
@Remarks nvarchar(512),
@IsSplit bit,
@GuestNo int,
@BillPaid INT,
@RoomId INT,
@OID INT,
@OrderStatus INT
)
AS
IF(@OrderMasterID =0)
BEGIN

declare @val INT
insert into RO_OrderMasters(
				TableId,
				BillNo,
				Date,
				IsCancelled,
				BasicAmount,
				TermAmount,
				NetAmount,
				UserName,
				Remarks,
				IsSplit,
				GuestNo,
				BillPaid,
				RoomId,
				OID,
				OrderStatus,
				IsPrinted
				) 
values (
		@TableId,
		@BillNo, 
		@Date,
		@IsCancelled,
		@BasicAmount,
		@TermAmount,
		@NetAmount,
		@UserName,
		@Remarks,
		@IsSplit,
		@GuestNo,
		@BillPaid,
		@RoomId,
		@OID,
		0,
		0
		)
		
		select @@IDENTITY
		--set @val = @@IDENTITY


END
else
begin
Update dbo.RO_OrderMasters Set

TableId = @TableId,BillNo=@BillNo,Date=@Date, IsCancelled= @IsCancelled, BasicAmount = @BasicAmount, TermAmount= @TermAmount, NetAmount=@NetAmount,
UserName=@UserName, Remarks=@Remarks, IsSplit=@IsSplit, GuestNo = @GuestNo, BillPaid = @BillPaid , RoomId = @RoomId,OID=@OID, @OrderStatus= 1
where OrderMasterID = @OrderMasterID
END


if(@IsCancelled = 0)
begin
 update RO_restroTable

set 
restrotablesStatusID = 7
where restrotableId = @TableId -- and @IsCancelled = 0
end
else
 begin
 update dbo.RO_restroTable Set
 restrotablesStatusID = 6 where restrotableId = @TableId-- or RO_restroTable.restrotableId = @val;

update RO_MergeTable 
set 
MergeTableList = 0 
where MergeTableList = @tableId  
 update RO_OrderMasters set CancelBy=@UserName,CancelDate=getdate(),CancelReason=@Remarks where OrderMasterID=@OrderMasterID

end




GO
