
GO
/****** Object:  StoredProcedure [dbo].[USP_RO_getitemlistwithrate]    Script Date: 10/13/2017 4:10:10 PM ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
--[dbo].[USP_RO_getitemlistwithrate] 31  
CREATE PROCEDURE [dbo].[USP_RO_getitemlistwithrate]   
@ItemID int  
AS  
BEGIN  
select m.ITId, m.ITName, r.SRate  from ROI_ITEMMain m    
Inner Join ROI_ItemRate r on m.ITId = r.ItemID  
where m.ITId = @ItemID  
  
end  

GO
