
GO
/****** Object:  StoredProcedure [dbo].[usp_FileManagerGetActiveRootFolders]    Script Date: 10/13/2017 4:10:10 PM ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO

CREATE PROCEDURE [dbo].[usp_FileManagerGetActiveRootFolders]
AS
BEGIN
 SELECT [FolderID]
    ,[PortalID]
    ,[FolderPath]
    ,[StorageLocation]
    ,[IsProtected]
    ,[IsCached]
    ,[UniqueId]
    ,[VersionGuid]
    ,[IsRoot]
    ,[IsActive]
    ,[IsDeleted]
    ,[IsModified]
    ,[AddedOn]
    ,[UpdatedOn]
    ,[DeletedOn]
    ,[AddedBy]
    ,[UpdatedBy]
    ,[DeletedBy]
   FROM [dbo].[Folder]
   WHERE IsRoot=1
   AND IsActive=1
END;



GO
