
GO
/****** Object:  StoredProcedure [dbo].[USP_RO_getTodayFiscalYr]    Script Date: 10/13/2017 4:10:10 PM ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
  CREATE procedure [dbo].[USP_RO_getTodayFiscalYr]
  as
  select * from RO_fiscalYear where IsDeleted=0 and GETDATE() between StartDate and EndDate



GO
