
GO
/****** Object:  StoredProcedure [dbo].[usp_GetCustomerBalanceByID]    Script Date: 10/13/2017 4:10:10 PM ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO

--[dbo].[usp_GetCustomerBalanceByID] 1
CREATE proc [dbo].[usp_GetCustomerBalanceByID]
@IsCustomer int
as
SELECT [MembershipID]
      ,[Fname]
      ,[Lname]
      ,[Address]
      ,[City]
      ,[Country]
      ,[TelHome]
      ,[TelWork]
      ,[TelMobile]
      ,[CardNumber]
      ,[DateOfIssue]
      ,[DateOfExpire]
      ,[PAN]
      ,[RemainingBalance]
  FROM [dbo].[RO_LoyaltyMembership] where IsCustomer=@IsCustomer and RemainingBalance<>0


GO
