
GO
/****** Object:  StoredProcedure [dbo].[usp_ro_SavePrintCountDetail]    Script Date: 10/13/2017 4:10:10 PM ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE PROCEDURE [dbo].[usp_ro_SavePrintCountDetail]    
@Printcount INT     
,@BillNo NVARCHAR(max)    
,@PrintedBy NVARCHAR(max)    
    
AS    
declare @Date datetime = getdate();
 UPDATE dbo.RO_SalesMaster SET PrintCount = ISNULL(PrintCount,-1)+1, PrintDate = @Date WHERE salesMasterId = @BillNo     
 INSERT INTO dbo.PrintDetail    
         ( PrintBillNo ,    
           PrintedNumber ,    
           PrintedDate ,    
           PrintedBy    
         )    
 VALUES  ( @BillNo, -- PrintBillNo - nvarchar(max)    
           @Printcount , -- PrintedNumber - int    
           @Date , -- PrintedDate - datetime    
          @PrintedBy  -- PrintedBy - nvarchar(max)    
         )    
	select	  Convert(nvarchar(120),@Date,120)

GO
