
GO
/****** Object:  StoredProcedure [dbo].[usp_RO_CheckIfLoggedIn]    Script Date: 10/13/2017 4:10:10 PM ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
--[dbo].[usp_RO_CheckIfLoggedIn]"nish"
CREATE PROCEDURE [dbo].[usp_RO_CheckIfLoggedIn]
@username nvarchar(50)
AS
SELECT IsLoggedIn from dbo.Users where Username=@username


GO
