
GO
/****** Object:  StoredProcedure [dbo].[usp_ro_savesalesDetail]    Script Date: 10/13/2017 4:10:10 PM ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE PROC [dbo].[usp_ro_savesalesDetail] @salesMasterId INT
	,@ItemId INT
	,@qty INT
	,@rate DECIMAL(8, 2)
	,@Amount DECIMAL(8, 2)
	,@NetAmount DECIMAL(8, 2)
	,@CostCenterId INT
	,@IsCombo BIT
AS
BEGIN
	INSERT INTO dbo.RO_SalesDetail (
		salesMasterId
		,ItemId
		,qty
		,rate
		,Amount
		,NetAmount
		,CostCenterId
		,IsCombo
		)
	VALUES (
		@salesMasterId
		,@ItemId
		,@qty
		,@rate
		,@Amount
		,@NetAmount
		,@CostCenterId
		,@IsCombo
		)

	DECLARE @TotalCBl BIGINT = 0

	IF (
			(
				SELECT IsProdMaterial
				FROM ROI_ItemDetails
				WHERE ITId = @ItemId
				) = 1
			)
	BEGIN
		SET @TotalCBl = 0

		SELECT @TotalCBl = CLBal
		FROM dbo.ROI_ITEMBal
		WHERE ITId = @ItemID

		SET @TotalCBl = @TotalCBl - @qty

		UPDATE ROI_ITEMBal
		SET CLBal = @TotalCBl
		WHERE ITId = @ItemId
	END
	ELSE
	BEGIN
		UPDATE ROI_ITEMBal
		SET CLBal = (ib.CLBal - ri.Quantity * @qty)
		FROM ROI_ITEMBal ib
		JOIN Ro_Ingredient ri ON ib.ITId = ri.Ingredient
			AND ri.ItemID = @ItemId
	END
END

GO
