
GO
/****** Object:  StoredProcedure [dbo].[USP_RO_SAVEMERGE]    Script Date: 10/13/2017 4:10:10 PM ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE PROC [dbo].[USP_RO_SAVEMERGE] @MergeID INT
	,@TableID INT
	,@MergeTableList VARCHAR(128)
AS
BEGIN
	--UPDATE RO_restroTable
	--SET restrotablesStatusID = 7
	--WHERE restrotableId = @MergeTableList

	IF (@MergeID <= 0)
	BEGIN
		INSERT INTO RO_MergeTable (
			TableID
			,MergeTableList
			)
		VALUES (
			@TableID
			,@MergeTableList
			)
	END
	ELSE
	BEGIN
		UPDATE RO_MergeTable
		SET TableID = @TableID
			,MergeTableList = @MergeTableList
		WHERE MergeID = @MergeID
	END
END

GO
