
GO
/****** Object:  StoredProcedure [dbo].[USP_SALES_REPORT]    Script Date: 10/13/2017 4:10:10 PM ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
--   USP_SALES_REPORT '2017-01-03 0:0' , '2017-08-31 23:59',0  ,-1    
CREATE PROCEDURE [dbo].[USP_SALES_REPORT]        
@startDate DATETIME,        
@endDate DATETIME,        
@PaymentMode INT,    
@Status INT    
AS         
BEGIN        
SELECT         
  sm.OrderMasterId          
  ,sm.salesMasterId          
  ,CAST(CONVERT(VARCHAR(16), sm.BillDate, 20) AS VARCHAR(120)) AS BillDate          
  ,'RO' + fy.fyName + '-' + CAST((sm.InvoiceNo - fy.FirstSalesMasterID) AS VARCHAR(20)) AS billNo          
  ,sm.Waiter          
  ,isnull(rt.restrotableTitle,'Take Away')  as restrotableTitle 
  ,sm.TableId           
  ,isnull(rr.restroRoom ,'Take Away')  as     restroRoom  
  ,sm.BasicAmount + sm.totaldiscount AS SubTotal        
  ,sm.totaldiscount        
  ,sm.BasicAmount        
  ,isnull(b1.Amount,0) AS ServiceCharge        
  ,isnull(b2.Amount,0) AS Vat        
  ,sm.NetAmount        
  ,ISNULL(sm.PrintCount,0)   PrintCount      
  --,Case when sm.salesMasterId=spm.salesMasterId then spm.SPMID else sm.SPMID end as SPMID --
  ,sm.SPMID     
  ,sm.IsArchived as [Status]       
 FROM dbo.RO_SalesMaster sm          
 INNER JOIN RO_fiscalYear fy ON fy.fyId = sm.FiscalYearID          
 left JOIN RO_BillingAmount b1 ON B1.SalesMasterID = sm.salesMasterId AND b1.BilingID = 62        
 left JOIN RO_BillingAmount b2 ON B2.SalesMasterID = sm.salesMasterId AND b2.BilingID = 54        
 LEFT JOIN RO_RestroRoom rr ON rr.restroRoomId = sm.RoomId          
 LEFT JOIN dbo.RO_restroTable rt ON rt.restrotableId = sm.TableId          
 --left join RO_SalesPaymentMode spm on spm.salesMasterId=sm.salesMasterId
 WHERE (sm.BillDate BETWEEN @startDate AND @endDate)        
 AND (sm.SPMID = @PaymentMode OR @PaymentMode=0 )       
 AND (sm.IsArchived = @Status OR @Status = -1)    
 ORDER BY salesMasterId DESC;         
END; 


GO
