
GO
/****** Object:  StoredProcedure [dbo].[sp_ro_DeleteIngredientItemByID]    Script Date: 10/13/2017 4:10:10 PM ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE PROCEDURE [dbo].[sp_ro_DeleteIngredientItemByID] @IngredientID INT
	,@ItemID INT
AS
DELETE Ro_Ingredient
WHERE ItemID = @ItemID
	AND Ingredient = @IngredientID

GO
