
GO
/****** Object:  StoredProcedure [dbo].[usp_saveCompanyInfo]    Script Date: 10/13/2017 4:10:10 PM ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE PROC [dbo].[usp_saveCompanyInfo]
	@companyId INT,
	@Name VARCHAR(128) ,
	@RegistrationNo VARCHAR(128),
	@Address VARCHAR(128),
	@Country VARCHAR(128),
	@Logo VARCHAR(128),
	@PhoneNo VARCHAR(128),
	@PAN VARCHAR(128),
	@CurrencyID int
	
	

AS
BEGIN
	declare @val int
	set @val=(select count(*) from RO_CompanyInfo ci)
	IF(@val=0)
	BEGIN
	INSERT INTO dbo.RO_CompanyInfo
	        ( Name ,
	          RegistrationNo ,
	          Address ,
	          Country ,
	          Logo ,
	          PhoneNo ,
	          PAN,
			  CurrencyID
			 
	        )
	VALUES  (  @Name ,
				@RegistrationNo ,
				@Address ,
				@Country ,
				@Logo ,
				@PhoneNo ,
				@PAN,
				@CurrencyID
	        )
	END	
	ELSE
    BEGIN
    	UPDATE dbo.RO_CompanyInfo SET	
		 Name=@Name,
		 RegistrationNo=@RegistrationNo ,
		ADDRESS=@Address ,
		Country=@Country ,
		Logo=@Logo ,
		PhoneNo=@PhoneNo ,
		PAN=@PAN,
		CurrencyID = @CurrencyID
		
		WHERE ID=@companyId

    END
END


GO
