
GO
/****** Object:  StoredProcedure [dbo].[usp_vault_CounterPerson_getData]    Script Date: 10/13/2017 4:10:11 PM ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
create procedure [dbo].[usp_vault_CounterPerson_getData]
as
SELECT [CPID]
      ,[CPName]
      ,[CPCode]
  FROM [dbo].[tblCounterPerson]



GO
