
GO
/****** Object:  StoredProcedure [dbo].[usp_Roi_CheckItemExistence]    Script Date: 10/13/2017 4:10:10 PM ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE proc [dbo].[usp_Roi_CheckItemExistence]
@item nvarchar(256)
as
select ITId, ITName from ROI_ITEMMain where ITName=@item and IsArchived=0

GO
