
GO
/****** Object:  StoredProcedure [dbo].[usp_ro_getPrintedDetailByBillNo]    Script Date: 10/13/2017 4:10:10 PM ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE PROCEDURE [dbo].[usp_ro_getPrintedDetailByBillNo]
@billNo NVARCHAR(MAX)
AS
 SELECT * FROM dbo.PrintDetail WHERE PrintBillNo = @billNo


GO
