
GO
/****** Object:  StoredProcedure [dbo].[USP_RO_UNITDELETE]    Script Date: 10/13/2017 4:10:10 PM ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE PROCEDURE [dbo].[USP_RO_UNITDELETE]
@UnitID INT
AS
BEGIN
DELETE FROM dbo.RO_Units WHERE UnitID=@UnitID
end



GO
