
GO
/****** Object:  StoredProcedure [dbo].[USP_DBBackupNRestore_GetAllDatabaseName]    Script Date: 10/13/2017 4:10:10 PM ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE PROCEDURE [dbo].[USP_DBBackupNRestore_GetAllDatabaseName]
AS
SELECT * FROM sys.databases


GO
