
GO
/****** Object:  StoredProcedure [dbo].[usp_ro_getRONumberByFiscalYear]    Script Date: 10/13/2017 4:10:10 PM ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE PROCEDURE [dbo].[usp_ro_getRONumberByFiscalYear]
AS
SELECT * FROM [dbo].[RO_fiscalYear] WHERE isActive=1


GO
