
GO
/****** Object:  StoredProcedure [dbo].[usp_GetBlogRssContent]    Script Date: 10/13/2017 4:10:10 PM ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO

CREATE PROCEDURE [dbo].[usp_GetBlogRssContent]
AS
BEGIN
 SET NOCOUNT ON;
 SELECT BlogContent FROM dbo.BlogRssContent    
END



GO
