
GO
/****** Object:  StoredProcedure [dbo].[USP_ROI_DELETEITEMRATE]    Script Date: 10/13/2017 4:10:10 PM ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE PROCEDURE [dbo].[USP_ROI_DELETEITEMRATE]
@ItemRateID int
AS
BEGIN

	DELETE	FROM DBO.ROI_ITEMRATE WHERE ItemRateID = @ItemRateID 
END




GO
