
GO
/****** Object:  StoredProcedure [dbo].[USP_GET_BALANCE]    Script Date: 10/13/2017 4:10:10 PM ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE proc [dbo].[USP_GET_BALANCE]
as
begin
	select distinct ib.ItemBalID,ib.ITId,ib.OPBal,im.ITName,S.StName,id.SmallUnit,u1.UnitDescription,u1.Symbol from ROI_ITEMBal ib
	INNER JOIN ROI_ITEMMain im on ib.ITId = im.ITId
	INNER JOIN ROI_Store S on S.STId = IB.STId
	join ROI_ItemDetails id on id.ITId=im.ITId
	left join ROI_Unit1 u1 on u1.Unit1Id=id.SmallUnit
end

GO
