
GO
/****** Object:  StoredProcedure [dbo].[usp_GetModuleInformation]    Script Date: 10/13/2017 4:10:10 PM ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO

CREATE proc [dbo].[usp_GetModuleInformation]
@FriendlyName NVARCHAR(128) 
AS
BEGIN
SELECT ModuleName,[Description],[Version],* FROM Modules WHERE FriendlyName = @FriendlyName 
END



GO
