
GO
/****** Object:  StoredProcedure [dbo].[usp_ro_UpdateSalesPayMode]    Script Date: 10/13/2017 4:10:10 PM ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE PROC [dbo].[usp_ro_UpdateSalesPayMode] @salesMasterId INT
	,@SPMID INT
	,@ChequeNo NVARCHAR(max)
	,@TransactionNo NVARCHAR(max)
	,@ProviderID INT
	,@CusID INT
	,@Customer NVARCHAR(max)
	,@Address NVARCHAR(max)
	,@PAN NVARCHAR(max)
AS
BEGIN
	BEGIN
		UPDATE RO_SalesMaster
		SET SPMID = @SPMID
			,ChequeNO = @ChequeNo
			,TransactionNo = @TransactionNo
			,ProviderID = @ProviderID
			,CusID = @CusID
			,CusName = @Customer
			,Address = @Address
			,PAN = @PAN
			,IsUpdated = 1
		WHERE salesMasterId = @salesMasterId
	END

	BEGIN
		DECLARE @tableId NVARCHAR(50)

		SELECT @tableId = sm.TableId
		FROM RO_SalesMaster sm
		WHERE sm.salesMasterId = @salesMasterId

		UPDATE ro_mergetable
		SET mergetablelist = 0
		WHERE mergetablelist = @tableId
	END

	BEGIN
		UPDATE ro_restrotable
		SET restrotablesstatusid = 6
		WHERE restrotableid = @tableId
	END
END


GO
