
GO
/****** Object:  StoredProcedure [dbo].[usp_ac_getVerifiedTransactionByID]    Script Date: 10/13/2017 4:10:10 PM ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
--usp_ac_getVerifiedTransactionByID  10
CREATE PROCEDURE [dbo].[usp_ac_getVerifiedTransactionByID] @transactionID INT
AS
--declare @transactionID int =10
--declare @transactionID int=2
SELECT fa.NAME AS financialAcName
	,ttd.FinancialAcID
	,ttd.Particulars
	,ttd.Debit
	,ttd.Credit
	,ttd.ChequeNo
	,ttd.ChequeDate
	,tt.PostedBy
	,cast(tt.PostedOn AS DATE) AS PostedOn
	,ttd.TransactionDetailID
	,tt.VoucherTypeID
FROM Ac_TransactionDetail ttd
JOIN Ac_FinancialAc fa ON ttd.FinancialAcID = fa.FinancialAcID
JOIN Ac_TempTransaction tt ON tt.TransactionID = ttd.TransactionID
WHERE ttd.TransactionID = @transactionID

GO
