
GO
/****** Object:  StoredProcedure [dbo].[USP_DeleteROI_Item]    Script Date: 10/13/2017 4:10:10 PM ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE PROCEDURE [dbo].[USP_DeleteROI_Item]
@Itemid int,
@ArchivedBy nvarchar(256)
as
begin
--delete from dbo.ROI_ITEMMain where ITId=@Itemid
--delete from dbo.ROI_ItemDetails where  ITId=@Itemid
update dbo.ROI_ITEMMain
set isArchived=1
,ArchivedBy=@ArchivedBy
,ArchivedOn=GETDATE()
 where ITId=@Itemid

 update dbo.ROI_ItemDetails
set isArchived=1
,ArchivedBy=@ArchivedBy
,ArchivedOn=GETDATE()
 where ITId=@Itemid
end


GO
