
GO
/****** Object:  StoredProcedure [dbo].[usp_Note_Insert]    Script Date: 10/13/2017 4:10:10 PM ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE procedure [dbo].[usp_Note_Insert]
@note int,
@iscoin bit
as
insert into tbl_ROVaultNote
(
Note,
IsCoin
)
values(
@note,
@iscoin
)


GO
