
GO
/****** Object:  StoredProcedure [dbo].[usp_RO_MonthlyClosingSalesDetailStatement]    Script Date: 10/13/2017 4:10:10 PM ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
--   usp_RO_MonthlyClosingSalesDetailStatement '2017-09-07','2017-09-07'  
CREATE PROC [dbo].[usp_RO_MonthlyClosingSalesDetailStatement] @startDate DATEtime
	,@endDate DATEtime
AS
BEGIN
	--declare @startDate date='2017-08-1 0:0', @endDate date='2017-08-22 23:59'  
	SELECT im.ITName
		,cci.CostCenterName
		,sum(sd.qty) AS QTY
		,iwu.Conversion
		,u.Symbol
	FROM RO_SalesMaster sm
	INNER JOIN RO_SalesDetail sd ON sm.salesMasterId = sd.salesMasterId
	INNER JOIN ROI_ITEMMain im ON im.ITId = sd.ItemId
	INNER JOIN ROI_ItemRate iwu ON im.ITId = iwu.ItemID
	INNER JOIN ROI_Unit1 u ON u.Unit1Id = iwu.LargeUnit
	INNER JOIN CostCenterInfo cci ON sd.CostCenterId = cci.CostCenterId
	WHERE
		--cast(sm.BillDate as DATE) = CAST(@DATE as date)   
		(
			sm.BillDate BETWEEN @startDate
				AND @endDate
			)
		AND sd.IsCombo = 0
		and sm.IsArchived<>1
	GROUP BY im.ITName
		,cci.CostCenterName
		,iwu.Conversion
		,u.Symbol
	--order by cci.CostCenterName   
	
	UNION
	
	SELECT im.NAME ITName
		,cci.CostCenterName
		,sum(sd.qty) AS QTY
		,1 Conversion
		,'Combo' Symbol
	FROM RO_SalesMaster sm
	INNER JOIN RO_SalesDetail sd ON sm.salesMasterId = sd.salesMasterId
	INNER JOIN RO_Combo im ON im.ComboID = sd.ItemId
	--inner join ROI_ItemRate iwu on im.ComboID = iwu.ItemID    
	-- inner join ROI_Unit1 u on u.Unit1Id = iwu.LargeUnit    
	INNER JOIN CostCenterInfo cci ON sd.CostCenterId = cci.CostCenterId
	WHERE
		-- cast(sm.BillDate as DATE) = CAST(@DATE as date)
		(
			sm.BillDate BETWEEN @startDate
				AND @endDate
			)
		AND sd.IsCombo = 1
		and sm.IsArchived<>1
	GROUP BY im.NAME
		,cci.CostCenterName --,iwu.Conversion,u.Symbol    
	ORDER BY cci.CostCenterName
END


GO
