
GO
/****** Object:  StoredProcedure [dbo].[USP_RO_GetAllTableName]    Script Date: 10/13/2017 4:10:10 PM ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
create PROCEDURE  [dbo].[USP_RO_GetAllTableName]
AS
SELECT table_name FROM INFORMATION_SCHEMA.Tables WHERE table_type='BASE TABLE'


GO
