
GO
/****** Object:  StoredProcedure [dbo].[usp_topListsTable]    Script Date: 10/13/2017 4:10:11 PM ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE proc [dbo].[usp_topListsTable]
as
SELECT top 6  rt.restrotableTitle, count(rt.restrotableTitle) AS cntTable
from RO_SalesMaster sm
	--left join RO_SalesDetail sd on sd.salesMasterId = sm.salesMasterId 
	left join RO_restroTable rt on rt.restrotableId=sm.TableId
	where  cast(BillDate as date) = convert(varchar(10), getdate(),102) 
GROUP BY rt.restrotableTitle
ORDER BY cntTable DESC

GO
