
GO
/****** Object:  StoredProcedure [dbo].[USP_ROI_SAVEBALANCE]    Script Date: 10/13/2017 4:10:10 PM ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE PROCEDURE [dbo].[USP_ROI_SAVEBALANCE] @ITId INT
	,@STId INT
	,@OPBal INT
AS
BEGIN

	IF not EXISTS (
	--declare  @ITId INT =26
			SELECT *
			FROM ROI_ITEMBal
			WHERE ITId = @ITId and STId=@STId
			)
		INSERT INTO ROI_ITEMBal (
			ITId
			,PDId
			,STId
			,OPBal
			,CLBal
			)
		VALUES (
			@ITId
			,'0'
			,@STId
			,@OPBal
			,@OPBal
			)
	ELSE
		UPDATE ROI_ITEMBal
		SET    STId = @STId
				,OPBal = @OPBal
				,CLBal = @OPBal
				where ITId=@ITId and STId=@STId
END

--truncate table ROI_ITEMBal

GO
