
GO
/****** Object:  StoredProcedure [dbo].[USP_RO_getBillTermDetailsByBillTerm]    Script Date: 10/13/2017 4:10:10 PM ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
create procedure [dbo].[USP_RO_getBillTermDetailsByBillTerm]
@bilingID int
as

select * from dbo.RO_BillTermDetails where BilingID=@bilingID


GO
