
GO
/****** Object:  StoredProcedure [dbo].[USP_RO_CheckPinCodeMatch]    Script Date: 10/13/2017 4:10:10 PM ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO


CREATE procedure [dbo].[USP_RO_CheckPinCodeMatch]
@PinCode varchar(max)
as

select Username from dbo.PortalUser where PINcode=@PinCode


GO
