
GO
/****** Object:  StoredProcedure [dbo].[usp_roi_goodsreceiveDelete]    Script Date: 10/13/2017 4:10:10 PM ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE procedure [dbo].[usp_roi_goodsreceiveDelete]
@GMId INT
as
begin
DELETE FROM DBO.RO_GoodsReceivedMain  WHERE GMId = @GMId
end









GO
