
GO
/****** Object:  StoredProcedure [dbo].[USP_RO_ShiftTable]    Script Date: 10/13/2017 4:10:10 PM ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE PROCEDURE [dbo].[USP_RO_ShiftTable] @ordermasterid INT
	,@tableID INT
AS
begin
UPDATE RO_restroTable
SET restrotablesStatusID = 7
WHERE restrotableId = @tableID

DECLARE @val VARCHAR(90)

SET @val = (
		SELECT TableId
		FROM RO_OrderMasters
		WHERE OrderMasterID = @ordermasterid
		)

UPDATE RO_restroTable
SET restrotablesStatusID = 6
WHERE restrotableId = @val -- or RO_restroTable.restrotableId = @val;

UPDATE RO_OrderMasters
SET TableId = @tableID
	,RoomId = (
		SELECT restroRoomId
		FROM RO_restroTable
		WHERE restrotableId = @tableID
		)
WHERE OrderMasterID = @ordermasterid

end

GO
