
GO
/****** Object:  StoredProcedure [dbo].[sp_GetSuperRoleID]    Script Date: 10/13/2017 4:10:10 PM ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE PROC [dbo].[sp_GetSuperRoleID]
AS
BEGIN
SELECT RoleID FROM dbo.aspnet_Roles WHERE RoleName='Super User'
END


GO
