
GO
/****** Object:  StoredProcedure [dbo].[ROI_GetUnitByItem]    Script Date: 10/13/2017 4:10:10 PM ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE procedure [dbo].[ROI_GetUnitByItem] 
@itid int
as
begin
select MUnitId from dbo.ROI_ItemDetails WHERE ITId = @itid
end





GO
