
GO
/****** Object:  StoredProcedure [dbo].[usp_DashboardQuickLinkReorder]    Script Date: 10/13/2017 4:10:10 PM ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO

CREATE PROCEDURE [dbo].[usp_DashboardQuickLinkReorder]
(
 @QuickLinkID INT,
 @DisplayOrder INT
) 
AS
BEGIN
 SET NOCOUNT ON;
 UPDATE [dbo].[DashboardQuickLinks]
 SET DisplayOrder=@DisplayOrder 
 WHERE QuickLinkID=@QuickLinkID
END



GO
