
GO
/****** Object:  StoredProcedure [dbo].[usp_ScheduleRepeatOptionsDelete]    Script Date: 10/13/2017 4:10:10 PM ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO

CREATE PROCEDURE [dbo].[usp_ScheduleRepeatOptionsDelete]
@ScheduleID INT
AS
BEGIN
DELETE FROM dbo.ScheduleDate WHERE ScheduleID=@ScheduleID
DELETE FROM dbo.ScheduleDay  WHERE ScheduleID=@ScheduleID
DELETE FROM dbo.ScheduleMonth  WHERE ScheduleID=@ScheduleID  
DELETE FROM dbo.ScheduleWeek  WHERE ScheduleID=@ScheduleID
END



GO
