
GO
/****** Object:  StoredProcedure [dbo].[USP_RO_GETROOMTYPEByID]    Script Date: 10/13/2017 4:10:10 PM ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE PROCEDURE [dbo].[USP_RO_GETROOMTYPEByID]
@ID INT
AS
BEGIN
SELECT * FROM dbo.Ro_RoomType WHERE RoomTypeID=@ID
END



GO
