
GO
/****** Object:  StoredProcedure [dbo].[USP_RO_GETCATEGORIESBYMENU]    Script Date: 10/13/2017 4:10:10 PM ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE PROCEDURE [dbo].[USP_RO_GETCATEGORIESBYMENU]
(
@MENUID INT
)
AS
BEGIN
select CategoriesID, CategoriesName, PhotoPath FROM  dbo.RO_Categories
  WHERE dbo.RO_Categories.MenuID = @MENUID
end



GO
