
GO
/****** Object:  StoredProcedure [dbo].[usp_RoiItemMainSave]    Script Date: 10/13/2017 4:10:10 PM ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE PROCEDURE [dbo].[usp_RoiItemMainSave] @ITId INT
	,@ITName VARCHAR(250)
	,@PITId INT
	,@isMenu bit
	,@isActive bit
	,@AddedBy nvarchar(256)
	--,@IsCategory BIT
AS
BEGIN
	IF (@ITId = 0)
	BEGIN
		INSERT INTO ROI_ITEMMain (
			ITName
			,PITId
			,IsArchived
			,AddedOn
			,IsCategory
			,IsMenu
			,IsActive
			,AddedBy
			)
		VALUES (
			@ITName
			,@PITId
			,0
			,GETDATE()
			,1
			,@isMenu
			,@isActive
			,@AddedBy
			)

		SELECT @@IDENTITY
	END
	ELSE
	BEGIN
		UPDATE ROI_ITEMMain
		SET ITName = @ITName
			,PITId = @PITId
			,IsUpdated = 1
			,UpdatedOn = GETDATE()
		WHERE ITId = @ITId
	END
END

GO
