
GO
/****** Object:  StoredProcedure [dbo].[USP_ROI_GetItemExtraListByItemID]    Script Date: 10/13/2017 4:10:10 PM ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
create procedure [dbo].[USP_ROI_GetItemExtraListByItemID]
@ItemId int 
as 
select * from RO_ExtraItem where ItemID=@ItemId


GO
