
GO
/****** Object:  StoredProcedure [dbo].[USP_ROI_txtSearchForItem]    Script Date: 10/13/2017 4:10:10 PM ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
--[dbo].[USP_ROI_txtSearchForItem] 'VegMomo' 
CREATE PROCEDURE [dbo].[USP_ROI_txtSearchForItem] @ItemName NVARCHAR(256)
AS
BEGIN
	SELECT rim.ITID AS ItemId
		,rim.ITName AS ItemName
		,rim.PITId AS PItemId
		,rid.ROrderLevel AS LEVEL
		,rid.ImagePath
		,rim.IsCategory
		,itR.SRate
	FROM dbo.ROI_ItemDetails rid
	LEFT JOIN dbo.ROI_ITEMMain rim ON rid.ITId = rim.ITId
	LEFT JOIN ROI_ItemRate itR ON itR.ItemID = rim.ITId
	--left join dbo.RO_Order_Detail rod on rim.ITId=rod.ItemId  
	WHERE rim.ITName = @ItemName
		AND rim.IsArchived <> 1
END


GO
