
GO
/****** Object:  StoredProcedure [dbo].[USP_PO_SAVEISSUEMAIN]    Script Date: 10/13/2017 4:10:10 PM ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE PROCEDURE [dbo].[USP_PO_SAVEISSUEMAIN] @IssuedToSTId INT
	,@IssuedFrSTId INT
	,@IssuedOn DATETIME
	,@IssuedBy VARCHAR(255)
AS
BEGIN
	DECLARE @ISNo INT
		,@ISNos NVARCHAR(50)

	SELECT TOP 1 @ISNos = ISNo
	FROM dbo.ROI_IssueMain
	ORDER BY IMID DESC

	SELECT TOP 1 @ISNo = items
	FROM DBO.Split(@ISNos, '_')
	ORDER BY items

	SET @ISNos = 'IS_' + cast(@ISNo + 1 AS VARCHAR(20))

	INSERT INTO dbo.ROI_IssueMain (
		ISNo
		,IssuedToSTId
		,IssuedFrSTId
		,IssuedOn
		,IssuedBy
		)
	VALUES (
		@ISNos
		,@IssuedToSTId
		,@IssuedFrSTId
		,@IssuedOn
		,@IssuedBy
		)

	SELECT *
	FROM ROI_IssueMain
	WHERE IMId = @@IDENTITY
END

GO
