
GO
/****** Object:  StoredProcedure [dbo].[USP_GETADJSMENT]    Script Date: 10/13/2017 4:10:10 PM ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE PROCEDURE [dbo].[USP_GETADJSMENT]
AS
BEGIN

SELECT * FROM DBO.ROI_AdjustmentMain a
join ROI_Store s on s.STId = a.STId

END



GO
