
GO
/****** Object:  StoredProcedure [dbo].[usp_GetAllBasicTableName]    Script Date: 10/13/2017 4:10:10 PM ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE PROCEDURE [dbo].[usp_GetAllBasicTableName]
AS
BEGIN
	SELECT TABLE_NAME  as Value
	FROM INFORMATION_SCHEMA.TABLES
	WHERE TABLE_TYPE = 'BASE TABLE' 
END


GO
