
GO
/****** Object:  StoredProcedure [dbo].[usp_getIngredientByID]    Script Date: 10/13/2017 4:10:10 PM ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO

-- usp_getIngredientByID 19
CREATE PROCEDURE [dbo].[usp_getIngredientByID] @ItemID INT
AS
SELECT ri.*
	,im.ITName +', '+ u1.Symbol as ITName
	--(select im.ITName +', '+ u1.Symbol as ITName from ROI_ITEMMain im JOIN ROI_Unit1 u1 ON u1.Unit1Id =ri.SmallUnit
FROM Ro_Ingredient ri
JOIN ROI_ITEMMain im ON ri.Ingredient = im.ITId
JOIN ROI_ItemDetails id ON id.ITId = ri.Ingredient
JOIN ROI_Unit1 u1 ON u1.Unit1Id =id.SmallUnit
WHERE ri.ItemID = @ItemID

GO
