
GO
/****** Object:  StoredProcedure [dbo].[ROI_SAVEPURCHASEDETAILS]    Script Date: 10/13/2017 4:10:10 PM ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE PROCEDURE [dbo].[ROI_SAVEPURCHASEDETAILS]
  @PurchaseMainID INT,
  @ItemID INT,
  @UsedUnitID INT,
  @Quentity decimal(18, 2),
  @QuentityText nvarchar(200),
  @UnitRate decimal(18, 2),
  @Total decimal(18, 2)
  ,@Conversion int
  --@StoreID int
  AS
  BEGIN
  INSERT INTO ROI_PurchaseDetails (PurchaseMainID,ItemID,UsedUnitID,Quentity,QuentityText,UnitRate,Total,Conversion) VALUES
  ( @PurchaseMainID,@ItemID, @UsedUnitID,@Quentity,@QuentityText, @UnitRate,@Total,@Conversion)
  Select @@IDENTITY
  END

GO
