
GO
/****** Object:  StoredProcedure [dbo].[USP_RO_GetOccupiedTables]    Script Date: 10/13/2017 4:10:10 PM ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO

CREATE PROCEDURE [dbo].[USP_RO_GetOccupiedTables]  
AS  
  
SELECT   
distinct   
rr.*  
,(SELECT TOP(1)convert(char(5),date, 108) [time] FROM dbo.RO_OrderMasters WHERE TableId= rr.restrotableId and BillPaid!=1 and IsCancelled!=1 ORDER BY OrderMasterID DESC) AS tabletime  
,(SELECT TOP(1)date FROM dbo.RO_OrderMasters WHERE TableId= rr.restrotableId and BillPaid!=1 and IsCancelled!=1 ORDER BY OrderMasterID DESC) AS tableDate  
,mt.*   ,(
				SELECT STUFF((
							SELECT '/' + restrotableTitle
							FROM RO_restroTable
							WHERE restrotableId IN (
									SELECT TableID
									FROM RO_MergeTable
									WHERE MergeTableList = (
											SELECT MergeTableList
											FROM RO_MergeTable
											WHERE TableID = rr.restrotableId
												AND MergeTableList != 0
											)
									)
							FOR XML PATH('')
								,TYPE
							).value('.', 'NVARCHAR(MAX)'), 1, 1, '')
				) AS MergeTableName
,(SELECT TOP(1)OrderMasterId FROM dbo.RO_OrderMasters WHERE TableId= rr.restrotableId and BillPaid!=1 and IsCancelled!=1 ORDER BY OrderMasterID DESC) AS OrderMasterId  

FROM dbo.RO_restroTable rr  
Inner JOIN dbo.RO_OrderMasters om ON om.TableId = rr.restrotableId   
inner join ro_order_detail od on om.OrderMasterID=od.OrderMasterId
left join dbo.RO_MergeTable mt on mt.TableID = rr.restrotableId  
WHERE  
om.BillPaid = 0   
AND   
rr.restrotableId != 0   
AND om.IsCancelled = 0 and om.OrderMasterID = dbo.fn_getMaxMasterId(rr.restrotableId)  
  
GO
