
GO
/****** Object:  StoredProcedure [dbo].[usp_roi_getBankInfoByFinancialAcID]    Script Date: 10/13/2017 4:10:10 PM ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
--usp_roi_getBankInfoByFinancialAcID 38
CREATE procedure [dbo].[usp_roi_getBankInfoByFinancialAcID]
@FinancialAcID int
as
select * from [dbo].[Ac_BankInfo] where FinancialAcID=@FinancialAcID

GO
