
GO
/****** Object:  StoredProcedure [dbo].[usp_getadjustmentDetails]    Script Date: 10/13/2017 4:10:10 PM ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE PROC [dbo].[usp_getadjustmentDetails]
AS
BEGIN
SELECT * FROM dbo.AdjustmentDetls ad
LEFT JOIN dbo.AdjustmentMain am ON	am.AMId = ad.AMId
END	


GO
