
GO
/****** Object:  StoredProcedure [dbo].[usp_NL_SaveNewsLetter]    Script Date: 10/13/2017 4:10:10 PM ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO

-- =============================================
-- Author:  <Author,,Name>
-- Create date: <Create Date,,>
-- Description: <Description,,>
-- =============================================
CREATE PROCEDURE [dbo].[usp_NL_SaveNewsLetter]
@Subject nvarchar(128),
@BodyMsg nvarchar(max),
@UserModuleID int,
@PortalID int
AS
BEGIN
 INSERT INTO DBO.NL_NewsLetter 
 ([Subject],Body,UserModuleID,PortalID,IsSubscribed,AddedOn)
 VALUES(@Subject,@BodyMsg,@UserModuleID,@PortalID,0,GETDATE())
END



GO
