
GO
/****** Object:  StoredProcedure [dbo].[USP_ROI_GoodReceivedmainSave]    Script Date: 10/13/2017 4:10:10 PM ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE  PROCEDURE [dbo].[USP_ROI_GoodReceivedmainSave]
@GMNo varchar(200),
@STId int,
@PostedBy varchar(200),
@PostedOn datetime
as
begin
	INSERT INTO RO_GoodsReceivedMain (GMNo, STId, PostedBy, PostedOn) 
	VALUES (@GMNo, @STId, @PostedBy, @PostedOn)
	SELECT @@IDENTITY
END



GO
