
GO
/****** Object:  StoredProcedure [dbo].[USP_RO_GETITEMBYCATEGORY]    Script Date: 10/13/2017 4:10:10 PM ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE PROCEDURE [dbo].[USP_RO_GETITEMBYCATEGORY]
(
@catID INT
)
AS
BEGIN
select * FROM  RO_Items
  WHERE dbo.RO_Items.CategoryID = @catID
end


GO
