
GO
/****** Object:  StoredProcedure [dbo].[usp_ac_getTransactionByID]    Script Date: 10/13/2017 4:10:10 PM ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE proc [dbo].[usp_ac_getTransactionByID]-- 13
@transactionID int
as
--declare @transactionID int=2
select fa.name as financialAcName,ttd.FinancialAcID,ttd.Particulars,ttd.Debit
,ttd.Credit,ttd.ChequeNo,ttd.ChequeDate,tt.PostedBy,cast(tt.PostedOn as date) as PostedOn,ttd.TransactionDetailID,tt.VoucherTypeID
from Ac_TempTransactionDetail ttd join Ac_FinancialAc fa on ttd.FinancialAcID=fa.FinancialAcID 
join Ac_TempTransaction tt on tt.TransactionID=ttd.TransactionID
where ttd.TransactionID=@transactionID

GO
