
GO
/****** Object:  StoredProcedure [dbo].[USP_RO_ORDERCANCEL]    Script Date: 10/13/2017 4:10:10 PM ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE PROCEDURE [dbo].[USP_RO_ORDERCANCEL]
@OrderMasterID INT,
@IsCancelled bit,
@TableId nvarchar(50),
@CancelReason nvarchar(max),
@CancelBy  nvarchar(250)
AS
BEGIN

Update dbo.RO_OrderMasters Set

IsCancelled = @IsCancelled,
CancelReason =@CancelReason,
CancelBy = @CancelBy,
CancelDate = getdate()

WHERE OrderMasterID = @OrderMasterID


if(@IsCancelled = 0)
begin
 update RO_restroTable

set 
restrotablesStatusID = 7
where restrotableId = @TableId -- and @IsCancelled = 0
end
else
 begin
 
 update dbo.RO_restroTable Set
 restrotablesStatusID = 6 where restrotableId = @TableId-- or RO_restroTable.restrotableId = @val;

update RO_MergeTable 
set 
MergeTableList = 0 
where MergeTableList = @tableId  
end



end


GO
