
GO
/****** Object:  StoredProcedure [dbo].[usp_PortalIsParent]    Script Date: 10/13/2017 4:10:10 PM ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO

CREATE PROC [dbo].[usp_PortalIsParent]
@PortalID int
AS
BEGIN
SELECT IsParent From [dbo].[Portal] WHERE PortalID=@PortalID
END



GO
