
GO
/****** Object:  StoredProcedure [dbo].[USP_GetCostCenter]    Script Date: 10/13/2017 4:10:10 PM ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE PROCEDURE [dbo].[USP_GetCostCenter]
as
begin

select CostCenterID, CostCenterName from dbo.CostCenterInfo
end


GO
