
GO
/****** Object:  StoredProcedure [dbo].[usp_DeleteGroupItemByID]    Script Date: 10/13/2017 4:10:10 PM ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE proc [dbo].[usp_DeleteGroupItemByID]
@ids int
as
update Roi_GroupWithItem set IsArchived=1 where GroupID=@ids

GO
