
GO
/****** Object:  StoredProcedure [dbo].[USP_ROI_GoodReceivedDetailsSave]    Script Date: 10/13/2017 4:10:10 PM ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE  PROCEDURE [dbo].[USP_ROI_GoodReceivedDetailsSave]
@GMId int,
@PDId int,
@Qnty decimal(18,2)
as
begin
	
	
	INSERT INTO RO_GoodsReceivedDetls(GMId, PDId, Qnty) 
	VALUES (@GMId, @PDId, @Qnty)

	--DECLARE @PQTS DECIMAL(18,2)
	--select @PQTS =Quentity from ROI_PurchaseDetails where PurchaseDetailsID = @PDId
	
	--DECLARE @SUM DECIMAL(18,2)
	--SET @SUM = (@PQTS - @Qnty)
	--UPDATE ROI_PurchaseDetails SET Quentity = @SUM where PurchaseDetailsID = @PDId
	
	
	--SELECT @@IDENTITY
END

--SELECT * FROM RO_GoodsReceivedDetls



GO
