
GO
/****** Object:  StoredProcedure [dbo].[USP_RO_REPORT_BYPAYMENTMODE]    Script Date: 10/13/2017 4:10:10 PM ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE PROC [dbo].[USP_RO_REPORT_BYPAYMENTMODE]
@date DATETIME, 
@SPMID INT
AS
BEGIN
SELECT 
SUM(sm.NetAmount)
 FROM dbo.RO_SalesMaster sm WHERE CAST(BillDate AS DATE)=CAST(@date AS DATE) and sm.SPMID = @SPMID
END	



GO
