
GO
/****** Object:  StoredProcedure [dbo].[usp_NL_GetDataByEmail]    Script Date: 10/13/2017 4:10:10 PM ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO

-- =============================================
-- Author:  <Author,,Name>
-- Create date: <Create Date,,>
-- Description: <Description,,>
-- =============================================
CREATE PROCEDURE [dbo].[usp_NL_GetDataByEmail]
@Email NVARCHAR(128)
AS
BEGIN
 SELECT * FROM dbo.NL_EmailSubscriber WHERE SubscriberEmail=@Email AND IsSubscribed=1
END



GO
