
GO
/****** Object:  StoredProcedure [dbo].[usp_ro_GetUnpaidBills]    Script Date: 10/13/2017 4:10:10 PM ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE PROC [dbo].[usp_ro_GetUnpaidBills]
AS
BEGIN
	SELECT sm.salesMasterId
		,('RO' + fy.fyName + '-' + convert(varchar(max), (sm.InvoiceNo -fy.FirstSalesMasterID ))) AS BillNo
		,sm.NetAmount AS BillAmount
		,sm.RoomId
		,sm.SPMID
		,rr.restroRoom AS RoomName
		,sm.TableId
		,rt.restrotableTitle AS TableName
		,sm.CusName AS Customer
	FROM RO_SalesMaster sm
	INNER JOIN RO_fiscalYear fy ON fy.fyId = sm.FiscalYearID    
	LEFT JOIN RO_RestroRoom rr ON rr.restroRoomId = sm.RoomId
	LEFT JOIN RO_restroTable rt ON rt.restrotableId = sm.TableId
	WHERE IsUpdated = 0
END


GO
