
GO
/****** Object:  StoredProcedure [dbo].[usp_AvailableModulesUpdate]    Script Date: 10/13/2017 4:10:10 PM ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO

CREATE PROCEDURE [dbo].[usp_AvailableModulesUpdate]
 @FileName NVARCHAR(256)
AS
BEGIN

 SET NOCOUNT ON;
UPDATE [dbo].[AvailableModules]
SET [IsDeleted]=1 ,[DeletedOn]=GETDATE()
WHERE FolderName=@FileName

END



GO
