
GO
/****** Object:  StoredProcedure [dbo].[usp_RO_MonthlyClosingTotalSalesStatement]    Script Date: 10/13/2017 4:10:10 PM ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
-- usp_RO_MonthlyClosingTotalSalesStatement'2017-09-17 0:0','2017-09-17 23:59'
CREATE PROC [dbo].[usp_RO_MonthlyClosingTotalSalesStatement] @startDate DATETIME
	,@endDate DATETIME
AS
BEGIN
	--declare @startDate date='2017-09-13 0:0', @endDate date='2017-09-22 23:59'
	SELECT --cast(sm.BillDate as DATE) as [DATE], 
		convert(VARCHAR(11), @startDate) + ' / ' + convert(VARCHAR(10), DAY(@endDate)) AS [date]
		,isnull(sum(1), 0) AS [BillNo]
		,isnull(SUM(sm.BasicAmount), 0) AS [TotalAll]
		,isnull(sum(sm.sumBev), 0) AS BEV
		,isnull(sum(SM.sumKot), 0) AS KOT
		,isnull(sum(sm.totaldiscount), 0) AS [DISCOUNT]
		,isnull(sum(sm.sumBev + sm.sumKot), 0) AS Total
		,isnull(sum(isnull(b1.Amount, 0)), 0) AS ServiceCharge
		,isnull(sum(isnull(b2.Amount, 0)), 0) AS TaxCharge
		,isnull(sum(sm.NetAmount), 0) AS NetAmount
		,isnull(sum(sm.NetAmount) / sum(1), 0) AS [SalesPerBill]
	--,sum(1) 
	FROM RO_SalesMaster sm
	left JOIN RO_BillingAmount b1 ON B1.SalesMasterID = sm.salesMasterId
		AND b1.BilingID = 62
	left JOIN RO_BillingAmount b2 ON B2.SalesMasterID = sm.salesMasterId
		AND b2.BilingID = 54
	WHERE
		--cast(sm.BillDate as DATE) = CAST(@DATE as date) 
		(
			sm.BillDate BETWEEN @startDate
				AND @endDate
			)
			and sm.IsArchived<>1
		--group by cast(sm.BillDate as DATE)  
		--order by [DATE] asc
END


GO
