
GO
/****** Object:  StoredProcedure [dbo].[usp_getcombomenu]    Script Date: 10/13/2017 4:10:10 PM ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
create procedure [dbo].[usp_getcombomenu]
as
begin
select ComboID,
		Name,
		ImagePath from dbo.RO_Combo

end


GO
