
GO
/****** Object:  StoredProcedure [dbo].[usp_UpdateSuspendedIP]    Script Date: 10/13/2017 4:10:11 PM ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE PROC [dbo].[usp_UpdateSuspendedIP]
@SuspendedIPID NVARCHAR(50),
@IsSuspended NVARCHAR(50)
AS
BEGIN
	UPDATE dbo.SuspendedIP  SET IsSuspended=@IsSuspended WHERE IpAddressID=@SuspendedIPID
END


GO
