
GO
/****** Object:  StoredProcedure [dbo].[usp_TutorialRssContentGet]    Script Date: 10/13/2017 4:10:11 PM ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO

CREATE PROCEDURE [dbo].[usp_TutorialRssContentGet]
 AS
BEGIN
SET NOCOUNT ON ; SELECT
 TutorialContent
FROM
 dbo.TutorialRssContent
END



GO
