
GO
/****** Object:  StoredProcedure [dbo].[usp_TemplateGetPortalTemplate]    Script Date: 10/13/2017 4:10:11 PM ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO

CREATE PROC [dbo].[usp_TemplateGetPortalTemplate] 
AS
BEGIN
 SELECT
  TemplateName,
  PortalID
 FROM
  sftemplate
 END



GO
