
GO
/****** Object:  StoredProcedure [dbo].[USP_PO_DELETEMEMBERSHIP]    Script Date: 10/13/2017 4:10:10 PM ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE PROCEDURE [dbo].[USP_PO_DELETEMEMBERSHIP]
@MembershipID INT

AS
BEGIN

	DELETE FROM DBO.RO_LoyaltyMembership WHERE MembershipID = @MembershipID
END


GO
