
GO
/****** Object:  StoredProcedure [dbo].[usp_UserProfilePicDelete]    Script Date: 10/13/2017 4:10:11 PM ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO

CREATE PROC [dbo].[usp_UserProfilePicDelete]
(
@UserName NVARCHAR(250),
@PortalID INT
)
AS
BEGIN
UPDATE [dbo].[UserDetails]
SET [image]=''
WHERE UserName=@UserName and PortalID=@PortalID   
END



GO
