
GO
/****** Object:  StoredProcedure [dbo].[USP_GETUNITTB]    Script Date: 10/13/2017 4:10:10 PM ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO

CREATE PROCEDURE [dbo].[USP_GETUNITTB]
AS
BEGIN

select * from [dbo].[FGetUnitTB]() where Conversion>1

END








GO
