
GO
/****** Object:  StoredProcedure [dbo].[ClosingReport_StateWise]    Script Date: 10/13/2017 4:10:10 PM ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
--[ClosingReport_StateWise] '2017-07-03'

CREATE PROC [dbo].[ClosingReport_StateWise] @DATE DATE
AS
BEGIN
	--DECLARE @DATE DATE = '2017-07-03'

	SELECT 'Food' ITName
		,isnull(sum(amount),0) Amount
		,1 [level]
	FROM RO_SalesMaster sm
	INNER JOIN RO_SalesDetail sd ON sm.salesMasterId = sd.salesMasterId
	INNER JOIN CostCenterInfo cci ON sd.CostCenterId = cci.CostCenterId
	WHERE cast(sm.BillDate AS DATE) = CAST(@DATE AS DATE)
		AND sd.IsCombo = 0
		AND (
			sd.CostCenterId = 1
			OR sd.CostCenterId = 95
			OR sd.CostCenterId = 97
			)
	
	UNION
	
	SELECT 'Beverage' Title
		,isnull(sum(amount),0) Amount
		,2 [level]
	FROM RO_SalesMaster sm
	INNER JOIN RO_SalesDetail sd ON sm.salesMasterId = sd.salesMasterId
	INNER JOIN CostCenterInfo cci ON sd.CostCenterId = cci.CostCenterId
	WHERE cast(sm.BillDate AS DATE) = CAST(@DATE AS DATE)
		AND sd.IsCombo = 0
		AND (sd.CostCenterId = 2)
		order by [level] asc
END


GO
