
GO
/****** Object:  StoredProcedure [dbo].[USP_RO_deleteBillingTermDetails]    Script Date: 10/13/2017 4:10:10 PM ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO


CREATE procedure [dbo].[USP_RO_deleteBillingTermDetails]
@billtermId int
as

delete from dbo.RO_BillTermDetails where BilingID=@billtermId



GO
