
GO
/****** Object:  StoredProcedure [dbo].[usp_SageBannerGetFileName]    Script Date: 10/13/2017 4:10:10 PM ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO

CREATE PROCEDURE [dbo].[usp_SageBannerGetFileName]
@ImageId INT
AS
BEGIN
 SELECT ImagePath FROM BannerImage WHERE ImageID=@ImageId
END



GO
