
GO
/****** Object:  StoredProcedure [dbo].[USP_RO_GETRESTROROOM]    Script Date: 10/13/2017 4:10:10 PM ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE PROC [dbo].[USP_RO_GETRESTROROOM]
AS
BEGIN
	select * from RO_RestroRoom
END


GO
