
GO
/****** Object:  StoredProcedure [dbo].[USP_ROI_GETITEMRATE]    Script Date: 10/13/2017 4:10:10 PM ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE PROCEDURE [dbo].[USP_ROI_GETITEMRATE]

AS
BEGIN

	SELECT IR.ItemRateID,
	IR.ItemID,
	IR.UnitID,
	IR.PRate,
	IR.SRate,
	IM.ITId,
	IM.ITName,
	IR.ValidFrom AS Validfroms
	FROM DBO.ROI_ITEMRATE IR
	INNER JOIN DBO.ROI_ITEMMain IM ON IM.ITId = IR.ItemID
END




GO
