
GO
/****** Object:  StoredProcedure [dbo].[usp_GetSuspendedIP]    Script Date: 10/13/2017 4:10:10 PM ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE PROC [dbo].[usp_GetSuspendedIP]
AS
BEGIN
SELECT IPAddressID,IpAddress,SuspendedTime,IsSuspended FROM dbo.SuspendedIP WHERE IsSuspended=1
END


GO
