
GO
/****** Object:  StoredProcedure [dbo].[USP_UPDATE_MEMBERSHIP]    Script Date: 10/13/2017 4:10:11 PM ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE PROCEDURE [dbo].[USP_UPDATE_MEMBERSHIP]  
(
@MembershipID int,  
@RemainingBalance decimal(16,2),
@PayAmount decimal(16,2),
@AddedBy nvarchar(256)
)  
AS  
  
BEGIN  
 Update  RO_LoyaltyMembership set   
 RemainingBalance += @RemainingBalance  
 where MembershipID=@MembershipID  

INSERT INTO [dbo].[RO_MemberPay]
           ([MemberID]
           ,[RemainingAmount]
           ,[PayAmount]
           ,[AddedOn]
           ,[AddedBy]
           ,[IsActive])
     VALUES
           (@MembershipID,
		   @RemainingBalance,
		   @PayAmount,
		   GETDATE(),
		   @AddedBy,
		   1)


   
END  
--select * from tbl_cus_credit


GO
