
GO
/****** Object:  StoredProcedure [dbo].[USP_RO_GETITEMDetail]    Script Date: 10/13/2017 4:10:10 PM ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE PROCEDURE [dbo].[USP_RO_GETITEMDetail]    
@itemID int,  
@isCombo bit  
AS    
BEGIN    
if @isCombo = 1  
select Name ITName,CostCenterID ItemCostCentreID from RO_Combo  where ComboID = @itemID  
else  
select ITName,ItemCostCentreID from ROI_ITEMMain IM  
inner join ROI_ItemDetails ID on IM.ITId = ID.ITId  
where IM.ITId= @itemID
end 

GO
