
GO
/****** Object:  StoredProcedure [dbo].[USP_RO_SaveFiscalYear]    Script Date: 10/13/2017 4:10:10 PM ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO


CREATE PROC [dbo].[USP_RO_SaveFiscalYear]
@fyId INT,
@fyName NVARCHAR(256),
@StartDate DATETIME,
@EndDate DATETIME,
@AddedBy NVARCHAR(256),
@isActive BIT
AS
BEGIN
	IF	(@fyId = 0)
	INSERT INTO RO_fiscalYear(
		fyName,
		isActive,
		StartDate,
		EndDate,
		AddedBy,
		AddedOn
	)
	VALUES
	(
		@fyName ,
		@isActive  ,
		@StartDate  ,
		@EndDate  ,
		@AddedBy  ,
		GETDATE()   
	)
	ELSE
		UPDATE RO_fiscalYear
		SET			
			fyName = @fyName,
			isActive = @isActive,
			StartDate = @StartDate,
			EndDate = @EndDate,
			UpdatedBy = @AddedBy,
			UpdatedOn = GETDATE(),
			IsDeleted = 0
		WHERE fyId= @fyId
END


GO
