
GO
/****** Object:  StoredProcedure [dbo].[sp_LanguageGet]    Script Date: 10/13/2017 4:10:10 PM ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO

CREATE PROCEDURE [dbo].[sp_LanguageGet]
AS
BEGIN
SELECT LanguageID,CultureCode,CultureName,FallbackCulture  FROM dbo.Languages ORDER BY CultureName ASC ;
END;



GO
