
GO
/****** Object:  StoredProcedure [dbo].[sp_GetPagePermissionByRoleID]    Script Date: 10/13/2017 4:10:10 PM ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE PROCEDURE [dbo].[sp_GetPagePermissionByRoleID]
@PortalID INT,
@RoleID uniqueidentifier
AS
BEGIN

DECLARE @RoleName NVARCHAR(50)
SELECT @RoleName=RoleName FROM dbo.aspnet_Roles WHERE RoleID=@RoleID
IF(@PortalID>0)
SELECT  DISTINCT  P.PageID,
				  PermissionID = STUFF((SELECT ',' + convert(varchar(30), PermissionID) FROM PagePermission pp WHERE pp.RoleID = @RoleID AND pp.PageID=p.PageID  FOR XML PATH('')), 1, 1, ''),
				  pp.AllowAccess,
				  @RoleID as RoleID,
				  P.PortalID,
				  pp.Username,
				  pp.IsActive,
				  pp.AddedBy,
				  @RoleName as RoleName,
				  P.PageName
	FROM Pages p LEFT JOIN PagePermission pp
	ON pp.PageID = p.PageID AND pp.RoleID = @RoleID
	WHERE (P.PortalID = @PortalID)
	ORDER BY p.PageID
ELSE
SELECT  DISTINCT  P.PageID,
				  PermissionID = STUFF((SELECT ',' + convert(varchar(30), PermissionID) FROM PagePermission pp WHERE pp.RoleID = @RoleID AND pp.PageID=p.PageID  FOR XML PATH('')), 1, 1, ''),
				  pp.AllowAccess,
				  @RoleID as RoleID,
				  P.PortalID,
				  pp.Username,
				  pp.IsActive,
				  pp.AddedBy,
				  @RoleName as RoleName,
				  P.PageName
	FROM Pages p LEFT JOIN PagePermission pp
	ON pp.PageID = p.PageID AND pp.RoleID = @RoleID
	WHERE P.PortalID = @PortalID AND P.Level=1
	ORDER BY p.PageID

END


GO
