
GO
/****** Object:  StoredProcedure [dbo].[USP_RO_DELETECARDPROVIDER]    Script Date: 10/13/2017 4:10:10 PM ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO


Create proc [dbo].[USP_RO_DELETECARDPROVIDER]
@ProviderID int
as
begin
delete from RO_CardProvider where ProviderID = @ProviderID
end




GO
