
GO
/****** Object:  StoredProcedure [dbo].[usp_roi_SaveItemsOfRestro]    Script Date: 10/13/2017 4:10:10 PM ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
--[usp_roi_SaveItemsOfRestro] 0,0,"testin26",true,false,"superuser"
CREATE PROCEDURE [dbo].[usp_roi_SaveItemsOfRestro] @ITId INT
	,@PITId INT
	,@ITName NVARCHAR(250)
	,@IsMenu BIT
	,@IsActive BIT
	,@AddedBy NVARCHAR(256)
AS
IF (@ITId = 0)
BEGIN
	INSERT INTO ROI_ITEMMain (
		PITId
		,ITName
		,IsMenu
		,IsCategory
		,IsActive
		,AddedBy
		,AddedOn
		,IsArchived
		)
	VALUES (
		@PITId
		,@ITName
		,@IsMenu
		,0
		,@IsActive
		,@AddedBy
		,GETDATE()
		,0
		)
	SELECT cast(@@IDENTITY AS INT)
END
ELSE
BEGIN
	update ROI_ITEMMain 
	set
		PITId=@PITId
		,ITName=@ITName
		,IsMenu=@IsMenu
		,IsActive=@IsActive
		,UpdatedBy=@AddedBy
		,UpdatedOn=GETDATE() where ITId=@ITId
	SELECT cast(@ITId AS INT)
END


GO
