
GO
/****** Object:  StoredProcedure [dbo].[USP_RO_GETMENU]    Script Date: 10/13/2017 4:10:10 PM ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE PROCEDURE [dbo].[USP_RO_GETMENU]  
AS  
BEGIN  
select m.ITID as ItemId,   
m.ITName as ItemName,  
m.PITId as PItemId,  
d.ROrderLevel as Level,  
d.ImagePath  
,d.IsProdMaterial    
  from ROI_ITEMMain m    
left join ROI_ItemDetails d on d.ITId = m.ITId  
where ROrderLevel = 1   
and m.IsArchived=0 and m.IsMenu=1 
order by itemid asc
end  
  


GO
