
GO
/****** Object:  StoredProcedure [dbo].[USP_ROI_DeleteAdjustmentType]    Script Date: 10/13/2017 4:10:10 PM ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE procedure [dbo].[USP_ROI_DeleteAdjustmentType]
@id int,
@Username nvarchar(256)
as

update Ro_AdjustmentType set IsDeleted=1,DeletedBy=@Username,DeletedOn=GETDATE() where AdjustmentTypeID=@id 

GO
