
GO
/****** Object:  StoredProcedure [dbo].[usp_getdatabyeRange]    Script Date: 10/13/2017 4:10:10 PM ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE procedure [dbo].[usp_getdatabyeRange]
@StartDate datetime,
@Todate datetime
as
begin
select 
om.Date,
om.BasicAmount,
om.UserName,
rt.restrotableTitle,
rr.restroRoom
 from dbo.RO_OrderMasters om
 left join dbo.RO_restroTable rt on rt.restrotableId = om.TableId
 left join RO_RestroRoom rr on rr.restroRoomId=om.RoomId
 where om.Date between @StartDate and @Todate

end




GO
