
GO
/****** Object:  StoredProcedure [dbo].[usp_ro_getbasicsumamount]    Script Date: 10/13/2017 4:10:10 PM ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
create proc [dbo].[usp_ro_getbasicsumamount]
@Todaydate DateTime
as
begin
 select sum(om.BasicAmount) as sumAmount from RO_OrderMasters om
 where cast(om.Date as Date)=@Todaydate
end


GO
