
GO
/****** Object:  StoredProcedure [dbo].[USP_RO_CheckDuplicteTableName]    Script Date: 10/13/2017 4:10:10 PM ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE PROC [dbo].[USP_RO_CheckDuplicteTableName]
@TableName VARCHAR(250)
AS
BEGIN
	SELECT restrotableTitle FROM RO_restroTable WHERE restrotableTitle = @TableName
END



GO
