
GO
/****** Object:  StoredProcedure [dbo].[RO_saveTable]    Script Date: 10/13/2017 4:10:10 PM ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
--create table RO_restroTable
--(
--	restrotableId int primary key identity(1,1),
--	restrotableTitle varchar(128)
--)

CREATE proc [dbo].[RO_saveTable]
@restrotableId int,
@restrotableTitle varchar(128),
@restroRoomId int,
@SeatNo int
as
begin
	if(@restrotableId=0)
	begin
	insert into RO_restroTable(restrotableTitle, restroRoomId, Seatcap, restrotablesStatusID) values(@restrotableTitle, @restroRoomId, @SeatNo, 6)
	end
	else
	begin
		update RO_restroTable set
		restrotableTitle=@restrotableTitle,
		restroRoomId = @restroRoomId,
		Seatcap = @SeatNo
		where restrotableId=@restrotableId
	end
end
select * from RO_restroTable



GO
