
GO
/****** Object:  StoredProcedure [dbo].[USP_ROI_GetItemForSearch]    Script Date: 10/13/2017 4:10:10 PM ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE PROCEDURE [dbo].[USP_ROI_GetItemForSearch]
AS
BEGIN
select rim.ITId,rim.ITName,ir.LargeUnit,u1.UnitDescription,u1.Symbol, rim.IsCategory
 from dbo.ROI_ITEMMain rim
 join dbo.ROI_ItemDetails id on id.ITId=rim.ITId
 join ROI_ItemRate ir on ir.ItemID=rim.ITId
 left join ROI_Unit1 u1 on u1.Unit1Id=ir.LargeUnit
 where rim.PITId!=0 and rim.IsArchived=0
 --and id.IsProdMaterial=0 
 and rim.IsActive=1 and rim.IsMenu=1
 --and rim.IsCategory is not null and rim.IsCategory=0
end

GO
