
GO
/****** Object:  StoredProcedure [dbo].[usp_DoesClosingExist]    Script Date: 10/13/2017 4:10:10 PM ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
create procedure [dbo].[usp_DoesClosingExist]
as
select * from tbl_ROVaultTotal rvt left join tbl_Roi_Data rda on rvt.TotalID=rda.TID  where IsClosing=1 and convert(date,[Date])=CONVERT(date,GETDATE())


GO
