
GO
/****** Object:  StoredProcedure [dbo].[sp_SettingUpdate]    Script Date: 10/13/2017 4:10:10 PM ******/
SET ANSI_NULLS OFF
GO
SET QUOTED_IDENTIFIER ON
GO

CREATE PROCEDURE [dbo].[sp_SettingUpdate]
 @SettingID INT, 
 @Name NVARCHAR(200), 
 @Value NVARCHAR(2000), 
 @Description NTEXT
AS

UPDATE 
 [dbo].[Setting] 
SET
 [Name] = @Name,
 [Value] = @Value,
 [Description] = @Description
WHERE 
 [SettingID] = @SettingID



GO
