
GO
/****** Object:  StoredProcedure [dbo].[usp_SaveTransactionForPurchase]    Script Date: 10/13/2017 4:10:10 PM ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
-- usp_SaveTransactionForPurchase 1  
CREATE PROC [dbo].[usp_SaveTransactionForPurchase] @PurchaseMainID INT
AS
BEGIN
	DECLARE @PREFX NVARCHAR(10)
		,@VoucherCount INT = 0
		,@VoucherTypeID INT = 16
		,@VoucherNo NVARCHAR(50) = ''
	DECLARE @BillDate DATETIME
		,@Description NVARCHAR(256) = ''
	DECLARE @TransactionID INT = 0
	DECLARE @FoodSales DECIMAL(16, 2) = 0;
	DECLARE @MembershipID INT = 0
	DECLARE @MemberPayId VARCHAR(128) = 0
	DECLARE @PayAmount DECIMAL(18, 2) = 0
	DECLARE @netamount DECIMAL(18, 2) = 0;
	DECLARE @isvat BIT = 0;

	IF (
			(
				SELECT SPMID
				FROM ROI_PurchaseMain
				WHERE PurchaseMainID = @PurchaseMainID
				) = 1
			)
	BEGIN
		SELECT @VoucherCount = 0
			,@VoucherTypeID = 25
			,@VoucherNo = ''

		SELECT @PREFX = Prefix
			,@VoucherCount = VoucherCount
		FROM Ac_VoucherType
		WHERE VoucherTypeID = @VoucherTypeID

		SET @VoucherCount = @VoucherCount + 1
		--update Ac_VoucherType set VoucherCount= @VoucherCount where VoucherTypeID = @VoucherTypeID    
		SET @VoucherNo = @PREFX + '-' + cast(@VoucherCount AS VARCHAR(20))
		SET @Description = ''

		SELECT @BillDate = PbDate
			,@Description = 'Purchase No :-' + cast(SM.PuNo AS NVARCHAR(20))
		FROM ROI_PurchaseMain SM
		WHERE PurchaseMainID = @PurchaseMainID

		--select @PREFX,@VoucherCount,@VoucherTypeID,@BillDate,@Description,@VoucherNo    
		SET @TransactionID = 0

		INSERT INTO Ac_TempTransaction (
			TransactionDate
			,VoucherTypeID
			,VoucherNo
			,Descriptions
			,PostedBy
			,PostedOn
			)
		VALUES (
			@BillDate
			,@VoucherTypeID
			,@VoucherNo
			,@Description
			,'System'
			,@BillDate
			)

		SET @TransactionID = @@IDENTITY
		-- Food Sales    
		SET @FoodSales = 0;

		SELECT @FoodSales = SUM(Quentity * UnitRate)
		FROM ROI_PurchaseDetails
		WHERE PurchaseMainID = @PurchaseMainID

		SELECT @FoodSales = (SUM(Quentity * UnitRate)) * 1.13
		FROM ROI_PurchaseDetails
		WHERE PurchaseMainID = @PurchaseMainID

		--select @FoodSales = SUM(Quentity*UnitRate) from ROI_PurchaseDetails where PurchaseMainID = @PurchaseMainID    
		IF ISNULL(@FoodSales, 0) <> 0
		BEGIN
			INSERT INTO Ac_TempTransactionDetail (
				TransactionID
				,FinancialAcID
				,MemberShipID
				,Particulars
				,Debit
				,Credit
				)
			VALUES (
				@TransactionID
				,96
				,NULL
				,'Regural Purchase'
				,@FoodSales
				,0
				)
		END

		-- Cash   
		SET @FoodSales = NULL;
		SET @isvat = (
				SELECT isnull(IsVat, 0) AS IsVat
				FROM ROI_PurchaseMain pm
				JOIN RO_LoyaltyMembership lm ON pm.Vid = lm.MembershipID
				WHERE PurchaseMainID = @PurchaseMainID
				)

		IF (@isvat = 0)
		BEGIN
			SELECT @FoodSales = SUM(Quentity * UnitRate)
			FROM ROI_PurchaseDetails
			WHERE PurchaseMainID = @PurchaseMainID
		END
		ELSE
		BEGIN
			SELECT @FoodSales = (SUM(Quentity * UnitRate)) * 1.13
			FROM ROI_PurchaseDetails
			WHERE PurchaseMainID = @PurchaseMainID
		END

		IF ISNULL(@FoodSales, 0) <> 0
			INSERT INTO Ac_TempTransactionDetail (
				TransactionID
				,FinancialAcID
				,MemberShipID
				,Particulars
				,Debit
				,Credit
				)
			VALUES (
				@TransactionID
				,10
				,NULL
				,'Received Cash'
				,0
				,@FoodSales
				)

		-- Vat
		SET @FoodSales = NULL;

		IF (@isvat = 1)
		BEGIN
			SELECT @FoodSales = (SUM(Quentity * UnitRate)) * 0.13
			FROM ROI_PurchaseDetails
			WHERE PurchaseMainID = @PurchaseMainID
		END

		IF ISNULL(@FoodSales, 0) <> 0
			INSERT INTO Ac_TempTransactionDetail (
				TransactionID
				,FinancialAcID
				,MemberShipID
				,Particulars
				,Debit
				,Credit
				)
			VALUES (
				@TransactionID
				,110
				,NULL
				,'Received Vat'
				,@FoodSales
				,0
				)
	END
	ELSE
	BEGIN
		SELECT @VoucherCount = 0
			,@VoucherTypeID = 25
			,@VoucherNo = ''

		SELECT @PREFX = Prefix
			,@VoucherCount = VoucherCount
		FROM Ac_VoucherType
		WHERE VoucherTypeID = @VoucherTypeID

		SET @VoucherCount = @VoucherCount + 1
		--update Ac_VoucherType set VoucherCount= @VoucherCount where VoucherTypeID = @VoucherTypeID    
		SET @VoucherNo = @PREFX + '-' + cast(@VoucherCount AS VARCHAR(20))
		SET @Description = ''

		SELECT @BillDate = PbDate
			,@Description = 'Purchase No :-' + cast(SM.PuNo AS NVARCHAR(20))
		FROM ROI_PurchaseMain SM
		WHERE PurchaseMainID = @PurchaseMainID

		--select @PREFX,@VoucherCount,@VoucherTypeID,@BillDate,@Description,@VoucherNo    
		SET @TransactionID = 0

		INSERT INTO Ac_TempTransaction (
			TransactionDate
			,VoucherTypeID
			,VoucherNo
			,Descriptions
			,PostedBy
			,PostedOn
			)
		VALUES (
			@BillDate
			,@VoucherTypeID
			,@VoucherNo
			,@Description
			,'System'
			,@BillDate
			)

		SET @TransactionID = @@IDENTITY
		-- Food Sales    
		SET @FoodSales = 0;

		SELECT @FoodSales = SUM(Quentity * UnitRate)
		FROM ROI_PurchaseDetails
		WHERE PurchaseMainID = @PurchaseMainID

		IF ISNULL(@FoodSales, 0) <> 0
		BEGIN
			INSERT INTO Ac_TempTransactionDetail (
				TransactionID
				,FinancialAcID
				,MemberShipID
				,Particulars
				,Debit
				,Credit
				)
			VALUES (
				@TransactionID
				,96
				,NULL
				,'Regural Purchase'
				,@FoodSales
				,0
				)
		END

		-- Cash   
		SET @FoodSales = NULL;
		SET @MembershipID = (
				SELECT Vid
				FROM ROI_PurchaseMain
				WHERE PurchaseMainID = @PurchaseMainID
				)
		SET @MemberPayId = 0

		SELECT @MemberPayId = max(MemberPayID)
		FROM RO_MemberPay m
		WHERE m.MemberID = @MembershipID

		SET @PayAmount = (
				SELECT PayAmount
				FROM RO_MemberPay
				WHERE MemberPayID = @MemberPayId
				)

		SELECT @FoodSales = @PayAmount

		IF ISNULL(@FoodSales, 0) <> 0
			INSERT INTO Ac_TempTransactionDetail (
				TransactionID
				,FinancialAcID
				,MemberShipID
				,Particulars
				,Debit
				,Credit
				)
			VALUES (
				@TransactionID
				,10
				,NULL
				,'Given Cash'
				,0
				,@FoodSales
				)

		-- Vat
		SET @FoodSales = NULL;

		IF (@isvat = 1)
		BEGIN
			SELECT @FoodSales = (SUM(Quentity * UnitRate)) * 0.13
			FROM ROI_PurchaseDetails
			WHERE PurchaseMainID = @PurchaseMainID
		END

		IF ISNULL(@FoodSales, 0) <> 0
			INSERT INTO Ac_TempTransactionDetail (
				TransactionID
				,FinancialAcID
				,MemberShipID
				,Particulars
				,Debit
				,Credit
				)
			VALUES (
				@TransactionID
				,110
				,NULL
				,'Received Vat'
				,@FoodSales
				,0
				)

		-- Credit Party 
		SET @FoodSales = NULL;
		SET @netamount = 0;
		SET @isvat = (
				SELECT isnull(IsVat, 0)
				FROM ROI_PurchaseMain pm
				JOIN RO_LoyaltyMembership lm ON pm.Vid = lm.MembershipID
				WHERE PurchaseMainID = @PurchaseMainID
				)

		IF (@isvat = 0)
		BEGIN
			SET @netamount = (
					SELECT sum(Quentity * UnitRate)
					FROM ROI_PurchaseDetails
					WHERE PurchaseMainID = @PurchaseMainID
					)
		END
		ELSE
		BEGIN
			SET @netamount = (
					SELECT (sum(Quentity * UnitRate)) * 1.13
					FROM ROI_PurchaseDetails
					WHERE PurchaseMainID = @PurchaseMainID
					)
				--select @FoodSales = (SUM(Quentity*UnitRate))*1.13 from ROI_PurchaseDetails where PurchaseMainID = @PurchaseMainID
		END

		SET @FoodSales = (@netamount - @PayAmount)

		IF ISNULL(@FoodSales, 0) <> 0
		BEGIN
			INSERT INTO Ac_TempTransactionDetail (
				TransactionID
				,FinancialAcID
				,MemberShipID
				,Particulars
				,Debit
				,Credit
				)
			VALUES (
				@TransactionID
				,93
				,@MembershipID
				,'Credit Party'
				,0
				,@FoodSales
				)
		END
	END
END
	--select * from RO_LoyaltyMembership
	-- select * from Ac_FinancialAc

GO
