
GO
/****** Object:  StoredProcedure [dbo].[USP_RO_GetTableByRoomTypeId]    Script Date: 10/13/2017 4:10:10 PM ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE PROC [dbo].[USP_RO_GetTableByRoomTypeId]
@RoomTypeId int
AS
BEGIN
	
	--select rt.*,rr.restroRoom, mt.*, (select restrotableTitle from RO_restroTable rt where rt.restrotableId = mt.MergeTableList) as MergeTableName FROM dbo.RO_restroTable rt
	--INNER JOIN dbo.RO_RestroRoom rr ON rr.restroRoomId = rt.restroRoomId
	--Inner join dbo.RO_MergeTable mt on mt.TableID = rt.restrotableId
	-- WHERE rt.restroRoomId = @RoomTypeId
	 
	 
	-- BY Avinash -------
	 select rt.*,
	 (SELECT TOP 1 convert(char(5), om.date, 108) [time] FROM RO_OrderMasters om inner join RO_Order_Detail od on om.OrderMasterID=od.OrderMasterId WHERE om.TableId = rt.restrotableId AND om.BillPaid =0 ORDER BY om.OrderMasterID DESC) AS tabletime,
	 (SELECT TOP 1 om.date FROM RO_OrderMasters om inner join RO_Order_Detail od on om.OrderMasterID=od.OrderMasterId WHERE om.TableId = rt.restrotableId AND om.BillPaid =0 ORDER BY om.OrderMasterID DESC) AS tabledate,
	 (SELECT TOP 1 om.BillPaid FROM RO_OrderMasters om inner join RO_Order_Detail od on om.OrderMasterID=od.OrderMasterId WHERE om.TableId = rt.restrotableId ORDER BY om.OrderMasterID DESC) as BillPaid,
	 (SELECT TOP 1 om.IsCancelled FROM RO_OrderMasters om WHERE om.TableId = rt.restrotableId ORDER BY OrderMasterID DESC) as IsCancelled, rr.restroRoom, mt.MergeID,mt.TableID,isnull(mt.MergeTableList,0) as MergeTableList, 
	 (select restrotableTitle from RO_restroTable rt where rt.restrotableId = mt.MergeTableList) as MergeTableName FROM dbo.RO_restroTable rt
	 INNER JOIN dbo.RO_RestroRoom rr ON rr.restroRoomId = rt.restroRoomId
	left join dbo.RO_MergeTable mt on mt.TableID = rt.restrotableId
	 WHERE rt.restroRoomId = @RoomTypeId
END


--SELECT  BillPaid from RO_OrderMasters order by TableId desc
--SELECT * FROM dbo. 

--.
--SELECT TOP 1 * FROM RO_OrderMasters  WHERE TableId = 71
--ORDER BY OrderMasterID DESC


GO
