
GO
/****** Object:  StoredProcedure [dbo].[USP_DELETESTORE]    Script Date: 10/13/2017 4:10:10 PM ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE procedure [dbo].[USP_DELETESTORE]
--@text nvarchar(1000) OUTPUT,
@STId INT,
@UserName nvarchar(256)
AS
BEGIN
declare @PSTId int
declare @text nvarchar(100)
Select @PSTId = count(*) From ROI_Store Where PSTId = @STId
IF @PSTId = 0
begin
	Update ROI_Store set IsDeleted = 1, DeletedOn = getdate(),DeletedBy = @UserName WHERE STId =@STId 
	--and PSTId!=@STId
	set @text='Successfully Deleted' 
	select @text as text
end
else
begin
set @text='Cannot Delete' 
select @text as text
--SELECT @@IDENTITY AS 'Identity';
end
END


GO
