
GO
/****** Object:  StoredProcedure [dbo].[sp_LogClear]    Script Date: 10/13/2017 4:10:10 PM ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO

CREATE PROCEDURE [dbo].[sp_LogClear]
@PortalID INT
AS
BEGIN
 SET NOCOUNT ON
 DELETE
 FROM [dbo].[Log]
 WHERE PortalID=@PortalID
END



GO
