
GO
/****** Object:  StoredProcedure [dbo].[usp_SaveItemWithUnit]    Script Date: 10/13/2017 4:10:10 PM ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE PROCEDURE [dbo].[usp_SaveItemWithUnit] @ItemID INT  
 --,@LargeUnit INT  
 --,@Conversion INT  
 --,@IsDefaultPurchaseUnit BIT = NULL  
 --,@IsDefaultSalesUnit BIT = NULL  
 ,@SalesRate DECIMAL(18, 2)  
 ,@ValidFrom DATETIME  
 ,@AddedBy NVARCHAR(250)  
 --,@IsExtra bit  
AS  
IF NOT EXISTS (  
  SELECT *  
  FROM ROI_ItemRate  
  WHERE ItemID = @ItemID  
  )  
BEGIN  
 INSERT INTO ROI_ItemRate(  
  ItemID  
  --,LargeUnit  
  --,Conversion  
  --,IsDefaultPurchaseUnit  
  --,IsDefaultSalesUnit  
  ,SRate  
  ,ValidFrom  
  ,PostedBy  
  ,PostedOn  
  ,IsArchived  
  --,IsExtra  
  )  
 VALUES (  
  @ItemID  
  --,@LargeUnit  
  --,@Conversion  
  --,@IsDefaultPurchaseUnit  
  --,@IsDefaultSalesUnit  
  ,@SalesRate  
  ,@ValidFrom  
  ,@AddedBy  
  ,GETDATE()  
  ,0  
  --,@IsExtra  
  )  

INSERT INTO [dbo].[ROI_ItemRateHistory]
           ([ItemID]
           ,[IsCombo]
           ,[AddedBy],Operation,Rate)
     VALUES
           (@ItemID
           ,0
           ,@AddedBy,1,@SalesRate)


END  
ELSE  
BEGIN  
 UPDATE ROI_ItemRate  
 SET 
 --LargeUnit = @LargeUnit  
 -- ,Conversion = @Conversion  
 -- ,IsDefaultPurchaseUnit = @IsDefaultPurchaseUnit  
 -- ,IsDefaultSalesUnit = @IsDefaultSalesUnit,  
  SRate = @SalesRate  
  ,ValidFrom = @ValidFrom  
  ,UpdatedBy = @AddedBy  
  ,UpdatedOn = GETDATE()  
 WHERE ItemID = @ItemID  
 
INSERT INTO [dbo].[ROI_ItemRateHistory]
           ([ItemID]
           ,[IsCombo]
           ,[AddedBy],Operation,Rate)
     VALUES
           (@ItemID
           ,0
           ,@AddedBy,2,@SalesRate)
END

GO
