
GO
/****** Object:  StoredProcedure [dbo].[USP_RO_CheckDuplicteRoomName]    Script Date: 10/13/2017 4:10:10 PM ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE PROC [dbo].[USP_RO_CheckDuplicteRoomName]
@RoomName VARCHAR(250)
AS 
BEGIN
	SELECT restroRoom FROM RO_RestroRoom WHERE restroRoom = @RoomName
END


GO
