
GO
/****** Object:  StoredProcedure [dbo].[USP_ROI_GetItemRateIdByItemId]    Script Date: 10/13/2017 4:10:10 PM ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE procedure [dbo].[USP_ROI_GetItemRateIdByItemId]
@ItemID int
as
select top(1) ItemRateID from ROI_ItemRate where ItemID =@ItemID 




GO
