
GO
/****** Object:  StoredProcedure [dbo].[USP_RO_DELETETABLE]    Script Date: 10/13/2017 4:10:10 PM ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE PROC [dbo].[USP_RO_DELETETABLE]
 @restrotableId INT
AS
BEGIN
	DELETE FROM dbo.RO_restroTable WHERE restrotableId=@restrotableId
END


GO
