
GO
/****** Object:  StoredProcedure [dbo].[usp_Ac_saveFinancialAc]    Script Date: 10/13/2017 4:10:10 PM ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
--***********************sp_5********************
CREATE PROC [dbo].[usp_Ac_saveFinancialAc] @FinancialAcID INT
	,@FinancialAcname NVARCHAR(256)
	,@PFinancialAcID INT
	,@FinancialSysID INT
	,@AddedBy NVARCHAR(256)
	,@OpeningBalance DECIMAL(18, 2) = NULL
AS
--declare @FinancialAcname nvarchar(256),@PFinancialAcID int,@FinancialSysID int
IF (@FinancialAcID = 0)
BEGIN
	INSERT INTO dbo.Ac_FinancialAc (
		NAME
		,PFinancialAcID
		,FinancialSysID
		,AddedBy
		,AddedOn
		,OpeningBalance
		)
	VALUES (
		@FinancialAcname
		,@PFinancialAcID
		,@FinancialSysID
		,@AddedBy
		,GETDATE()
		,@OpeningBalance
		)

	SELECT CAST(@@IDENTITY AS INT)
END
ELSE
BEGIN
	UPDATE dbo.Ac_FinancialAc
	SET NAME = @FinancialAcname
		,PFinancialAcID = @PFinancialAcID
		,FinancialSysID = @FinancialSysID
		,IsUpdated = 1
		,UpdatedBy = @AddedBy
		,UpdatedOn = GETDATE()
		,OpeningBalance = @OpeningBalance
	WHERE FinancialAcID = @FinancialAcID

	SELECT cast(@FinancialAcID AS INT)
END
		--select * from Ac_FinancialAc
		--UPDATE dbo.Ac_FinancialAc SET IsArchived = 0
--**************************sp_8****************

GO
