
GO
/****** Object:  StoredProcedure [dbo].[Usp_AccountSubGroupSelect]    Script Date: 10/13/2017 4:10:10 PM ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
create Proc [dbo].[Usp_AccountSubGroupSelect] 
(
	@Id Int  
)

As
		
----***************************************** Validation Begin ********************************************************

----***************************************** Validation End ********************************************************
SET NOCOUNT ON
SELECT 
	Id, 
	Code, 
	Name, 
	AccountGroupId
FROM AccountSubGroup 
WHERE  Id = @Id  




GO
