
GO
/****** Object:  StoredProcedure [dbo].[sp_SettingPortalBySettingID]    Script Date: 10/13/2017 4:10:10 PM ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO

CREATE PROCEDURE [dbo].[sp_SettingPortalBySettingID]
 @SettingID INT,
 @PortalID INT
AS
SELECT
 [SettingPortalID],
 [SettingID],
 [Value],
 [PortalID],
 (
  SELECT 
   [dbo].[Setting].[Name] 
  FROM
   [dbo].[Setting] 
  WHERE 
   [dbo].[Setting].[SettingID]=@SettingID
 ) AS [Name],
 (
  SELECT 
   [dbo].[Setting].[Value]  
  FROM 
   [dbo].[Setting] 
  WHERE 
   [dbo].[Setting].[SettingID]=@SettingID
 ) as [DefaultValue]
FROM 
 [dbo].[SettingPortal]
WHERE 
  PortalID=@PortalID 
 AND [SettingID]=@SettingID



GO
