
GO
/****** Object:  StoredProcedure [dbo].[USP_ROI_AdjustmentmainSave]    Script Date: 10/13/2017 4:10:10 PM ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE  PROCEDURE [dbo].[USP_ROI_AdjustmentmainSave]
@AMNo nvarchar(50),
@STId int,
@Remarks varchar(max),
@FYId varchar(200),
@PostedOn datetime,
@PostedBy varchar(200)
as
begin
	INSERT INTO ROI_AdjustmentMain (
	AMNo,
	STId,
	Remarks,
	FYId,
	PostedOn,
	PostedBy
	) 
	VALUES (
	
	@AMNo,
	@STId,
	@Remarks,
	@FYId,
	@PostedOn,
	@PostedBy
	)
	SELECT @@IDENTITY
END



GO
