
GO
/****** Object:  StoredProcedure [dbo].[usp_GetMembershipSettings]    Script Date: 10/13/2017 4:10:10 PM ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO

CREATE PROC [dbo].[usp_GetMembershipSettings]
AS
BEGIN
SELECT * FROM MembershipSettings
END



GO
