
GO
/****** Object:  StoredProcedure [dbo].[usp_DoesopeningExistOfCounterTotal]    Script Date: 10/13/2017 4:10:10 PM ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE procedure [dbo].[usp_DoesopeningExistOfCounterTotal]
@CCID int,
@CID int
as
select * from tbl_CounterTotal rvt left join tbl_Roi_Data rda on rvt.CTID=rda.CTID  where IsClosing=0 and convert(date,[Date])=CONVERT(date,GETDATE()) and CCID=@CCID and CID=@CID


GO
