
GO
/****** Object:  StoredProcedure [dbo].[USP_RO_GETROOMBYTABLE]    Script Date: 10/13/2017 4:10:10 PM ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
Create PROC [dbo].[USP_RO_GETROOMBYTABLE]

@TableId int
AS

BEGIN
	SELECT * FROM dbo.RO_RestroRoom inner join dbo.RO_restroTable on RO_RestroRoom.restroRoomId = RO_restroTable.restroRoomId 
	where RO_restroTable.restrotableId = @TableId
END	






GO
