
GO
/****** Object:  StoredProcedure [dbo].[usp_GetROIItemParint]    Script Date: 10/13/2017 4:10:10 PM ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE procedure [dbo].[usp_GetROIItemParint]
as
begin
SELECT * FROM ROI_ITEMMain m
inner join ROI_ItemDetails d on m.ITId = d.ITId where m.IsArchived=0 and m.IsCategory=1  order by m.ITName asc 
END


GO
