
GO
/****** Object:  StoredProcedure [dbo].[USP_ROI_getadjustmentType]    Script Date: 10/13/2017 4:10:10 PM ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE procedure [dbo].[USP_ROI_getadjustmentType]

AS
select * from Ro_AdjustmentType where ISNULL(IsDeleted,0)=0

GO
