
GO
/****** Object:  StoredProcedure [dbo].[usp_CounterPerson]    Script Date: 10/13/2017 4:10:10 PM ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
create procedure [dbo].[usp_CounterPerson]
as
SELECT [UserID]
      ,[Username]
  FROM [dbo].[Users]



GO
