
GO
/****** Object:  StoredProcedure [dbo].[usp_ro_sumweekly]    Script Date: 10/13/2017 4:10:10 PM ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE proc [dbo].[usp_ro_sumweekly]
@FromDate DateTime
as
begin 
	select sum(BasicAmount) as sumAmount from RO_OrderMasters	
	where cast(Date as date) between DateAdd(DD,-7,@FromDate) and @FromDate
end


GO
