
GO
/****** Object:  StoredProcedure [dbo].[usp_ro_updateOrderMaster]    Script Date: 10/13/2017 4:10:10 PM ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO

CREATE PROC [dbo].[usp_ro_updateOrderMaster] @OrderMasterId INT, 
                                            @termAmount    DECIMAL(8, 2), 
                                            @NetAmount     DECIMAL(8, 2),
											@splited int 
AS 
  BEGIN 
      DECLARE @IsSplit BIT 

      SELECT @IsSplit = issplit 
      FROM   ro_ordermasters 
      WHERE  ordermasterid = @OrderMasterId 

      DECLARE @remaning INT 

      IF @splited != 0 
        SELECT @remaning = Count(orderdetailsid) 
        FROM   dbo.ro_order_detail od 
               INNER JOIN dbo.ro_ordermasters om 
                       ON om.ordermasterid = od.ordermasterid 
        WHERE  od.ordermasterid = @OrderMasterId 
               AND Isnull(od.billpaid, 0) = 0 
               AND om.issplit = 1 
      ELSE 
        SET @remaning =0 

      IF( @remaning = 0 ) 
        BEGIN 
            UPDATE dbo.ro_ordermasters 
            SET    termamount = @termAmount, 
                   netamount = @NetAmount, 
                   billpaid = 1, 
                   isprinted = 0 
            WHERE  ordermasterid = @OrderMasterId 
        END 

  END 
--SELECT * FROM dbo.RO_OrderMasters where OrderMasterId = 6806 

GO
