
GO
/****** Object:  StoredProcedure [dbo].[USP_RO_ORDERDETAILSAVE]    Script Date: 10/13/2017 4:10:10 PM ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE PROCEDURE [dbo].[USP_RO_ORDERDETAILSAVE] (  
 @OrderDetailID INT  
 ,@OrderMasterID INT  
 ,@RO_ItemID INT  
 ,@Rate DECIMAL(18, 2)  
 ,@IsCancelled BIT  
 ,@Quantity INT  
 ,@Amount DECIMAL(18, 2)  
 ,@Note VARCHAR(256) = NULL  
 ,@ExtraCharge DECIMAL(18, 2)  
 ,@IsHomeDelivery BIT  
 ,@HomeDeliveyNumber INT  
 ,@SeatNo INT  
 ,@Status NVARCHAR(50)  
 ,@IsRunningOrder INT  
 ,@IsCombo BIT  
 )  
AS  
BEGIN  
 -- IF(@OrderDetailID=0)    
 DECLARE @val INT  
 DECLARE @Repeateditemno INT  
 DECLARE @Amount1 DECIMAL(18, 2)  
 DECLARE @Rate1 DECIMAL(18, 2)  
 DECLARE @CostCenterID int 
 if @IsCombo = 0  
 begin
 select @CostCenterID= ItemCostCentreID from ROI_ItemDetails WHERE ITId = @RO_ItemID 
	 SELECT @Rate1 = it.SRate  
	 FROM ROI_ItemRate it  
	 WHERE it.ItemID = @RO_ItemID 
 end 
 else   
 begin
	 SELECT @Rate1 = it.SalesPrice  ,@CostCenterID = it.CostCenterID
	 FROM RO_Combo it  
	 WHERE it.ComboID = @RO_ItemID  
 end
  
 SELECT @Amount1 = @Rate1 * @Quantity  
  
 SELECT @Repeateditemno = COUNT(OrderDetailsID)  
 FROM dbo.RO_Order_Detail  
 WHERE ROI_ItemId = @RO_ItemID  
  AND (  
   SELECT BillPaid  
   FROM dbo.RO_OrderMasters  
   WHERE OrderMasterID = @OrderDetailID  
   ) != 1  
  AND OrderMasterId = @OrderMasterID  
  
 BEGIN  
  INSERT INTO dbo.RO_Order_Detail (  
   OrderMasterID  
   ,ROI_ItemId  
   ,Rate  
   ,IsCancelled  
   ,Quantity  
   ,Amount  
   ,Note  
   ,ExtraCharge  
   ,IsHomeDelivery  
   ,HomeDeliveyNumber  
   ,SeatNo  
   ,CostCenterId  
   ,IsRunningOrder  
   ,IsCombo  
   )  
  VALUES (  
   @OrderMasterID  
   ,@RO_ItemID  
   ,@Rate1  
   ,@IsCancelled  
   ,@Quantity  
   ,@Amount1  
   ,@Note  
   ,@ExtraCharge  
   ,@IsHomeDelivery  
   ,@HomeDeliveyNumber  
   ,@SeatNo  
   ,@CostCenterID  
   ,@IsRunningOrder  
   ,@IsCombo  
   )  
  
  SELECT @@IDENTITY  
  
  SET @val = @@IDENTITY  
  
  INSERT INTO dbo.RO_OrderItemStatus (  
   OrderDetailID  
   ,StatusID  
   ,TIMESTAMP  
   )  
  VALUES (  
   @val  
   ,(  
    SELECT StatusID  
    FROM dbo.RO_ItemStatus  
    WHERE ItemStatus = @Status  
    )  
   ,GETDATE()  
   )  
 END  
END

GO
