
GO
/****** Object:  StoredProcedure [dbo].[usp_ScheduleDateGetNextMonth]    Script Date: 10/13/2017 4:10:10 PM ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO

CREATE PROCEDURE [dbo].[usp_ScheduleDateGetNextMonth] 
@ScheduleID INT,
@NextMonth NVARCHAR(10)
AS 
BEGIN
 SELECT MIN(MonthID) AS NextMonth FROM ScheduleMonth WHERE MonthID>DATEPART(M,CAST(@NextMonth AS DATETIME )) AND ScheduleID=@ScheduleID
END



GO
