
GO
/****** Object:  StoredProcedure [dbo].[usp_GetgridDatatable]    Script Date: 10/13/2017 4:10:10 PM ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
create procedure [dbo].[usp_GetgridDatatable]
as
select usr.Username,usr.AssignedCostCentre, ar.RoleName from users usr
inner join aspnet_Users aspuser on aspuser.UserName = usr.Username
inner join aspnet_UsersInRoles uir on uir.UserId = aspuser.UserId
inner join aspnet_Roles ar on ar.RoleId = uir.RoleId



GO
