
GO
/****** Object:  StoredProcedure [dbo].[usp_DashboardQuickLinkGetDetails]    Script Date: 10/13/2017 4:10:10 PM ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO

CREATE PROCEDURE [dbo].[usp_DashboardQuickLinkGetDetails]
 @QuickLinkItemID INT
AS
BEGIN
 select * FROM DashboardQuickLinks WHERE QuickLinkID=@QuickLinkItemID
END



GO
