
GO
/****** Object:  StoredProcedure [dbo].[usp_SEODeleteExistingRobots]    Script Date: 10/13/2017 4:10:10 PM ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO

CREATE PROCEDURE [dbo].[usp_SEODeleteExistingRobots]
@PortalID INT
AS
BEGIN
 DELETE FROM [dbo].[robots] WHERE PortalID NOT IN(SELECT PortalID FROM Portal)
 DELETE FROM  [dbo].[robots] WHERE PortalID=@PortalID
END



GO
