
GO
/****** Object:  StoredProcedure [dbo].[USP_RO_SaveBILLTERM_WITHID]    Script Date: 10/13/2017 4:10:10 PM ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
--     [dbo].[USP_RO_SaveBILLTERM_WITHID] 
CREATE PROCEDURE [dbo].[USP_RO_SaveBILLTERM_WITHID] @amount DECIMAL(18, 2)
	,@SaleMasterID INT
	,@BillingID INT
	,@rate DECIMAL(18, 2)
AS
BEGIN
	INSERT INTO RO_BillingAmount (
		BilingID
		,SalesMasterID
		,Amount
		,rate
		)
	VALUES (
		@BillingID
		,@SaleMasterID
		,@amount
		,@rate
		)
END


GO
