
GO
/****** Object:  StoredProcedure [dbo].[USP_RO_GETTABLEBYROOM]    Script Date: 10/13/2017 4:10:10 PM ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
--[dbo].[USP_RO_GETTABLEBYROOM]1
CREATE PROCEDURE [dbo].[USP_RO_GETTABLEBYROOM]
(
@RoomID INT
)
AS
BEGIN
select rt.restrotableId,
 rt.restrotableTitle,
  isnull(mt.MergeTableList,0) as MergeTableList
  ,isnull(mt.MergeID,rt.restrotableId) as MergeID
   ,(SELECT TOP 1 convert(char(5), om.date, 108) [time] FROM RO_OrderMasters om WHERE om.TableId = rt.restrotableId AND om.BillPaid =0 ORDER BY OrderMasterID DESC) AS tabletime,
	 (SELECT TOP 1 om.date FROM RO_OrderMasters om WHERE om.TableId = rt.restrotableId AND om.BillPaid =0 ORDER BY OrderMasterID DESC) AS tabledate,
	 (SELECT TOP(1)BillPaid FROM dbo.RO_OrderMasters WHERE TableId =rt.restrotableId ORDER BY OrderMasterID DESC) AS BillPaid
,(SELECT TOP(1)IsCancelled FROM dbo.RO_OrderMasters WHERE TableId =rt.restrotableId ORDER BY OrderMasterID DESC) AS IsCancelled   
FROM  dbo.RO_restroTable rt
left join RO_MergeTable AS mt on mt.TableID = rt.restrotableId
--left JOIN dbo.RO_OrderMasters om ON om.TableId = rt.restrotableId 
  WHERE rt.restroRoomId = @RoomID 
end



GO
