
GO
/****** Object:  StoredProcedure [dbo].[USP_GETMEMBERSHIPFORM]    Script Date: 10/13/2017 4:10:10 PM ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE PROCEDURE [dbo].[USP_GETMEMBERSHIPFORM]  
@customer int  
AS  
BEGIN  
  
select Fname + ' ' + Lname as Name, Address + ' ' + City + ' ' + Country as Addresss , [MembershipID]
      ,[Fname]
      ,[Lname]
      ,[Address]
      ,[City]
      ,[Country]
      ,[TelHome]
      ,[TelWork]
      ,[TelMobile]
      ,[Email]
      ,[Occupation]
      ,[Company]
      ,[Birthday]
      ,[Anniversary]
      ,[CardNumber]
      ,[DateOfIssue]
      ,[DateOfExpire]
      ,[discount]
      ,[PAN]
      ,[IsCustomer]
      ,[RemainingBalance]
      ,[UptoNowPaid]
	  ,[IsVat]
	   from dbo.RO_LoyaltyMembership where [IsCustomer]=@customer  
  
END


GO
