
GO
/****** Object:  StoredProcedure [dbo].[USP_RO_GETORDERDETAIL]    Script Date: 10/13/2017 4:10:10 PM ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
--[dbo].[USP_RO_GETORDERDETAIL] 133
CREATE PROCEDURE [dbo].[USP_RO_GETORDERDETAIL]  
@OrderMasterId int  
as  
begin  
 -- declare @OrderMasterId int=137
select ITName as ROI_ItemName,   
    ROI_ItemId as ItemId,  
	ROI_ItemId,
    OrderDetailsID,  
    OrderMasterId,  
    Quantity,  
    Rate,  
    Amount,  
    CostCenterId,  
    IsRunningOrder,  
    IsHomeDelivery,  
    HomeDeliveyNumber,  
    ExtraItem,  
    IsCombo,  
    IsActive,
	Note,
	SeatNo
     FROM  dbo.RO_Order_Detail od  
join ROI_ITEMMain im on od.ROI_ItemId = im.ITId  
  WHERE od.OrderMasterId = @OrderMasterId and ISCombo = 0
  
  --select * from RO_Order_Detail where OrderMasterId=153

  UNION


   -- declare @OrderMasterId int=488
select Name as ROI_ItemName,   
    ROI_ItemId as ItemId,  
	ROI_ItemId,
    OrderDetailsID,  
    OrderMasterId,  
    Quantity,  
    Rate,  
    Amount,  
    cm.CostCenterID,  
    IsRunningOrder,  
    IsHomeDelivery,  
    HomeDeliveyNumber,  
    ExtraItem,  
    IsCombo,  
    IsActive,
	Note,
	0
     FROM  dbo.RO_Order_Detail od  
inner join RO_Combo cm on cm.ComboID= od.ROI_ItemId
  WHERE od.OrderMasterId = @OrderMasterId and ISCombo = 1
end  




GO
