
GO
/****** Object:  StoredProcedure [dbo].[usp_ro_getdiscountfromcostcenter]    Script Date: 10/13/2017 4:10:10 PM ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE PROC [dbo].[usp_ro_getdiscountfromcostcenter]
AS
BEGIN
	SELECT CostCenterId,coDiscount FROM dbo.CostCenterInfo
END



GO
