
GO
/****** Object:  StoredProcedure [dbo].[usp_UserAgentGetType]    Script Date: 10/13/2017 4:10:11 PM ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO

CREATE PROC [dbo].[usp_UserAgentGetType] 
@PortalID INT,
 @IsActive BIT AS
BEGIN
 SELECT
  [AgentMode]
 FROM
  [DBO].[UserAgent]
 WHERE
  PortalID =@PortalID
 AND IsActive = @IsActive
 END



GO
