
GO
/****** Object:  StoredProcedure [dbo].[sp_SessionTrackerUpdateUsername]    Script Date: 10/13/2017 4:10:10 PM ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE PROCEDURE [dbo].[sp_SessionTrackerUpdateUsername]
 --@SessionTrackerID INT,
 @SessionID NVARCHAR(50),
 @UserName NVARCHAR(256),
 @PortalID INT
AS 
UPDATE 
 [dbo].[SessionTracker] 
SET 
 [Username]=@UserName,
 PortalID=@PortalID 
WHERE 
 --SessionTrackerID=@SessionTrackerID
 SessionID=@SessionID


GO
