ALTER PROCEDURE [dbo].[USP_ROI_AdjustmentDetailsSave] @AMId INT
	,@STID INT
	,@ITId INT
	,@UsedUnitId INT
	,@Qnty BIGINT
	,@QntyInText VARCHAR(MAX)
	,@AdType INT
	--,@PDId INT
	,@IsAdd BIT
AS
BEGIN
	DECLARE @result INT = 0

	SELECT @result = COUNT(1)
	FROM DBO.ROI_ITEMBal
	WHERE ITId = @ITID
		AND STId = @STID

	IF @result IS NULL
		SET @result = 0

	IF (@result = 0)
	BEGIN
		INSERT INTO ROI_ITEMBal (
			ITId
			--,PDId
			,STId
			,CLBal
			,OPBal
			)
		VALUES (
			@ITId
			--,'0'
			,@STId
			,@Qnty
			,0
			)
	END
	ELSE
	BEGIN
		IF (@IsAdd = 1)
		BEGIN
			UPDATE ROI_ITEMBal
			SET CLBal = CLBal + @Qnty
			WHERE ITId = @ITID
				AND STId = @STID
		END
		ELSE
		BEGIN
			UPDATE ROI_ITEMBal
			SET CLBal = CLBal - @Qnty
			WHERE ITId = @ITID
				AND STId = @STID
		END
	END

	INSERT INTO ROI_AdjustmentDetls (
		AMId
		,ITId
		,UsedUnitId
		,Qnty
		,QntyInText
		,AdType
		--,PDId
		,IsAdd
		)
	VALUES (
		@AMId
		,@ITId
		,@UsedUnitId
		,@Qnty
		,@QntyInText
		,@AdType
		--,@PDId
		,@IsAdd
		)
		--SELECT @@IDENTITY  
END