
GO
/****** Object:  StoredProcedure [dbo].[USP_RO_SaveAssignedCostCenter]    Script Date: 10/13/2017 4:10:10 PM ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE procedure [dbo].[USP_RO_SaveAssignedCostCenter]
@UserName nvarchar(500),
@CostCenterName nvarchar(500)
AS

UPDATE Users
SET AssignedCostCentre=@CostCenterName
WHERE Username=@UserName;


GO
