
GO
/****** Object:  StoredProcedure [dbo].[USP_RO_GETUNIT]    Script Date: 10/13/2017 4:10:10 PM ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE PROCEDURE [dbo].[USP_RO_GETUNIT]    
AS    
BEGIN    
SELECT * FROM dbo.RO_Units    
end    
    
    
    

GO
