
GO
/****** Object:  StoredProcedure [dbo].[USP_RO_GETIITEM]    Script Date: 10/13/2017 4:10:10 PM ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO

CREATE PROCEDURE [dbo].[USP_RO_GETIITEM]  
AS  
BEGIN  
select *  from ROI_ITEMMain m    
join ROI_ItemDetails d on d.ITId = m.ITId  
end  
  

GO
