
GO
/****** Object:  StoredProcedure [dbo].[usp_SageBannerDeleteBannerAndItsContentByBannerID]    Script Date: 10/13/2017 4:10:10 PM ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO

CREATE PROCEDURE [dbo].[usp_SageBannerDeleteBannerAndItsContentByBannerID]
@BannerID INT
AS
BEGIN
 DELETE FROM SageBanner WHERE BannerID=@BannerID
 DELETE FROM BannerImage WHERE BannerID=@BannerID
END



GO
