
GO
/****** Object:  StoredProcedure [dbo].[usp_ac_SaveVerifiedTransactionDetails]    Script Date: 10/13/2017 4:10:10 PM ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
create PROC [dbo].[usp_ac_SaveVerifiedTransactionDetails] @TransactionID INT
	,@FinancialAcID INT
	,@ChequeNo nvarchar=null
	,@ChequeDate nvarchar(256)=null
	,@Particulars NVARCHAR(256)
	,@Debit DECIMAL(18, 2)
	,@Credit DECIMAL(18, 2)
AS
INSERT INTO Ac_TransactionDetail (
	[TransactionID]
	,[FinancialAcID]
	,[ChequeNo]
	,[ChequeDate]
	,[Particulars]
	,[Debit]
	,[Credit]
	)
VALUES (
	@TransactionID
	,@FinancialAcID
	,@ChequeNo
	,@ChequeDate
	,@Particulars
	,@Debit
	,@Credit
	)

GO
