
GO
/****** Object:  StoredProcedure [dbo].[USP_GETDATABYMONTHLY]    Script Date: 10/13/2017 4:10:10 PM ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE PROC [dbo].[USP_GETDATABYMONTHLY] @year VARCHAR(10)
	,@month VARCHAR(10)
AS
BEGIN
	SELECT om.BillDate
		,om.NetAmount
		,om.Waiter
		,rt.restrotableTitle
		,rr.restroRoom
		,'RO' + fy.fyName + '-' + cast((om.salesMasterId - fy.FirstSalesMasterID) AS VARCHAR(20)) AS billNo
		,om.TableId
		,salesMasterId
		,om.OrderMasterId
		,om.PrintCount
	FROM dbo.RO_SalesMaster om
	LEFT JOIN dbo.RO_restroTable rt ON rt.restrotableId = om.TableId
	LEFT JOIN RO_RestroRoom rr ON rr.restroRoomId = om.RoomId
	--where EXTRACT(Year FROM om.Date), EXTRACT(Month FROM om.Date)  = '2015-11'
	INNER JOIN RO_fiscalYear fy ON fy.fyId = om.FiscalYearID
	WHERE Year(om.BillDate) = @year
		AND Month(om.BillDate) = @month
		AND om.IsArchived = 0
END


GO
