
GO
/****** Object:  StoredProcedure [dbo].[usp_MenuMgrAddExternalLink]    Script Date: 10/13/2017 4:10:10 PM ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO

CREATE PROCEDURE [dbo].[usp_MenuMgrAddExternalLink]
 @MenuID INT,
 @MenuItemID INT,
 @LinkType NVARCHAR(50),
 @Title NVARCHAR(50),
 @LinkURL NVARCHAR(200),
 @ImageIcon NVARCHAR(100),
 @Caption NVARCHAR(2000),
 @ParentID NVARCHAR(50),
 @MenuLevel NVARCHAR(50),
 @MenuOrder NVARCHAR(50),
 @IsVisible BIT,
 @IsActive BIT,
 @Mode NVARCHAR(50)
AS
BEGIN
 DECLARE @GetMenuOrder INT, @PortalID INT;
 SET @PortalID = (
       SELECT 
         ISNULL( MAX(PortalID),0) 
       FROM 
        Menu 
       WHERE 
        MenuID=@MenuID
      )
 SET @GetMenuOrder = (
       SELECT 
        ISNULL(MAX(MenuOrder),0) 
       FROM 
        MenuItem 
       WHERE 
         MenuID=@MenuID 
        AND MenuLevel=@MenuLevel 
        AND ParentID=@ParentID 
      )
 SET @GetMenuOrder = @GetMenuOrder + 1
  IF @Mode='A'
   BEGIN
    INSERT INTO MenuItem
         (
           MenuID
          ,LinkType
          ,Title
          ,LinkURL 
          ,ImageIcon 
          ,Caption 
          ,ParentID 
          ,MenuLevel 
          ,MenuOrder
          ,IsActive
          ,IsVisible 
          ,AddedOn
          ,PortalID
         )
        VALUES
         (
           @MenuID
          ,@LinkType
          ,@Title
          ,@LinkURL 
          ,@ImageIcon 
          ,@Caption 
          ,@ParentID
          ,@MenuLevel 
          ,@GetMenuOrder
          ,@IsActive 
          ,@IsVisible
          ,GETDATE()
          ,@PortalID
         )
   END
  ELSE
   BEGIN
       UPDATE 
     MenuItem
       SET 
     Title=@Title,
     LinkURL=@LinkURL,
     ImageIcon=@ImageIcon,
     Caption=@Caption,
     ParentID=@ParentID,
     MenuLevel=@MenuLevel,
     --MenuOrder=@GetMenuOrder,
     IsVisible = @IsVisible, 
     IsActive=@IsActive,
     AddedOn=GETDATE(),
     PortalID=@PortalID
       WHERE 
     MenuItemID=@MenuItemID
   END

END



GO
