
GO
/****** Object:  StoredProcedure [dbo].[USP_ROI_GETPRUCHASEDETAILS]    Script Date: 10/13/2017 4:10:10 PM ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE PROCEDURE [dbo].[USP_ROI_GETPRUCHASEDETAILS]
AS
BEGIN

SELECT * FROM DBO.ROI_PurchaseMain
	--SELECT  IM.ITName, 
	--PD.PurchaseMainID, 
	--PurchaseDetailsID,
	--PM.PuNo
	--FROM DBO.ROI_PurchaseDetails PD
	--INNER JOIN DBO.ROI_ITEMMain IM ON PD.ItemID = IM.ITId
	--INNER JOIN DBO.ROI_PurchaseMain PM ON PM.PurchaseMainID = PD.PurchaseMainID
	--INNER JOIN RO_GoodsReceivedDetls GD ON GD.PDId = PD.PurchaseDetailsID
	
END





GO
