
GO
/****** Object:  StoredProcedure [dbo].[usp_UpdateMemberBalance]    Script Date: 10/13/2017 4:10:11 PM ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
create proc [dbo].[usp_UpdateMemberBalance]
 @paidAmount decimal
 as
--declare @paidAmount decimal=10
update  RO_LoyaltyMembership set 
RemainingBalance=RemainingBalance-@paidAmount,
UptoNowPaid= UptoNowPaid+@paidAmount
select * from RO_LoyaltyMembership

GO
