
GO
/****** Object:  StoredProcedure [dbo].[usp_VaultTotal_validation]    Script Date: 10/13/2017 4:10:11 PM ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
create procedure [dbo].[usp_VaultTotal_validation]
as
select * from tbl_ROVaultTotal rvt where CONVERT(date,rvt.[Date])=CONVERT(date,GETDATE()) and rvt.IsClosing=0


GO
