
GO
/****** Object:  StoredProcedure [dbo].[usp_GetPortalStartUpList]    Script Date: 10/13/2017 4:10:10 PM ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO

--[dbo].[usp_GetPortalStartUpList]0 
CREATE Procedure [dbo].[usp_GetPortalStartUpList]
@IsAdmin BIT
AS
BEGIN
SET NOCOUNT ON;
 SELECT 
  [PortalStartUpID],
  [PortalID],
  [EventLocationName],      
  [ControlUrl] 
      FROM 
  dbo.PortalStartUp 
      WHERE IsActive=1 AND IsAdmin=@IsAdmin AND (IsDeleted=0 OR IsDeleted=NULL)
END



GO
