
GO
/****** Object:  StoredProcedure [dbo].[Usp_AccountGroupSelect]    Script Date: 10/13/2017 4:10:10 PM ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE Proc [dbo].[Usp_AccountGroupSelect] 
(
	@Id Int  
)

As
		
----***************************************** Validation Begin ********************************************************

----***************************************** Validation End ********************************************************
SET NOCOUNT ON
SELECT 
	Id, 
	Code, 
	Name, 
	[Type],
	Schedule 
FROM AccountGroup WHERE  Id = @Id 




GO
