
GO
/****** Object:  StoredProcedure [dbo].[USP_GET_MEMBER_CREDIT_BYID]    Script Date: 10/13/2017 4:10:10 PM ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE PROCEDURE [dbo].[USP_GET_MEMBER_CREDIT_BYID] 
@MembershipID int
AS
BEGIN

select Fname+ ' ' + Lname as Name,
[Address],
TelMobile,
CardNumber
,RemainingBalance
--COALESCE(count(RemainingBalance), 0) as RemainingBalance,
--isnull(RemainingBalance,0) as RemainingBalance,
,MembershipID,
UptoNowPaid, PAN
 from RO_LoyaltyMembership 

where MembershipID=@MembershipID


END
--[dbo].[USP_GET_MEMBER_CREDIT_BYID] 4

--select * from tbl_cus_credit
--select * from RO_LoyaltyMembership
--update RO_LoyaltyMembership set RemainingBalance=0

GO
