
GO
/****** Object:  StoredProcedure [dbo].[usp_ro_saveflatandPerdiscount]    Script Date: 10/13/2017 4:10:10 PM ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE PROC [dbo].[usp_ro_saveflatandPerdiscount]
--@BasicAmount decimal(18,2),
--@TermAmount decimal(18,2),
--@NetAmount decimal(18,2),

@orderMaster int,
@kotdis varchar(128),
@bardis varchar(128),
@isflatdis bit,
@isloyalty bit,
@loyaltydis varchar(128)
AS
BEGIN

	--UPDATE RO_OrderMasters set BasicAmount = @BasicAmount, TermAmount = @TermAmount, NetAmount = @NetAmount where OrderMasterID=  @orderMaster

	DECLARE @flId INT
	SELECT @flId=pfdId FROM ro_flatandPerDiscount WHERE orderMasterId=@orderMaster
	IF(@flId IS NULL)
	BEGIN
		INSERT INTO dbo.ro_flatandPerDiscount
				( 
				  orderMasterId ,
				  kotdis ,
				  bardis ,
				  isflatdis,
				  isLoyalty,
				  loyaltydis
				)
		VALUES  ( @orderMaster,
				@kotdis,
			  @bardis ,
				  @isflatdis,
				  @isloyalty,
				  @loyaltydis 
				 )
	END	
	ELSE
	BEGIN
		UPDATE dbo.ro_flatandPerDiscount SET	
		orderMasterId=@orderMaster,
		kotdis=@kotdis,
		bardis=@bardis,
		isflatdis=@isflatdis,
		isLoyalty=@isloyalty,
		loyaltydis=@loyaltydis
		WHERE pfdId=@flId
	END
END	


GO
