
GO
/****** Object:  StoredProcedure [dbo].[USP_RO_GETITEMRATEBYITEMNAME]    Script Date: 10/13/2017 4:10:10 PM ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO

--USP_RO_GETITEMRATEBYITEMNAME 'buffe'
CREATE PROCEDURE [dbo].[USP_RO_GETITEMRATEBYITEMNAME]
@ItemName nvarchar(250)
AS
BEGIN

select PRate, im.ITId ITName from dbo.ROI_ITEMMain im
INNER JOIN DBO.ROI_ItemDetails ID ON IM.ITId = ID.ITId
INNER JOIN DBO.ROI_ItemRate IR ON IR.ItemID = IM.ITId
WHERE ITName=@ItemName
ORDER BY ITName
 
 END

GO
