
GO
/****** Object:  StoredProcedure [dbo].[usp_SaveTransactionForSales]    Script Date: 10/13/2017 4:10:10 PM ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
-- usp_SaveTransactionForSales 188
create PROC [dbo].[usp_SaveTransactionForSales] @SalesMasterID INT
AS
BEGIN
	DECLARE @PREFX NVARCHAR(10)
		,@VoucherCount INT = 0
		,@VoucherTypeID INT = 16
		,@VoucherNo NVARCHAR(50) = ''
	DECLARE @OrderMasterID INT = (
			SELECT OrderMasterId
			FROM RO_SalesMaster
			WHERE salesMasterId = @SalesMasterID
			)

	SELECT @PREFX = Prefix
		,@VoucherCount = VoucherCount
	FROM Ac_VoucherType
	WHERE VoucherTypeID = @VoucherTypeID

	SET @VoucherCount = @VoucherCount + 1

	UPDATE Ac_VoucherType
	SET VoucherCount = @VoucherCount
	WHERE VoucherTypeID = @VoucherTypeID

	SET @VoucherNo = @PREFX + '-' + cast(@VoucherCount AS VARCHAR(20))

	DECLARE @BillDate DATETIME
		,@Description NVARCHAR(256) = ''

	SELECT @BillDate = BillDate,
		--,@Description = 'Sales Bill No :-' + SM.billNo
		@Description =  ('Sales Bill No :- RO' +  
			(convert (nvarchar(10),fy.fyName)
				 + '-' + convert(nvarchar(10),(sm.InvoiceNo - (fy.firstsalesmasterid)))))
				--WHERE fy.fyid = sm.fiscalyearid
	FROM RO_SalesMaster SM
	INNER JOIN RO_fiscalYear FY ON SM.FiscalYearID = FY.fyId
		AND SM.salesMasterId = @SalesMasterID

	--select @PREFX,@VoucherCount,@VoucherTypeID,@BillDate,@Description,@VoucherNo
	DECLARE @TransactionID INT = 0

	INSERT INTO Ac_TempTransaction (
		TransactionDate
		,VoucherTypeID
		,VoucherNo
		,Descriptions
		,PostedBy
		,PostedOn
		)
	VALUES (
		@BillDate
		,@VoucherTypeID
		,@VoucherNo
		,@Description
		,'System'
		,@BillDate
		)

	SET @TransactionID = @@IDENTITY

	DECLARE @DiscountMethod NVARCHAR(20) = ''
		,@Discount DECIMAL(16, 2)
	-- Food Sales
	DECLARE @FoodSales DECIMAL(16, 2) = 0;

	SELECT @FoodSales = sum(rate * qty)
	FROM RO_SalesDetail
	WHERE salesMasterId = @SalesMasterID
		AND IsCombo = 0
		AND CostCenterId = 1

	IF @FoodSales IS NOT NULL
	BEGIN
		SELECT TOP 1 @DiscountMethod = isflatdis
			,@Discount = kotdis
		FROM ro_flatandPerDiscount
		WHERE orderMasterId = @OrderMasterID

		--AND IsCombo = 0
		--AND CostCenterId = 1
		-- select * from ro_flatandPerDiscount
		IF @DiscountMethod = 0
			SET @FoodSales = @FoodSales * (1 - (@Discount / 100))
		ELSE
			SET @FoodSales = @FoodSales - @Discount

		INSERT INTO Ac_TempTransactionDetail (
			TransactionID
			,FinancialAcID
			,MemberShipID
			,Particulars
			,Debit
			,Credit
			)
		VALUES (
			@TransactionID
			,19
			,NULL
			,'Food Sales(KOT)'
			,0
			,@FoodSales
			)
	END

	-- BAR Sales
	SET @FoodSales = NULL;

	SELECT @FoodSales = sum(rate * qty)
	FROM RO_SalesDetail
	WHERE salesMasterId = @SalesMasterID
		AND IsCombo = 0
		AND CostCenterId = 2

	IF @FoodSales IS NOT NULL
	BEGIN
		SELECT TOP 1 @DiscountMethod = isflatdis
			,@Discount = bardis
		FROM ro_flatandPerDiscount
		WHERE orderMasterId = @OrderMasterID

		IF @DiscountMethod = 0
			SET @FoodSales = @FoodSales * (1 - (@Discount / 100))
		ELSE
			SET @FoodSales = @FoodSales - @Discount

		INSERT INTO Ac_TempTransactionDetail (
			TransactionID
			,FinancialAcID
			,MemberShipID
			,Particulars
			,Debit
			,Credit
			)
		VALUES (
			@TransactionID
			,20
			,NULL
			,'BAR Item Sakes(BOT)'
			,0
			,@FoodSales
			)
	END

	---- Room Sales
	--SET @FoodSales = NULL;
	--SELECT @FoodSales = sum(rate * qty)
	--FROM RO_SalesDetail
	--WHERE salesMasterId = @SalesMasterID
	--	AND IsCombo = 0
	--	AND CostCenterId = 3
	--IF @FoodSales IS NOT NULL
	--BEGIN
	--	SELECT TOP 1 @DiscountMethod = DiscountMethod
	--		,@Discount = CCDiscount
	--	FROM RO_SalesDetail
	--	WHERE salesMasterId = @SalesMasterID
	--		AND IsCombo = 0
	--		AND CostCenterId = 3
	--	IF @DiscountMethod = 'Percent'
	--		SET @FoodSales = @FoodSales * (1 - (@Discount / 100))
	--	ELSE
	--		SET @FoodSales = @FoodSales - @Discount
	--	INSERT INTO Ac_TempTransactionDetail (
	--		TransactionID
	--		,FinancialAcID
	--		,MemberShipID
	--		,Particulars
	--		,Debit
	--		,Credit
	--		)
	--	VALUES (
	--		@TransactionID
	--		,22
	--		,NULL
	--		,'Room '
	--		,0
	--		,@FoodSales
	--		)
	--END
	---- Bakery Cafe Sales
	--SET @FoodSales = NULL;
	--SELECT @FoodSales = sum(rate * qty)
	--FROM RO_SalesDetail
	--WHERE salesMasterId = @SalesMasterID
	--	AND IsCombo = 0
	--	AND CostCenterId = 95
	--IF @FoodSales IS NOT NULL
	--BEGIN
	--	SELECT TOP 1 @DiscountMethod = DiscountMethod
	--		,@Discount = CCDiscount
	--	FROM RO_SalesDetail
	--	WHERE salesMasterId = @SalesMasterID
	--		AND IsCombo = 0
	--		AND CostCenterId = 95
	--	IF @DiscountMethod = 'Percent'
	--		SET @FoodSales = @FoodSales * (1 - (@Discount / 100))
	--	ELSE
	--		SET @FoodSales = @FoodSales - @Discount
	--	INSERT INTO Ac_TempTransactionDetail (
	--		TransactionID
	--		,FinancialAcID
	--		,MemberShipID
	--		,Particulars
	--		,Debit
	--		,Credit
	--		)
	--	VALUES (
	--		@TransactionID
	--		,32
	--		,NULL
	--		,'Bakery Cafe Sales  '
	--		,0
	--		,@FoodSales
	--		)
	--END
	---- Other Sales
	--SET @FoodSales = NULL;
	--SELECT @FoodSales = sum(rate * qty)
	--FROM RO_SalesDetail
	--WHERE salesMasterId = @SalesMasterID
	--	AND IsCombo = 0
	--	AND CostCenterId NOT IN (
	--		1
	--		,2
	--		,3
	--		,95
	--		)
	--IF @FoodSales IS NOT NULL
	--BEGIN
	--	SELECT TOP 1 @DiscountMethod = DiscountMethod
	--		,@Discount = CCDiscount
	--	FROM RO_SalesDetail
	--	WHERE salesMasterId = @SalesMasterID
	--		AND IsCombo = 0
	--		AND CostCenterId NOT IN (
	--			1
	--			,2
	--			,3
	--			,95
	--			)
	--	IF @DiscountMethod = 'Percent'
	--		SET @FoodSales = @FoodSales * (1 - (@Discount / 100))
	--	ELSE
	--		SET @FoodSales = @FoodSales - @Discount
	--	INSERT INTO Ac_TempTransactionDetail (
	--		TransactionID
	--		,FinancialAcID
	--		,MemberShipID
	--		,Particulars
	--		,Debit
	--		,Credit
	--		)
	--	VALUES (
	--		@TransactionID
	--		,32
	--		,NULL
	--		,'Other Sales  '
	--		,0
	--		,@FoodSales
	--		)
	--END
	---- Combo Sales
	--SET @FoodSales = NULL;
	--SELECT @FoodSales = sum(rate * qty)
	--FROM RO_SalesDetail
	--WHERE salesMasterId = @SalesMasterID
	--	AND IsCombo = 1
	--IF @FoodSales IS NOT NULL
	--BEGIN
	--	SELECT TOP 1 @DiscountMethod = DiscountMethod
	--		,@Discount = CCDiscount
	--	FROM RO_SalesDetail
	--	WHERE salesMasterId = @SalesMasterID
	--		AND IsCombo = 1
	--	IF @DiscountMethod = 'Percent'
	--		SET @FoodSales = @FoodSales * (1 - (@Discount / 100))
	--	ELSE
	--		SET @FoodSales = @FoodSales - @Discount
	--	INSERT INTO Ac_TempTransactionDetail (
	--		TransactionID
	--		,FinancialAcID
	--		,MemberShipID
	--		,Particulars
	--		,Debit
	--		,Credit
	--		)
	--	VALUES (
	--		@TransactionID
	--		,33
	--		,NULL
	--		,'Combo Sales  '
	--		,0
	--		,@FoodSales
	--		)
	--END
	-- Service Charge
	SET @FoodSales = NULL;

	SELECT @FoodSales = Amount
	FROM RO_BillingAmount
	WHERE salesMasterId = @SalesMasterID
		AND BilingID = 62

	--IF @FoodSales IS NOT NULL
	IF ISNULL(@FoodSales, 0) <> 0
		INSERT INTO Ac_TempTransactionDetail (
			TransactionID
			,FinancialAcID
			,MemberShipID
			,Particulars
			,Debit
			,Credit
			)
		VALUES (
			@TransactionID
			,31
			,NULL
			,'Service Charge '
			,0
			,@FoodSales
			)

	-- VAT 
	SET @FoodSales = NULL;

	DECLARE @Percentage DECIMAL(10, 2) = 0;

	--SELECT @FoodSales = Amount
	--	,@Percentage = [Percent]
	--FROM UsedBillingTerm
	--WHERE salesMasterId = @SalesMasterID
	--	AND BillingTerm = 'VAT'
	SELECT @FoodSales = Amount
	FROM RO_BillingAmount
	WHERE salesMasterId = @SalesMasterID
		AND BilingID = 54

	--SET @FoodSales = @FoodSales * @Percentage / 100
	IF ISNULL(@FoodSales, 0) <> 0
		INSERT INTO Ac_TempTransactionDetail (
			TransactionID
			,FinancialAcID
			,MemberShipID
			,Particulars
			,Debit
			,Credit
			)
		VALUES (
			@TransactionID
			,30
			,NULL
			,'VAT '
			,0
			,@FoodSales
			)

	-- Total Cash 
	SET @FoodSales = NULL;

	SELECT @FoodSales = NetAmount
	FROM RO_SalesMaster
	WHERE salesMasterId = @SalesMasterID

	IF ISNULL(@FoodSales, 0) <> 0
		INSERT INTO Ac_TempTransactionDetail (
			TransactionID
			,FinancialAcID
			,MemberShipID
			,Particulars
			,Debit
			,Credit
			)
		VALUES (
			@TransactionID
			,10
			,NULL
			,'Cash Received '
			,@FoodSales
			,0
			)
END
	--select * from  Ac_FinancialAc
GO
