
GO
/****** Object:  StoredProcedure [dbo].[sp_PropertyTypeList]    Script Date: 10/13/2017 4:10:10 PM ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO

CREATE PROCEDURE [dbo].[sp_PropertyTypeList]
AS

SELECT
 [PropertyTypeID],
 [Name]
FROM [dbo].[PropertyType]



GO
