
GO
/****** Object:  StoredProcedure [dbo].[usp_SageBannerGetHTMLContentForEditByID]    Script Date: 10/13/2017 4:10:10 PM ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO

CREATE PROCEDURE [dbo].[usp_SageBannerGetHTMLContentForEditByID]
@ImageID INT 
AS
BEGIN
 SELECT ImageID,HTMLBodyText,NavigationImage FROM BannerImage WHERE ImageID=@ImageID AND DATALENGTH(HTMLBodyText)>0
END



GO
