
GO
/****** Object:  StoredProcedure [dbo].[usp_GetMonthlyVisit]    Script Date: 10/13/2017 4:10:10 PM ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO

CREATE PROC [dbo].[usp_GetMonthlyVisit]
AS
BEGIN
SELECT COUNT(*) AS [VisitTime] 
FROM SessionTracker
WHERE DATENAME(MONTH,[start] ) = DATENAME(mm,GETDATE()) 
END



GO
