
GO
/****** Object:  StoredProcedure [dbo].[usp_ac_SaveTransactionDetails]    Script Date: 10/13/2017 4:10:10 PM ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE PROC [dbo].[usp_ac_SaveTransactionDetails] @TransactionID INT
	,@FinancialAcID INT
	,@ChequeNo NVARCHAR = NULL
	,@ChequeDate NVARCHAR(256) = NULL
	,@Particulars NVARCHAR(256)
	,@Debit DECIMAL(18, 2)
	,@Credit DECIMAL(18, 2)
AS
BEGIN
	INSERT INTO Ac_TempTransactionDetail (
		[TransactionID]
		,[FinancialAcID]
		,[ChequeNo]
		,[ChequeDate]
		,[Particulars]
		,[Debit]
		,[Credit]
		)
	VALUES (
		@TransactionID
		,@FinancialAcID
		,@ChequeNo
		,@ChequeDate
		,@Particulars
		,@Debit
		,@Credit
		)
END

GO
