
GO
/****** Object:  StoredProcedure [dbo].[usp_ac_getVoucharTypeForDropDown]    Script Date: 10/13/2017 4:10:10 PM ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
--*****************sp_10*********************
CREATE proc [dbo].[usp_ac_getVoucharTypeForDropDown]
as
select VoucherTypeID,VoucherName,Prefix from Ac_VoucherType where  IsArchived=0
--*************sp_11*****************

GO
