
GO
/****** Object:  StoredProcedure [dbo].[USP_RO_COMBOSAVE]    Script Date: 10/13/2017 4:10:10 PM ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE PROCEDURE [dbo].[USP_RO_COMBOSAVE]    
@ComboID INT,    
@Name NVARCHAR(250),    
@Description NVARCHAR(MAX),    
@ComboCode NVARCHAR(250),    
@ImagePath NVARCHAR(250),    
@StartDate DATETIME,    
@EndDate DATETIME,  
@CostCenter INT,    
@SalesPrice DECIMAL(14, 4),    
@ItemsSalesCost DECIMAL(14, 4),    
@IsActive BIT,    
@AddedBy NVARCHAR(250)  
  
    
AS    
BEGIN 
DECLARE @ItemID INT;   
 INSERT INTO RO_Combo (    
 Name,    
 Description,    
 ComboCode,    
 ImagePath,    
 StartDate,    
 EndDate,  
 CostCenterID,   
 SalesPrice,    
 ItemsSalesCost,    
 IsActive,    
 AddedBy,    
 IsDeleted) VALUES(    
 @Name,    
 @Description,    
 @ComboCode,    
 @ImagePath,    
 @StartDate,    
 @EndDate,   
 @CostCenter ,  
 @SalesPrice,    
 @ItemsSalesCost,    
 @IsActive,    
 @AddedBy,    
 0)
 SELECT @ItemID= @@IDENTITY  
 INSERT INTO [dbo].[ROI_ItemRateHistory]
           ([ItemID]
           ,[IsCombo]
           ,[AddedBy],OPERATION,Rate)
     VALUES
           (@ItemID
           ,1
           ,@AddedBy,1,@SalesPrice);
		   SELECT @ItemID
END

GO
