
GO
/****** Object:  StoredProcedure [dbo].[USP_RO_GETINVITEMOrderLevel]    Script Date: 10/13/2017 4:10:10 PM ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
create PROCEDURE [dbo].[USP_RO_GETINVITEMOrderLevel]
@ParentId int
AS
BEGIN
select m.PITId as parentId,m.ITId as ItemId, m.ITName as ItemName , d.ROrderLevel as OrderLevel
 from ROI_ITEMMain m  Inner Join ROI_ItemDetails d on m.ITId = d.ITId
 where m.ITId = @ParentId
end


GO
