
GO
/****** Object:  StoredProcedure [dbo].[ROI_GetUnit1]    Script Date: 10/13/2017 4:10:10 PM ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
--sp_helptext ROI_GetUnit1
CREATE proc [dbo].[ROI_GetUnit1]  
as  
begin  
select * from ROI_Unit1  where IsArchived=0
end  


GO
