
GO
/****** Object:  StoredProcedure [dbo].[USP_RO_UPDATECOMBOISACTIVE]    Script Date: 10/13/2017 4:10:10 PM ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE PROCEDURE [dbo].[USP_RO_UPDATECOMBOISACTIVE]
@ComboID INT
AS
BEGIN
update RO_Combo Set IsActive = ~IsActive where ComboID = @ComboID
END





GO
