
GO
/****** Object:  StoredProcedure [dbo].[USP_RO_DELTEORDERDETAIL]    Script Date: 10/13/2017 4:10:10 PM ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE PROCEDURE [dbo].[USP_RO_DELTEORDERDETAIL]
@OrderMasterId INT,
@UserName nvarchar(256)
AS
BEGIN

DELETE FROM RO_Order_Detail WHERE OrderMasterId = @OrderMasterId
--update RO_Order_Detail 
--set IsArchived=1,
--ArchivedOn=GetDate(),
--ArchivedBy=@UserName
--WHERE OrderMasterId = @OrderMasterId
end



GO
