
GO
/****** Object:  StoredProcedure [dbo].[USP_ROI_Store]    Script Date: 10/13/2017 4:10:10 PM ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO

CREATE procedure [dbo].[USP_ROI_Store]
as
begin

;WITH StoreTree-- (STId,StName , PSTId, Level,Id)
AS
(
-- Anchor member definition
SELECT STId,StName , PSTId, 0 AS Level
FROM ROI_Store (NOLOCK)
WHERE PSTId =0
UNION ALL
-- Recursive member definition
SELECT c.STId,c.StName, c.PSTId, Level + 1
FROM ROI_Store c--
INNER JOIN StoreTree ct
ON c.PSTId = ct.STId
)
select REPLICATE('-',Level)+' '+StName as s ,* from StoreTree
order by STId

--SELECT Child.STId as StoreId,Child.StName, Parent.StName as PName,*
--    FROM dbo.ROI_Store AS Child
--    LEFT JOIN dbo.ROI_Store AS Parent ON Child.PSTId = Parent.STId;
--select STId as StoreId ,  PSTId, STId, StName from dbo.ROI_Store
end





GO
