.itmname {
    background: rgba(0, 0, 0, 0.65);
    color: #fff;
    padding: 4px;
    font-size: 10pt;
    min-height: 40px;
    height: auto;
    text-align: center;
}
    .itmname.noImage {
        background: rgb(116 65 13) !important;
        display: flex !important;
        align-items: center !important;
        height: 100% !important;
        justify-content: center !important;
    }

.owl-prev {
    top: -70% !important;
    transform: translateY(-70%);
}

.owl-next {
    top: -70% !important;
    transform: translateY(-70%);
}

.itmname:hover {
    background: rgb(146, 112, 76);
    transition: all linear 0.3s;
}
