.itmname {
    bottom: -10px;
    left: 0px;
    right: 25px;
    font-family: 'RobotoCondensed-Regular';
    padding-left: 2px;
    font-size: 10pt;
    background: rgb(14 8 1);
    color: #fff;
    cursor: pointer;
    min-height: 40px;
    text-align: center;
    position: absolute;
    display: flex;
    justify-content: center;
    align-items: center;
}
    .itmname.noImage {
        background: rgb(116 65 13) !important;
        display: flex !important;
        align-items: center !important;
        height: 100% !important;
        justify-content: center !important;
        position: relative !important;
    }

.owl-prev {
    top: -70% !important;
    transform: translateY(-70%);
}

.owl-next {
    top: -70% !important;
    transform: translateY(-70%);
}

.itmname:hover {
    background: rgb(146, 112, 76);
    transition: all linear 0.3s;
}
